Repository apitable/apitable: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install_cypress, build_vika_design, deploy_vika_design, build_widget_stage, deploy_widget_stage

install_cypress:
  before_script:
  - yarn config get npmRegistryServer
  - yarn config set npmRegistryServer https://nexus.vika.ltd/repository/npm-group/
  tags:
  - node
  stage: install
  image: node:$NODE_JS_VERSION-alpine
  when: manual
  cache:
    key: ${CI_PROJECT_NAME}_${CI_COMMIT_REF_NAME}
    paths:
    - node_modules/
  ...

build_vika_design:
  before_script:
  - yarn config get npmRegistryServer
  - yarn config set npmRegistryServer https://nexus.vika.ltd/repository/npm-group/
  stage: build
  image: node:$NODE_JS_VERSION-alpine
  script:
  - echo "build vika design components"
  - yarn workspaces focus @vikadata/components
  - yarn build:icons
  ...

deploy_vika_design:
  script:
  - aws s3 cp packages/components/styleguide s3://bundle.vika.ltd/component  --recursive --include "*"
  stage: deploy
  dependencies:
  - build_vika_design
  image: vikadata/dind-aws-node

build_widget_stage:
  tags:
  - node
  stage: build
  image: node:$NODE_JS_VERSION-alpine
  artifacts:
    name: ${CI_PROJECT_NAME}_${CI_JOB_NAME}_${CI_COMMIT_REF_NAME}_${CI_COMMIT_SHA}_widget_stage
    paths:
    - packages/widget-stage/build/
    expire_in: 1 weeks

deploy_widget_stage:
  tags:
  - node
  stage: deploy
  needs:
  - job: build_widget_stage
  image: vikadata/dind-aws-node
  before_script:
  - WIDGET_STAGE_ENV=$(echo $CI_COMMIT_REF_NAME)
  services:
  - name: vikadata/dind-aws-node
    command:
    - --registry-mirror=https://nt14bg6k.mirror.aliyuncs.com
  variables:
    GIT_STRATEGY: none
  ...

refactor(socket): remove interface-oriented programming and add redis unit tests (#1625)
  packages/socket-server/src/grpc/client/grpc.client.ts
  packages/socket-server/src/grpc/client/vika.grpc.client.proxy.ts
  packages/socket-server/src/grpc/client/vika.grpc.client.proxy.xxljob.ts
  packages/socket-server/src/socket/service/nest/nest.interface.ts
  packages/socket-server/src/socket/service/nest/nest.service.ts
  packages/socket-server/src/socket/service/notification/i-notification-service.interface.ts
  packages/socket-server/src/socket/service/notification/notification.service.ts
  packages/socket-server/src/socket/service/redis/i-redis-service.interface.ts
  packages/socket-server/src/socket/service/redis/redis-config.factory.ts
  packages/socket-server/src/socket/service/redis/redis.provider.ts
  packages/socket-server/src/socket/service/redis/redis.service.spec.ts
  packages/socket-server/src/socket/service/redis/redis.service.ts
  packages/socket-server/src/socket/service/room/room.service.ts
  packages/socket-server/src/socket/service/socket-io/socket-config.factory.ts
  packages/socket-server/src/socket/service/socket-io/socket-io.service.ts
Due: none

fix: unit type error (#1627)
  packages/datasheet/src/pc/components/konva_grid/components/cell/cell_member/cell_member.tsx
  packages/datasheet/src/pc/components/konva_grid/components/cell/cell_member/member_item.tsx
  packages/datasheet/src/pc/components/konva_grid/utils/cell_helper.ts
  packages/datasheet/src/pc/components/space_manage/space_member_manage/modal/create_team_modal/create_team_modal.tsx
Due: none

style: message length log for pub-sub (#1626)
  packages/room-server/src/database/controllers/grpc.controller.ts
  packages/room-server/src/proto/client/grpc.socket.client.ts
  packages/room-server/src/proto/util/pack.message.ts
Due: none

fix: room-server eslint error (#1628)
  package.json
  packages/core/package.json
  packages/room-server/tsconfig.json
  yarn.lock
Due: build_widget_stage, deploy_widget_stage

fix: fusion api view group sort (#1633)
  packages/room-server/src/fusion/field/index.ts
  packages/room-server/src/fusion/field/single.text.field.ts
  packages/room-server/src/fusion/fusion.api.module.ts
  packages/room-server/src/fusion/services/fusion.api.service.ts
  packages/room-server/src/fusion/transformer/fusion.api.transformer.ts
Due: none

feat: modify node share annotation (#1634)
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/workspace/service/impl/NodeShareServiceImpl.java
Due: none

fix: generate lang remove static files (#1639)
  packages/core/src/config/system_config.auto.json
  packages/core/src/config/system_config.interface.ts
  packages/core/src/i18n/stringkeys.interface.ts
  packages/core/src/i18n/strings.interface.ts
  packages/i18n-lang/src/config/strings.auto.json
  packages/i18n-lang/src/config/strings.json
  packages/i18n-lang/src/generateLang.ts
Due: build_widget_stage, deploy_widget_stage

refactor: resolve the conflict of merging into develop with 0.13.9 (#1631)
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/finance/strategy/impl/DingTalkOrderServiceImpl.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/util/billing/DingTalkPlanConfigManager.java
Due: none

fix: make config interface (#1641)
  packages/core/src/config/system_config.auto.json
  packages/core/src/config/system_config.interface.ts
Due: build_widget_stage, deploy_widget_stage

Feat/embedded demand (#1644)
  packages/datasheet/src/pc/components/common/node_info_bar/node_info_bar.tsx
  packages/datasheet/src/pc/components/share/share.tsx
  packages/datasheet/src/pc/components/share/share_menu/operation_card/operation_card.tsx
  packages/datasheet/src/pc/components/share/style.module.less
  packages/datasheet/src/pc/utils/env.ts
Due: none

style(room-server): complete comment translation in ot servier (#1642)
  packages/room-server/src/database/services/ot/datasheet.ot.service.ts
Due: none

feat: add create embed link table sql (#1645)
  init-db/src/main/resources/db/changelog/0.13/20221102_changeset.xml
  init-db/src/main/resources/db/changelog/0.13/master.xml
Due: none

chore: reformat automation modular code (#1651)
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/automation/controller/AutomationOpenApiController.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/automation/mapper/AutomationActionMapper.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/automation/mapper/AutomationActionTypeMapper.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/automation/mapper/AutomationRobotMapper.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/automation/mapper/AutomationTriggerMapper.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/automation/mapper/AutomationTriggerTypeMapper.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/automation/model/AutomationActionVo.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/automation/model/AutomationApiRobotRo.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/automation/model/AutomationApiTriggerCreateRo.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/automation/model/AutomationApiTriggerRo.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/automation/model/AutomationRobotDto.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/automation/model/AutomationRobotUpdateRo.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/automation/model/AutomationRobotVo.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/automation/model/AutomationServiceDto.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/automation/model/AutomationTriggerTypeDto.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/automation/service/IAutomationActionService.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/automation/service/IAutomationActionTypeService.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/automation/service/IAutomationRobotService.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/automation/service/IAutomationTriggerService.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/automation/service/IAutomationTriggerTypeService.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/automation/service/impl/AutomationActionServiceImpl.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/automation/service/impl/AutomationActionTypeServiceImpl.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/automation/service/impl/AutomationRobotServiceImpl.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/automation/service/impl/AutomationTriggerServiceImpl.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/automation/service/impl/AutomationTriggerTypeServiceImpl.java
  backend-server/vikadata-service/vikadata-service-api/src/main/resources/mapper/automation/AutomationActionMapper.xml
  backend-server/vikadata-service/vikadata-service-api/src/main/resources/mapper/automation/AutomationActionTypeMapper.xml
  backend-server/vikadata-service/vikadata-service-api/src/main/resources/mapper/automation/AutomationTriggerMapper.xml
  backend-server/vikadata-service/vikadata-service-api/src/main/resources/mapper/automation/AutomationTriggerTypeMapper.xml
Due: none

feat: add oneacess and teg (#1598)
  backend-server/vikadata-boot-autoconfigure/src/main/java/com/vikadata/boot/autoconfigure/FilterChainOrdered.java
  backend-server/vikadata-boot-autoconfigure/src/main/java/com/vikadata/boot/autoconfigure/teg/DefaultUnauthorizedResponseCustomizer.java
  backend-server/vikadata-boot-autoconfigure/src/main/java/com/vikadata/boot/autoconfigure/teg/SmartProxyAutoConfiguration.java
  backend-server/vikadata-boot-autoconfigure/src/main/java/com/vikadata/boot/autoconfigure/teg/SmartProxyFilter.java
  backend-server/vikadata-boot-autoconfigure/src/main/java/com/vikadata/boot/autoconfigure/teg/TegProperties.java
  backend-server/vikadata-boot-autoconfigure/src/main/java/com/vikadata/boot/autoconfigure/teg/UnauthorizedResponseCustomizer.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/config/TegAdapterConfig.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/config/properties/OneAccessProperties.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/enums/exception/UserException.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/social/controller/OneAccessController.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/social/model/OneAccessBaseRo.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/social/model/OneAccessBaseVo.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/social/model/OneAccessCopyInfoRo.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/social/model/OneAccessCreateVo.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/social/model/OneAccessOrgCreateRo.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/social/model/OneAccessOrgDeleteRo.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/social/model/OneAccessOrgUpdateRo.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/social/model/OneAccessTokenResponse.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/social/model/OneAccessUserCreateRo.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/social/model/OneAccessUserDeleteRo.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/social/model/OneAccessUserInfoResponse.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/social/model/OneAccessUserSchemaVo.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/social/model/OneAccessUserUpdateRo.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/social/service/IOneAccessService.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/social/service/IOneAccessWeComService.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/social/service/impl/OneAccessServiceImpl.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/social/service/impl/OneAccessWeComServiceImpl.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/social/util/AESCipher.java
  backend-server/vikadata-service/vikadata-service-api/src/main/resources/application.yml
Due: none

fix: tooltip dark mode UI (#1652)
  packages/datasheet/src/pc/components/common/info_card/style.module.less
  packages/datasheet/src/pc/styles/global_components/other.less
  packages/datasheet/src/pc/styles/global_components/tooltip.less
Due: none

fix: breadcrumb rendering issues (#1653)
  packages/datasheet/src/pc/components/catalog/permission_settings/permission/select_unit_modal/style.module.less
  packages/datasheet/src/pc/components/datasheet_search_panel/style.module.less
Due: none

Style/anglicize remaining comments (#1654)
  packages/room-server/src/app.module.ts
  packages/room-server/src/shared/entities/base.entity.ts
  packages/room-server/src/shared/helpers/snowflake.ts
  packages/room-server/src/shared/middleware/middleware.module.ts
  packages/room-server/src/shared/services/java/java.module.ts
  packages/room-server/src/shared/services/java/java.service.ts
  packages/room-server/src/shared/shared.module.ts
Due: none

Revert "Feat/embedded demand (#1644)" (#1656)
  packages/datasheet/src/pc/components/common/node_info_bar/node_info_bar.tsx
  packages/datasheet/src/pc/components/share/share.tsx
  packages/datasheet/src/pc/components/share/share_menu/operation_card/operation_card.tsx
  packages/datasheet/src/pc/components/share/style.module.less
  packages/datasheet/src/pc/utils/env.ts
Due: none

Fix cola (#1618)
  packages/core/src/config/api_tip_config.interface.ts
  packages/core/src/config/system_config.interface.ts
  packages/datasheet/src/pc/components/view_lock/disabled_view_lock.tsx
  packages/widget-sdk/src/error_handler.tsx
Due: build_widget_stage, deploy_widget_stage

fix: rows cache results with errors (#1650)
  packages/core/src/cache_manager/cache.ts
  packages/core/src/event_manager/events/datasheet/cell_updated.ts
Due: build_widget_stage, deploy_widget_stage

Fix cola (#1658)
  packages/datasheet/src/pc/components/invite/invite_outsider/invite_outsider_modal.tsx
  packages/datasheet/src/pc/components/robot/robot_detail/magic_variable_container/helper.ts
  packages/widget-sdk/src/error_handler.tsx
Due: build_widget_stage, deploy_widget_stage

fix: update capacity value (#1659)
  packages/datasheet/src/pc/components/upload_modal/memory/memory.tsx
  packages/room-server/src/shared/services/rest/rest.service.ts
Due: none

fix: upgrade antd tooltip style (#1663)
  packages/datasheet/src/pc/styles/global_components/other.less
  packages/datasheet/src/pc/styles/global_components/tooltip.less
Due: none

fix: invite modal style (#1661)
  packages/datasheet/src/pc/components/invite/invite_outsider/style.module.less
Due: none

fix: gantt select style (#1664)
  packages/datasheet/src/pc/components/gantt_view/components/setting_panel/style.module.less
Due: none

fix(redis): init fail (#1666)
  backend-server/application/src/main/java/com/vikadata/api/config/RedisConfig.java
Due: none

Chore bumpversion (#1667)
  .bumpversion.cfg
  .version
  Makefile
  backend-server/.version
  backend-server/application/src/main/java/com/vikadata/api/config/RedisConfig.java
  backend-server/gradle.properties
  init-db/.version
  package.json
  packages/components/package.json
  packages/core/package.json
  packages/cypress/package.json
  packages/datasheet/package.json
  packages/i18n-lang/package.json
  packages/icons/package.json
  packages/room-server/package.json
  packages/socket-server/package.json
  packages/widget-sdk/package.json
Due: install_cypress, build_vika_design, deploy_vika_design, build_widget_stage, deploy_widget_stage

chore: revert `regenerator-runtime@0.13.9` (#1669)
  packages/datasheet/package.json
Due: none

chore(backend): revert `default.properties` (#1670)
  backend-server/application/src/main/resources/default.properties
Due: none

chore(backend): revert `default.properties` (#1670) (#1672)
  backend-server/application/src/main/resources/default.properties
Due: none

refactor: move to script/settings (#1671)
  packages/datasheet/settings/script.js
  packages/datasheet/settings/template.js
Due: none

fix: refactor(web-server): web-server(datasheet) separate modules (#1660)
  packages/datasheet/src/pc/components/robot/robot_detail/node_form/ui/index.ts
Due: none

fix: refactor(web-server): web-server(datasheet) separate modules (#1660)
  packages/datasheet/src/pc/components/robot/robot_detail/node_form/ui/theme.ts
Due: none

fix: api check toggle (#1677)
  packages/components/src/components/checkbox/checkbox.tsx
  packages/datasheet/src/pc/components/navigation/account_center_modal/account_center_modal.tsx
Due: build_widget_stage, deploy_widget_stage

Path conditions:
  install_cypress: any of: packages/cypress/package.json
  build_vika_design: any of: packages/components/docs/*, packages/components/src/*, packages/components/package.json
  deploy_vika_design: any of: packages/components/docs/*, packages/components/src/*, packages/components/package.json
  build_widget_stage: any of: packages/components/**/*, packages/core/**/*, packages/icon/**/*, packages/widget-stage/**/*, packages/widget-sdk/**/*, packages/i18n-lang/**/*
  deploy_widget_stage: any of: packages/components/**/*, packages/core/**/*, packages/icon/**/*, packages/widget-stage/**/*, packages/widget-sdk/**/*, packages/i18n-lang/**/*
