Repository apitable/apitable: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install_cypress, build_vika_design, deploy_vika_design, build_widget_stage, deploy_widget_stage

install_cypress:
  before_script:
  - yarn config get npmRegistryServer
  - yarn config set npmRegistryServer https://nexus.vika.ltd/repository/npm-group/
  tags:
  - node
  stage: install
  image: node:$NODE_JS_VERSION-alpine
  when: manual
  cache:
    key: ${CI_PROJECT_NAME}_${CI_COMMIT_REF_NAME}
    paths:
    - node_modules/
  ...

build_vika_design:
  before_script:
  - yarn config get npmRegistryServer
  - yarn config set npmRegistryServer https://nexus.vika.ltd/repository/npm-group/
  stage: build
  image: node:$NODE_JS_VERSION-alpine
  script:
  - echo "build vika design components"
  - yarn workspaces focus @vikadata/components
  - yarn build:icons
  ...

deploy_vika_design:
  script:
  - aws s3 cp packages/components/styleguide s3://bundle.vika.ltd/component  --recursive --include "*"
  stage: deploy
  dependencies:
  - build_vika_design
  image: vikadata/dind-aws-node

build_widget_stage:
  tags:
  - node
  stage: build
  image: node:$NODE_JS_VERSION-alpine
  artifacts:
    name: ${CI_PROJECT_NAME}_${CI_JOB_NAME}_${CI_COMMIT_REF_NAME}_${CI_COMMIT_SHA}_widget_stage
    paths:
    - packages/widget-stage/build/
    expire_in: 1 weeks

deploy_widget_stage:
  tags:
  - node
  stage: deploy
  needs:
  - job: build_widget_stage
  image: vikadata/dind-aws-node
  before_script:
  - WIDGET_STAGE_ENV=$(echo $CI_COMMIT_REF_NAME)
  services:
  - name: vikadata/dind-aws-node
    command:
    - --registry-mirror=https://nt14bg6k.mirror.aliyuncs.com
  variables:
    GIT_STRATEGY: none
  ...

chore: build only for test
  .github/workflows/build.yaml
Due: none

chore: setting env
  packages/datasheet/.env
Due: none

chore: build-web
  Makefile
Due: none

chore: build-test
  .github/workflows/build.yaml
Due: none

chore: build-push
  .github/workflows/build.yaml
Due: none

style: use env variables instead hard-coded
  packages/room-server/src/env/.env.defaults
  packages/room-server/test/fusion-api.common.e2e-spec.ts
  packages/room-server/test/fusion-api.datasheet.e2e-spec.ts
Due: none

chore: build-test install
  .github/workflows/build.yaml
Due: none

style: set default variable values in apitable-ce
  packages/room-server/src/env/.env.defaults
Due: none

chore: test-build
  Makefile
Due: none

chore: tsc
  .github/workflows/build.yaml
Due: none

refactor: widget message event storage type
  packages/widget-sdk/src/iframe_message/interface.ts
  packages/widget-sdk/src/iframe_message/main_widget_message.ts
  packages/widget-sdk/src/iframe_message/widget_message.ts
Due: build_widget_stage, deploy_widget_stage

chore: widget-sdk docs generate (#2677)
  packages/widget-sdk/docs.js
  packages/widget-sdk/src/utils/index.ts
  packages/widget-sdk/src/utils/private/upload_attach_to_S3/index.ts
  packages/widget-sdk/src/utils/private/upload_attach_to_S3/upload.interface.ts
  packages/widget-sdk/src/utils/private/upload_attach_to_S3/upload_attach_to_S3.ts
  packages/widget-sdk/src/utils/upload.ts
Due: build_widget_stage, deploy_widget_stage

chore: remove unuse code
  packages/widget-sdk/src/iframe_message/main_widget_message.ts
Due: build_widget_stage, deploy_widget_stage

chore: chore make file
  Makefile
  packages/components/package.json
  packages/core/package.json
  packages/cypress/package.json
  packages/datasheet/package.json
  packages/i18n-lang/package.json
  packages/icons/package.json
  packages/room-server/package.json
  packages/socket-server/package.json
  packages/widget-sdk/package.json
Due: install_cypress, build_vika_design, deploy_vika_design, build_widget_stage, deploy_widget_stage

refactor: widget message event storage type (#81)
  packages/widget-sdk/src/iframe_message/interface.ts
  packages/widget-sdk/src/iframe_message/main_widget_message.ts
  packages/widget-sdk/src/iframe_message/widget_message.ts
Due: build_widget_stage, deploy_widget_stage

style: e2e test hard coded (#85)
  packages/room-server/src/env/.env.defaults
  packages/room-server/test/fusion-api.common.e2e-spec.ts
  packages/room-server/test/fusion-api.datasheet.e2e-spec.ts
Due: none

merge: apitable (#2676)
  backend-server/application/src/main/java/com/apitable/space/service/impl/SpaceServiceImpl.java
  backend-server/application/src/test/java/com/apitable/space/service/impl/SpaceServiceImplTest.java
  docker-compose.unit-test.yml
  packages/datasheet/src/pc/components/notification/card/utils.tsx
  packages/datasheet/src/pc/components/route_manager/side_wrapper.tsx
  packages/datasheet/src/pc/components/share/share.tsx
  packages/datasheet/src/pc/components/template_centre/template_detail/template_detail.tsx
Due: none

fix: emoji path set (#2683)
  packages/core/src/config/system_config.auto.json
  packages/core/src/config/system_config.interface.ts
  packages/datasheet/src/pc/components/common/emoji/emoji.tsx
  packages/widget-sdk/src/ui/cell_value/cell_rating/emoji.tsx
Due: build_widget_stage, deploy_widget_stage

chore: add .env for local development
  packages/room-server/.gitignore
  packages/room-server/src/app.module.ts
Due: none

chore: gitpod use preview
  .gitpod.yml
Due: none

style(core): puntuation in comment
  packages/core/src/formula_parser/evaluate.ts
Due: build_widget_stage, deploy_widget_stage

chore: move the env folder to the root folder
  packages/room-server/.gitignore
  packages/room-server/env/.env.defaults
  packages/room-server/env/.env.development.local
  packages/room-server/src/app.module.ts
Due: none

chore: comments for local development
  packages/room-server/env/.env.development.local
Due: none

chore: gitpod use preview (#113)
  .gitpod.yml
Due: none

chore: ignore the `.env.development.local` file
  packages/room-server/.gitignore
Due: none

chore: developer guide for start development environment
  docs/contribute/developer-guide.md
Due: none

Path conditions:
  install_cypress: any of: packages/cypress/package.json
  build_vika_design: any of: packages/components/docs/*, packages/components/src/*, packages/components/package.json
  deploy_vika_design: any of: packages/components/docs/*, packages/components/src/*, packages/components/package.json
  build_widget_stage: any of: packages/components/**/*, packages/core/**/*, packages/icon/**/*, packages/widget-stage/**/*, packages/widget-sdk/**/*, packages/i18n-lang/**/*
  deploy_widget_stage: any of: packages/components/**/*, packages/core/**/*, packages/icon/**/*, packages/widget-stage/**/*, packages/widget-sdk/**/*, packages/i18n-lang/**/*
