Repository apitable/apitable: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install_cypress, build_vika_design, deploy_vika_design, build_widget_stage, deploy_widget_stage

install_cypress:
  before_script:
  - yarn config get npmRegistryServer
  - yarn config set npmRegistryServer https://nexus.vika.ltd/repository/npm-group/
  tags:
  - node
  stage: install
  image: node:$NODE_JS_VERSION-alpine
  when: manual
  cache:
    key: ${CI_PROJECT_NAME}_${CI_COMMIT_REF_NAME}
    paths:
    - node_modules/
  ...

build_vika_design:
  before_script:
  - yarn config get npmRegistryServer
  - yarn config set npmRegistryServer https://nexus.vika.ltd/repository/npm-group/
  stage: build
  image: node:$NODE_JS_VERSION-alpine
  script:
  - echo "build vika design components"
  - yarn workspaces focus @vikadata/components
  - yarn build:icons
  ...

deploy_vika_design:
  script:
  - aws s3 cp packages/components/styleguide s3://bundle.vika.ltd/component  --recursive --include "*"
  stage: deploy
  dependencies:
  - build_vika_design
  image: vikadata/dind-aws-node

build_widget_stage:
  tags:
  - node
  stage: build
  image: node:$NODE_JS_VERSION-alpine
  artifacts:
    name: ${CI_PROJECT_NAME}_${CI_JOB_NAME}_${CI_COMMIT_REF_NAME}_${CI_COMMIT_SHA}_widget_stage
    paths:
    - packages/widget-stage/build/
    expire_in: 1 weeks

deploy_widget_stage:
  tags:
  - node
  stage: deploy
  needs:
  - job: build_widget_stage
  image: vikadata/dind-aws-node
  before_script:
  - WIDGET_STAGE_ENV=$(echo $CI_COMMIT_REF_NAME)
  services:
  - name: vikadata/dind-aws-node
    command:
    - --registry-mirror=https://nt14bg6k.mirror.aliyuncs.com
  variables:
    GIT_STRATEGY: none
  ...

fix: move search unit type (#10866)
  packages/core/src/model/field/link_field.ts
  packages/core/src/modules/space/api/api.space.ts
  packages/core/src/modules/space/store/actions/catalog_tree.ts
  packages/datasheet/src/pc/components/automation/panel/index.tsx
  packages/datasheet/src/pc/components/catalog/move_to/move_to.tsx
  packages/datasheet/src/pc/components/catalog/move_to/select_folder.tsx
  packages/datasheet/src/pc/components/common/node_favorite_status/node_favorite_status.tsx
  packages/datasheet/src/pc/components/common/node_info_bar/node_info_bar.tsx
  packages/datasheet/src/pc/components/common_side/workbench_side/workbench_side.tsx
  packages/datasheet/src/pc/components/tab_bar/tab_add_view/view_introduce_list.tsx
  packages/datasheet/src/pc/hooks/use_catalogtree_request.ts
Due: build_widget_stage, deploy_widget_stage

fix: add record or edit crash (#10867)
  packages/datasheet/src/pc/components/editors/cascader_editor/cascader_editor.tsx
  packages/datasheet/src/pc/components/editors/link_editor/link_editor.tsx
  packages/datasheet/src/pc/components/expand_record/expand_cascader/expand_cascader.tsx
  packages/datasheet/src/pc/components/konva_grid/components/cell/cell_link/cell_link.tsx
  packages/datasheet/src/pc/components/konva_grid/components/cell/cell_text/cell_text.tsx
  packages/datasheet/src/pc/components/konva_grid/hooks/use_grid_dynamic_cells.tsx
  packages/datasheet/src/pc/components/konva_grid/interface.ts
  packages/datasheet/src/pc/components/konva_grid/utils/cell_helper.ts
  packages/datasheet/src/pc/components/multi_grid/format/format_cascader/format_cascader_select.tsx
Due: none

fix: add nodePrivate to share info (#10869)
  backend-server/application/src/main/java/com/apitable/workspace/vo/NodeShareTree.java
  backend-server/application/src/main/resources/mapper/workspace/NodeMapper.xml
Due: none

fix: other user disabled private (#10871)
  packages/datasheet/src/pc/components/catalog/move_to/select_folder.tsx
  packages/datasheet/src/pc/components/konva_grid/hooks/use_grid_dynamic_cells.tsx
  packages/datasheet/src/pc/components/mirror/mirror_path.tsx
  packages/datasheet/src/pc/components/share/share_menu/share_menu.tsx
Due: none

fix: add unit type to widget (#10872)
  backend-server/application/src/main/java/com/apitable/widget/controller/WidgetController.java
  backend-server/application/src/main/java/com/apitable/widget/vo/WidgetInfo.java
  backend-server/application/src/main/resources/mapper/widget/WidgetMapper.xml
Due: none

fix: widget link datasheet check (#10874)
  packages/core/src/modules/space/store/interfaces/share.ts
  packages/datasheet/src/pc/common/store_subscribe/share_id.ts
  packages/datasheet/src/pc/components/dashboard_panel/dashboard/dashboard.tsx
  packages/datasheet/src/pc/components/share/share_menu/share_menu.tsx
Due: build_widget_stage, deploy_widget_stage

fix: share first node private (#10873)
  backend-server/application/src/main/java/com/apitable/automation/controller/AutomationRobotController.java
  backend-server/application/src/main/java/com/apitable/workspace/service/impl/NodeShareServiceImpl.java
Due: none

fix: private hidden permission action (#10876)
  packages/datasheet/src/pc/components/catalog/share/share.tsx
  packages/datasheet/src/pc/components/common/user_card/user_card.tsx
  packages/datasheet/src/pc/components/private/style.module.less
  packages/datasheet/src/pc/components/quick_search/node/node.tsx
Due: none

fix: node private (#10878)
  backend-server/application/src/main/java/com/apitable/automation/controller/AutomationRobotController.java
  backend-server/application/src/main/java/com/apitable/workspace/service/impl/NodeShareServiceImpl.java
Due: none

fix: link search private team node (#10879)
  packages/core/src/modules/widget/api/widget_api.ts
  packages/datasheet/src/pc/components/dashboard_panel/recommend_widget_panel/recommend_widget_panel.tsx
  packages/datasheet/src/pc/components/data_source_selector/hooks/use_search.ts
  packages/datasheet/src/pc/components/datasheet_search_panel/datasheet_search_panel.tsx
  packages/datasheet/src/pc/components/datasheet_search_panel/hooks/use_node_click.ts
  packages/datasheet/src/pc/components/datasheet_search_panel/hooks/use_search.ts
  packages/datasheet/src/pc/components/form_panel/form_tab/form_tab.tsx
  packages/datasheet/src/pc/components/form_panel/form_tab/style.module.less
  packages/datasheet/src/pc/components/mirror/mirror_list/mirror_list_inner.tsx
  packages/datasheet/src/pc/components/mirror/mirror_path.tsx
Due: build_widget_stage, deploy_widget_stage

fix: node private (#10882)
  backend-server/application/src/main/java/com/apitable/internal/controller/InternalNodePermissionController.java
  backend-server/application/src/main/java/com/apitable/workspace/controller/NodeController.java
  backend-server/application/src/main/java/com/apitable/workspace/service/INodeService.java
  backend-server/application/src/main/java/com/apitable/workspace/service/impl/NodeServiceImpl.java
Due: none

fix: cycle dependance (#10883)
  backend-server/application/src/main/java/com/apitable/space/service/ISpaceService.java
  backend-server/application/src/main/java/com/apitable/space/service/impl/SpaceServiceImpl.java
  backend-server/application/src/main/java/com/apitable/workspace/service/impl/NodeServiceImpl.java
Due: none

fix: share custom page url display (#10881)
  packages/datasheet/src/pc/components/catalog/share/share.tsx
  packages/datasheet/src/pc/components/custom_page/hooks/use_get_info.ts
  packages/datasheet/src/pc/components/custom_page/hooks/use_get_tree_node_map.ts
  packages/datasheet/src/pc/components/dashboard_panel/dashboard/dashboard.tsx
  packages/datasheet/src/pc/components/editors/cascader_editor/cascader_editor.tsx
  packages/datasheet/src/pc/components/editors/link_editor/link_editor.tsx
  packages/datasheet/src/pc/components/expand_record/expand_cascader/expand_cascader.tsx
  packages/datasheet/src/pc/components/expand_record/expand_link/expand_link.tsx
  packages/datasheet/src/pc/components/form_panel/form_tab/form_tab.tsx
  packages/datasheet/src/pc/components/konva_grid/hooks/use_grid_dynamic_cells.tsx
  packages/datasheet/src/pc/components/konva_grid/interface.ts
  packages/datasheet/src/pc/components/konva_grid/utils/cell_helper.ts
  packages/datasheet/src/pc/components/mirror/mirror_path.tsx
  packages/datasheet/src/pc/components/mirror/style.module.less
  packages/datasheet/src/pc/components/multi_grid/format/format_link/format_link.tsx
  packages/l10n/base/strings.en-US.json
  packages/l10n/base/strings.zh-CN.json
Due: none

fix: sentry multi error (#10888)
  packages/room-server/src/fusion/field/attachment.field.ts
  packages/room-server/src/shared/filters/global.exception.filter.ts
  packages/room-server/src/shared/interceptor/api.usage.interceptor.ts
Due: none

chore: upgrade version to 1.10.0 (#10890)
  .bumpversion.cfg
  .version
  backend-server/.version
  init-db/.version
  package.json
  packages/ai-components/package.json
  packages/components/package.json
  packages/core/package.json
  packages/cypress/package.json
  packages/databus-client/package.json
  packages/databus-wasm-nodejs/package.json
  packages/databus-wasm-web/package.json
  packages/datasheet/package.json
  packages/i18n-lang/package.json
  packages/icons/package.json
  packages/room-server/package.json
  packages/widget-sdk/package.json
Due: install_cypress, build_vika_design, deploy_vika_design, build_widget_stage, deploy_widget_stage

fix: share open hidden login modal (#10891)
  packages/datasheet/src/pc/components/share/share_menu/share_menu.tsx
Due: none

chore: changelog for v1.10.0
  CHANGELOG.md
Due: none

chore: changelog for v1.10.0 (#1653)
  CHANGELOG.md
Due: none

fix: use template crash
  packages/datasheet/src/pc/utils/transform_node_tree_data.ts
Due: none

fix: node tree null filter
  packages/datasheet/src/pc/utils/transform_node_tree_data.ts
Due: none

fix: use template crash (#1654)
  packages/datasheet/src/pc/utils/transform_node_tree_data.ts
Due: none

fix: delete automation trigger
  backend-server/application/src/main/java/com/apitable/automation/controller/AutomationRobotController.java
  backend-server/application/src/main/java/com/apitable/automation/service/IAutomationTriggerService.java
  backend-server/application/src/main/java/com/apitable/automation/service/impl/AutomationTriggerServiceImpl.java
  backend-server/application/src/main/java/com/apitable/interfaces/automation/facede/AutomationServiceFacade.java
  backend-server/application/src/main/java/com/apitable/interfaces/automation/facede/DefaultAutomationServiceFacadeImpl.java
  backend-server/application/src/test/java/com/apitable/automation/service/impl/AutomationTriggerServiceImplTest.java
Due: none

fix: delete automation trigger (#1657)
  backend-server/application/src/main/java/com/apitable/automation/controller/AutomationRobotController.java
  backend-server/application/src/main/java/com/apitable/automation/service/IAutomationTriggerService.java
  backend-server/application/src/main/java/com/apitable/automation/service/impl/AutomationTriggerServiceImpl.java
  backend-server/application/src/main/java/com/apitable/interfaces/automation/facede/AutomationServiceFacade.java
  backend-server/application/src/main/java/com/apitable/interfaces/automation/facede/DefaultAutomationServiceFacadeImpl.java
  backend-server/application/src/test/java/com/apitable/automation/service/impl/AutomationTriggerServiceImplTest.java
Due: none

fix: fix @apitable/widget-sdk dependencie
  packages/datasheet/package.json
Due: none

fix/limit-member-subscription (#11458)
  packages/core/src/engine/engine.ts
Due: build_widget_stage, deploy_widget_stage

fix: replace dingtalk concat img (#11464)
  packages/datasheet/public/file/langs/strings.ar-SA.json
  packages/i18n-lang/src/config/strings.ar-SA.json
  packages/l10n/base/oss.json
  packages/l10n/base/strings_ar-SA
Due: build_widget_stage, deploy_widget_stage

fix: pm2 graceful reload (#11465)
  packages/room-server/ecosystem.config.js
  packages/room-server/src/main.ts
Due: none

fix: update dingtalk img (#11467)
  packages/datasheet/public/custom/custom_config.js
  packages/datasheet/public/file/langs/strings.ar-SA.json
  packages/i18n-lang/src/config/strings.ar-SA.json
  packages/l10n/base/oss.json
  packages/l10n/base/strings_ar-SA
Due: build_widget_stage, deploy_widget_stage

fix: contact us dingtalk img (#11466)
  packages/datasheet/public/custom/custom_config.js
Due: none

fix: new user guide dingtalk img (#11468)
  backend-server/application/src/main/resources/sysconfig/strings.json
  packages/datasheet/public/custom/custom_config.js
  packages/datasheet/public/file/langs/strings.de-DE.json
  packages/datasheet/public/file/langs/strings.en-US.json
  packages/datasheet/public/file/langs/strings.es-ES.json
  packages/datasheet/public/file/langs/strings.fr-FR.json
  packages/datasheet/public/file/langs/strings.it-IT.json
  packages/datasheet/public/file/langs/strings.ja-JP.json
  packages/datasheet/public/file/langs/strings.json
  packages/datasheet/public/file/langs/strings.ko-KR.json
  packages/datasheet/public/file/langs/strings.ru-RU.json
  packages/datasheet/public/file/langs/strings.zh-CN.json
  packages/datasheet/public/file/langs/strings.zh-HK.json
  packages/i18n-lang/src/config/strings.de-DE.json
  packages/i18n-lang/src/config/strings.en-US.json
  packages/i18n-lang/src/config/strings.es-ES.json
  packages/i18n-lang/src/config/strings.fr-FR.json
  packages/i18n-lang/src/config/strings.it-IT.json
  packages/i18n-lang/src/config/strings.ja-JP.json
  packages/i18n-lang/src/config/strings.json
  packages/i18n-lang/src/config/strings.ko-KR.json
  packages/i18n-lang/src/config/strings.ru-RU.json
  packages/i18n-lang/src/config/strings.zh-CN.json
  packages/i18n-lang/src/config/strings.zh-HK.json
  packages/l10n/base/strings.de-DE.json
  packages/l10n/base/strings.en-US.json
  packages/l10n/base/strings.es-ES.json
  packages/l10n/base/strings.fr-FR.json
  packages/l10n/base/strings.it-IT.json
  packages/l10n/base/strings.ja-JP.json
  packages/l10n/base/strings.ko-KR.json
  packages/l10n/base/strings.ru-RU.json
  packages/l10n/base/strings.zh-CN.json
  packages/l10n/base/strings.zh-HK.json
Due: build_widget_stage, deploy_widget_stage

fix: dingtalk upgrade url update (#11470)
  packages/core/src/config/system_config.source.json
  packages/l10n/base/setting.json
Due: build_widget_stage, deploy_widget_stage

✨ feat: add new node types to NodeTypeEnum and update API mapping (#11474)
  packages/room-server/src/shared/enums/node.enum.ts
  packages/room-server/src/shared/helpers/fusion.helper.ts
Due: none

fix: 730 validate for production (#11485)
  packages/room-server/src/database/datasheet/ros/record.history.query.ro.ts
Due: none

fix: update RECORD_ACTIVITY_MAX_LIMIT_DAY to use environment variable (#11486)
  packages/datasheet/src/get_env.ts
  packages/datasheet/src/pc/components/expand_record/activity_pane/activity_list/activity_list_items.tsx
Due: none

fix: subscription for record activity limit days (#11487)
  backend-server/application/src/main/java/com/apitable/space/service/impl/SpaceServiceImpl.java
Due: none

fix: record max limit day (#11488)
  backend-server/application/src/main/java/com/apitable/space/service/impl/SpaceServiceImpl.java
Due: none

fix: field url copy update text (#11493)
  packages/datasheet/src/pc/common/clipboard/clip_data_url_recog.ts
Due: none

fix: field url copy update link (#11494)
  packages/datasheet/src/pc/common/clipboard/clip_data_url_recog.ts
Due: none

Path conditions:
  install_cypress: any of: packages/cypress/package.json
  build_vika_design: any of: packages/components/docs/*, packages/components/src/*, packages/components/package.json
  deploy_vika_design: any of: packages/components/docs/*, packages/components/src/*, packages/components/package.json
  build_widget_stage: any of: packages/components/**/*, packages/core/**/*, packages/icon/**/*, packages/widget-stage/**/*, packages/widget-sdk/**/*, packages/i18n-lang/**/*
  deploy_widget_stage: any of: packages/components/**/*, packages/core/**/*, packages/icon/**/*, packages/widget-stage/**/*, packages/widget-sdk/**/*, packages/i18n-lang/**/*
