Repository apitable/apitable: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install_cypress, build_vika_design, deploy_vika_design, build_widget_stage, deploy_widget_stage

Path conditions:
  install_cypress: any of: packages/cypress/package.json
  build_vika_design: any of: packages/components/docs/*, packages/components/src/*, packages/components/package.json
  deploy_vika_design: any of: packages/components/docs/*, packages/components/src/*, packages/components/package.json
  build_widget_stage: any of: packages/components/**/*, packages/core/**/*, packages/icon/**/*, packages/widget-stage/**/*, packages/widget-sdk/**/*, packages/i18n-lang/**/*
  deploy_widget_stage: any of: packages/components/**/*, packages/core/**/*, packages/icon/**/*, packages/widget-stage/**/*, packages/widget-sdk/**/*, packages/i18n-lang/**/*

fix: update node param error (#10343)
  backend-server/application/src/main/java/com/apitable/workspace/controller/NodeController.java
Due: none

fix: embed code 201 limit (#10344)
  packages/core/src/config/timezones.ts
  packages/datasheet/src/modules/api/utils/init_axios.tsx
  packages/datasheet/src/pc/components/tool_bar/foreign_form/foreign_form.tsx
  packages/datasheet/utils/utils.ts
Due: build_widget_stage, deploy_widget_stage

feat: unarchive records link (#10348)
  packages/core/src/commands/datasheet/unarchive_records.ts
  packages/datasheet/src/pc/components/catalog/node_context_menu/node_context_menu.tsx
Due: build_widget_stage, deploy_widget_stage

fix: fix active status for button column (#10352)
  packages/components/package.json
  packages/components/src/components/dropdown/dropdown.stories.tsx
  packages/components/src/components/dropdown/float_ui/useFloatUiDropdown.tsx
  packages/components/src/components/tooltip/float_ui/index.tsx
  packages/datasheet/src/pc/components/common/color_picker/color_group.tsx
  packages/datasheet/src/pc/components/expand_record/field_editor/field_block.tsx
  packages/datasheet/src/pc/components/konva_grid/components/cell/cell_button/index.tsx
  packages/datasheet/src/pc/components/konva_grid/components/cell/cell_value.tsx
  packages/datasheet/src/pc/components/konva_grid/utils/cell_helper.ts
  pnpm-lock.yaml
Due: build_vika_design, deploy_vika_design, build_widget_stage, deploy_widget_stage

fix: appsumo feature (#10349)
  backend-server/application/src/main/java/com/apitable/interfaces/billing/model/DefaultSubscriptionFeature.java
  backend-server/application/src/main/java/com/apitable/interfaces/billing/model/SubscriptionFeature.java
  backend-server/application/src/main/java/com/apitable/interfaces/billing/model/SubscriptionFeatures.java
Due: none

fix: fix add context menu divider (#10355)
  packages/components/src/components/context_menu/context_menu.tsx
  packages/datasheet/src/pc/components/robot/robot_list_item/robot_readonly_card.tsx
Due: build_widget_stage, deploy_widget_stage

fix: hidden field ellipsis tip (#10356)
  packages/components/src/components/typography/typography.tsx
  packages/datasheet/src/pc/components/highlight_words/highlight_words.tsx
  packages/datasheet/src/pc/components/konva_grid/components/field_head/field_head.tsx
  packages/datasheet/src/pc/components/konva_grid/hooks/use_grid_cells.tsx
  packages/datasheet/src/pc/components/konva_grid/hooks/use_grid_dynamic_cells.tsx
  packages/datasheet/src/pc/components/konva_grid/konva_grid_view.tsx
  packages/datasheet/src/pc/components/tool_bar/hidden_field/hidden_field.tsx
  packages/datasheet/src/pc/components/tool_bar/hidden_field/style.module.less
Due: build_widget_stage, deploy_widget_stage

Feat/embed page (#10357)
  packages/datasheet/package.json
  pnpm-lock.yaml
Due: none

Fix/add context menu update color (#10358)
  packages/components/src/components/tooltip/tooltip.tsx
  packages/datasheet/src/pc/components/common/color_picker/color_group.tsx
  packages/datasheet/src/pc/components/editors/button_editor/buton_item/index.tsx
  packages/datasheet/src/pc/components/editors/button_editor/index.tsx
  packages/datasheet/src/pc/components/editors/button_editor/job_task.ts
  packages/datasheet/src/pc/components/konva_grid/components/cell/cell_button/index.tsx
  packages/datasheet/src/pc/components/robot/robot_list_item/robot_readonly_card.tsx
Due: build_widget_stage, deploy_widget_stage

fix: cell copy permission (#10359)
  packages/datasheet/src/pc/components/multi_grid/context_menu/record_menu.tsx
Due: none

fix: contact us wizard (#10363)
  packages/core/src/config/system_config.source.json
  packages/datasheet/src/pc/components/navigation/help/help.tsx
Due: build_widget_stage, deploy_widget_stage

fix: check style (#10361)
  backend-server/application/src/main/java/com/apitable/interfaces/billing/model/DefaultSubscriptionFeature.java
  backend-server/application/src/main/java/com/apitable/interfaces/billing/model/SubscriptionFeature.java
  backend-server/application/src/main/java/com/apitable/space/assembler/SubscribeAssembler.java
  backend-server/application/src/main/java/com/apitable/space/vo/SpaceSubscribeVo.java
Due: none

fix: comment submit clear content (#10369)
  packages/datasheet/src/pc/components/draft_editor/slate_editor.tsx
Due: none

fix: node share return extra (#10371)
  backend-server/application/src/main/java/com/apitable/workspace/service/impl/NodeShareServiceImpl.java
  backend-server/application/src/main/java/com/apitable/workspace/vo/NodeInfoVo.java
  backend-server/application/src/main/java/com/apitable/workspace/vo/NodeShareTree.java
  backend-server/application/src/main/resources/mapper/workspace/NodeMapper.xml
Due: none

fix: subscription control form brand (#10372)
  packages/core/src/modules/billing/store/interfaces/billing.ts
  packages/datasheet/src/pc/components/form_panel/form_tab/tool_bar/setting_panel.tsx
Due: build_widget_stage, deploy_widget_stage

fix: fix bg for tooltip base (#10374)
  packages/components/src/components/tooltip/tooltip.tsx
Due: build_widget_stage, deploy_widget_stage

Feat/unify scrollbar style (#10345)
  packages/datasheet/src/global.less
  packages/datasheet/src/pc/components/gantt_view/style.module.less
  packages/datasheet/src/pc/components/konva_grid/dom_grid.tsx
  packages/datasheet/src/pc/components/konva_grid/style.module.less
  packages/datasheet/src/pc/styles/lib_mixins.less
  packages/datasheet/src/widget-stage/main/main.less
Due: none

fix: ci err
  packages/datasheet/src/modules/shared/player/init.ts
Due: none

fix: ci err
  packages/datasheet/src/pc/components/common_side/workbench_side/favorite/favorite.tsx
Due: none

fix: invite bg style (#10384)
  packages/datasheet/src/pc/components/common/wrapper/style.module.less
  packages/datasheet/src/pc/components/common/wrapper/wrapper.tsx
Due: none

chore: add change log
  CHANGELOG.md
Due: none

chore: add change log (#1562)
  CHANGELOG.md
Due: none

Fix/fix style issue for automtion in view (#10391)
  packages/datasheet/src/pc/components/common/color_picker/color_group.tsx
  packages/datasheet/src/pc/components/editors/button_editor/buton_item/index.tsx
  packages/datasheet/src/pc/components/mirror/mirror.tsx
Due: none

fix: automation delete error with body (#10393)
  packages/room-server/src/automation/actions/webhook/index.ts
  packages/room-server/src/automation/services/automation.service.ts
Due: none

fix: fix issue for view button column (#10398)
  packages/datasheet/src/pc/components/mirror/mirror.tsx
Due: none

fix: kanban button height adapt (#10402)
  packages/datasheet/src/pc/components/gallery_view/card.tsx
  packages/datasheet/src/pc/components/gallery_view/constant.ts
  packages/datasheet/src/pc/components/kanban_view/kanban_group/kanban_group.tsx
  packages/datasheet/src/pc/components/kanban_view/kanban_group/rows/rows.tsx
  packages/datasheet/src/pc/components/kanban_view/kanban_view.tsx
  packages/datasheet/src/pc/components/multi_grid/cell/cell_text/url_discern.tsx
  packages/datasheet/src/pc/components/record_card/card_body.tsx
  packages/datasheet/src/pc/components/record_card/card_text/style.module.less
Due: none

chore: migrate chatbot enable & lab feature ops api (#10403)
  backend-server/application/src/main/java/com/apitable/space/enums/LabsFeatureException.java
  backend-server/application/src/main/java/com/apitable/space/mapper/LabsApplicantMapper.java
  backend-server/application/src/main/resources/mapper/space/LabsApplicantMapper.xml
Due: none

feat: move add/update trigger to java (#10397)
  backend-server/application/src/main/java/com/apitable/automation/controller/AutomationRobotController.java
  backend-server/application/src/main/java/com/apitable/automation/enums/AutomationException.java
  backend-server/application/src/main/java/com/apitable/automation/mapper/AutomationRobotMapper.java
  backend-server/application/src/main/java/com/apitable/automation/mapper/AutomationTriggerMapper.java
  backend-server/application/src/main/java/com/apitable/automation/service/IAutomationRobotService.java
  backend-server/application/src/main/java/com/apitable/automation/service/IAutomationTriggerService.java
  backend-server/application/src/main/java/com/apitable/automation/service/impl/AutomationRobotServiceImpl.java
  backend-server/application/src/main/java/com/apitable/automation/service/impl/AutomationTriggerServiceImpl.java
  backend-server/application/src/main/java/com/apitable/automation/service/impl/AutomationTriggerTypeServiceImpl.java
  backend-server/application/src/main/java/com/apitable/interfaces/automation/facede/AutomationServiceFacade.java
  backend-server/application/src/main/java/com/apitable/interfaces/automation/facede/DefaultAutomationServiceFacadeImpl.java
  backend-server/application/src/main/resources/mapper/automation/AutomationRobotMapper.xml
  backend-server/application/src/main/resources/mapper/automation/AutomationTriggerMapper.xml
  backend-server/application/src/test/java/com/apitable/AbstractIntegrationTest.java
  backend-server/application/src/test/java/com/apitable/automation/mapper/AutomationTriggerMapperTest.java
  backend-server/application/src/test/java/com/apitable/automation/service/AutomationTriggerServiceImplTest.java
Due: none

chore: revert email invitation change logic (#10409)
  backend-server/application/src/main/java/com/apitable/organization/service/impl/MemberServiceImpl.java
Due: none

fix: sync color tokens (#10408)
  packages/components/src/colors/dark.ts
  packages/components/src/colors/light.ts
  packages/components/src/components/icon_button/styled.tsx
  packages/datasheet/src/pc/components/archive_record/style.module.less
  packages/datasheet/src/pc/components/konva_grid/hooks/use_grid.tsx
  packages/datasheet/src/pc/components/konva_grid/hooks/use_grid_cells.tsx
  packages/datasheet/src/pc/components/konva_grid/model/layout/add_row_layout.ts
  packages/datasheet/src/pc/components/konva_grid/model/layout/record_row_layout.ts
  packages/datasheet/src/pc/styles/global_components/modal.less
  packages/datasheet/src/pc/styles/lib_colors.css
  packages/datasheet/tailwind.config.js
Due: build_widget_stage, deploy_widget_stage

feature: enable sourcemap (#10428)
  packages/datasheet/.env
  packages/datasheet/next.config.js
  packages/datasheet/package.json
  packages/datasheet/sentry.edge.config.ts
  packages/datasheet/tsconfig.json
  packages/datasheet/webpack.config.js
  pnpm-lock.yaml
Due: none

fix: template usage crash (#10431)
  packages/core/src/modules/space/store/reducers/catalog_tree.ts
  packages/datasheet/src/pc/components/template_centre/using_template_modal/using_template_modal.tsx
Due: build_widget_stage, deploy_widget_stage

test: move schedule trigger test to enterprise (#10429)
  backend-server/application/src/test/java/com/apitable/automation/service/AutomationTriggerServiceImplTest.java
Due: none
