Repository apitable/apitable: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install_cypress, build_vika_design, deploy_vika_design, build_widget_stage, deploy_widget_stage

Path conditions:
  install_cypress: any of: packages/cypress/package.json
  build_vika_design: any of: packages/components/docs/*, packages/components/src/*, packages/components/package.json
  deploy_vika_design: any of: packages/components/docs/*, packages/components/src/*, packages/components/package.json
  build_widget_stage: any of: packages/components/**/*, packages/core/**/*, packages/icon/**/*, packages/widget-stage/**/*, packages/widget-sdk/**/*, packages/i18n-lang/**/*
  deploy_widget_stage: any of: packages/components/**/*, packages/core/**/*, packages/icon/**/*, packages/widget-stage/**/*, packages/widget-sdk/**/*, packages/i18n-lang/**/*

fix: onewaylink support pre fill (#8842)
  packages/datasheet/src/pc/components/form_container/util.ts
  packages/widget-sdk/package.json
Due: build_widget_stage, deploy_widget_stage

fix: workdoc with env
  packages/datasheet/src/pc/components/multi_grid/type_select/type_select.tsx
Due: none

fix: workdoc with env (#1463)
  packages/datasheet/src/pc/components/multi_grid/type_select/type_select.tsx
Due: none

chore: changelog update
  CHANGELOG.md
Due: none

chore: changelog update (#1464)
  CHANGELOG.md
Due: none

feat: document event executor & modify grpc client name (#8850)
  backend-server/application/src/main/java/com/apitable/interfaces/document/facade/DefaultDocumentServiceFacadeImpl.java
  backend-server/application/src/main/java/com/apitable/interfaces/document/facade/DocumentServiceFacade.java
  backend-server/application/src/main/java/com/apitable/shared/grpc/BackendServingServiceImpl.java
  backend-server/application/src/main/proto/serving/BackendServingService.proto
  backend-server/application/src/main/proto/serving/RoomServingService.proto
  backend-server/application/src/main/proto/serving/SocketServingService.proto
  backend-server/application/src/main/resources/application.yml
  packages/core/src/event_manager/events/datasheet/record_created.ts
  packages/core/src/event_manager/events/datasheet/record_deleted.ts
  packages/room-server/src/database/ot/services/ot.service.ts
  packages/room-server/src/grpc/client/backend.grpc.client.ts
  packages/room-server/src/grpc/client/grpc.client.module.ts
  packages/room-server/src/grpc/client/socket.grpc.client.ts
  packages/room-server/src/grpc/generated/serving/BackendServingService.proto
  packages/room-server/src/grpc/generated/serving/BackendServingService.ts
  packages/room-server/src/grpc/generated/serving/RoomServingService.proto
  packages/room-server/src/grpc/generated/serving/RoomServingService.ts
  packages/room-server/src/grpc/generated/serving/SocketServingService.proto
  packages/room-server/src/grpc/generated/serving/SocketServingService.ts
  packages/room-server/src/shared/common/constants.ts
  packages/room-server/src/shared/common/constants/socket.module.constants.ts
  packages/room-server/src/shared/event/ot.event.manager.ts
  packages/room-server/src/shared/event/ot.event.service.ts
  packages/room-server/src/socket/grpc/client/grpc.client.module.ts
  packages/room-server/src/socket/grpc/client/grpc.client.ts
  scripts/protos/serving/BackendServingService.proto
  scripts/protos/serving/RoomServingService.proto
  scripts/protos/serving/SocketServingService.proto
Due: build_widget_stage, deploy_widget_stage

fix: event unit test (#8863)
  packages/core/src/event_manager/__tests__/op2event.test.ts
Due: build_widget_stage, deploy_widget_stage

Feat/air agent (#8816)
  pnpm-lock.yaml
Due: none

fix: workdoc load when need (#8861)
  packages/datasheet/src/pc/components/editors/workdoc_editor/workdoc_editor.tsx
  packages/datasheet/src/pc/components/expand_record/expand_work_doc/expand_work_doc.tsx
  packages/datasheet/src/pc/components/form_container/form_workdoc_editor/form_workdoc_editor.tsx
Due: none

chore: optimize member field cache (#8865)
  backend-server/application/src/main/java/com/apitable/organization/service/impl/OrganizationServiceImpl.java
Due: none

fix: add field filter property (#8869)
  packages/core/src/model/field/field.ts
Due: build_widget_stage, deploy_widget_stage

fix: open share update prefill link (#8872)
  packages/datasheet/src/pc/components/form_container/form_workdoc_editor/form_workdoc_editor.tsx
Due: none

fix: notify url (#8878)
  packages/datasheet/src/pc/components/notification/publish/controller.tsx
  packages/datasheet/src/pc/components/notification/utils.ts
Due: none

feat: optimize automation run num sql (#8875)
  backend-server/application/src/main/java/com/apitable/internal/service/impl/InternalSpaceServiceImpl.java
Due: none

chore: space link api human verification (#8880)
  backend-server/application/src/main/java/com/apitable/organization/ro/InviteValidRo.java
  backend-server/application/src/main/java/com/apitable/space/controller/SpaceLinkController.java
Due: none

fix: email invite style (#8879)
  packages/datasheet/src/pc/components/invite/invite_outsider/input_email/input_email.tsx
  packages/datasheet/src/pc/components/invite/invite_outsider/input_email/style.module.less
  packages/i18n-lang/src/config/strings.en-US.json
  packages/i18n-lang/src/config/strings.zh-CN.json
Due: build_widget_stage, deploy_widget_stage

fix: added join human machine verification (#8885)
  packages/core/src/modules/org/api/api.org.ts
  packages/datasheet/src/pc/components/invite/link_invite/link_confirm.tsx
Due: build_widget_stage, deploy_widget_stage

fix: ai some bug (#8888)
  packages/datasheet/src/pc/components/share/share_content.tsx
Due: none

Revert "fix: tsc check fail" (#8891)
  packages/core/src/commands_actions/__test__/add_record.test.ts
  packages/core/src/commands_actions/__test__/set_record.test.ts
  packages/core/src/modules/database/api/wasm/index.ts
Due: build_widget_stage, deploy_widget_stage

fix: revert wasm (#8892)
  packages/core/package.json
  packages/core/src/commands_actions/__test__/add_record.test.ts
  packages/core/src/commands_actions/__test__/set_record.test.ts
  packages/core/src/modules/database/api/wasm/index.ts
  packages/core/src/modules/shared/api/api.ts
  packages/core/src/modules/space/api/api.space.ts
Due: build_widget_stage, deploy_widget_stage

fix: ci (#8894)
  pnpm-lock.yaml
Due: none

fix: fix api client auth (#8896)
  packages/datasheet/src/pc/common/api-client.ts
Due: none

fix: human-machine verification (#8906)
  packages/core/src/modules/org/api/api.org.ts
  packages/core/src/modules/org/store/interface/invite.ts
  packages/datasheet/src/pc/components/invite/link_invite/link_confirm.tsx
  packages/datasheet/src/pc/components/invite/use_invite.tsx
  packages/datasheet/src/pc/components/route_manager/interface.ts
Due: build_widget_stage, deploy_widget_stage

fix: workdoc image loading (#8908)
  packages/datasheet/src/index.less
Due: none

chore: space widget api sql add restrictions (#8909)
  backend-server/application/src/main/java/com/apitable/widget/mapper/WidgetMapper.java
  backend-server/application/src/main/java/com/apitable/widget/service/impl/WidgetServiceImpl.java
  backend-server/application/src/main/resources/mapper/widget/WidgetMapper.xml
  backend-server/application/src/test/java/com/apitable/widget/mapper/WidgetMapperTest.java
Due: none

fix: import excel data with sort (#8436)
  packages/core/src/commands/datasheet/add_records.ts
  packages/core/src/commands_actions/__test__/add_record.test.ts
  packages/core/src/commands_actions/datasheet.ts
  packages/core/src/databus/__tests__/datasheet.test.ts
  packages/core/src/databus/__tests__/view.test.ts
Due: build_widget_stage, deploy_widget_stage

fix: AI Setting supports verification and i18n (#8914)
  packages/ai-components/package.json
  packages/datasheet/package.json
  pnpm-lock.yaml
Due: none

fix: add record error (#8915)
  packages/core/src/model/field/date_time_base_field.ts
Due: build_widget_stage, deploy_widget_stage

chore: upgrade version to 1.5.0 (#8927)
  .bumpversion.cfg
  .version
  backend-server/.version
  backend-server/gradle.properties
  init-db/.version
  package.json
  packages/ai-components/package.json
  packages/components/package.json
  packages/core/package.json
  packages/cypress/package.json
  packages/databus-client/package.json
  packages/databus-wasm-nodejs/package.json
  packages/datasheet/package.json
  packages/i18n-lang/package.json
  packages/icons/package.json
  packages/room-server/package.json
  packages/widget-sdk/package.json
Due: install_cypress, build_vika_design, deploy_vika_design, build_widget_stage, deploy_widget_stage

feat: airagent i18n (#8916)
  pnpm-lock.yaml
Due: none

chore: tune organization batch query method (#8942)
  backend-server/application/src/main/java/com/apitable/organization/service/impl/OrganizationServiceImpl.java
  backend-server/application/src/main/java/com/apitable/organization/service/impl/TeamServiceImpl.java
  backend-server/application/src/main/java/com/apitable/shared/util/DBUtil.java
Due: none

fix: create by field type (#8944)
  packages/core/src/config/constant.ts
  packages/core/src/model/field/created_by_field.ts
  packages/datasheet/src/pc/components/multi_grid/type_select/type_select.tsx
Due: build_widget_stage, deploy_widget_stage

fix: manageable create backup (#8955)
  packages/datasheet/src/pc/components/catalog/node_context_menu/node_context_menu.tsx
  packages/datasheet/src/pc/components/datasheet_pane/datasheet_pane.tsx
Due: none

chore: update version to 1.5.0 (#8959)
  packages/ai-components/package.json
Due: none

feat: app sumo (#8886)
  backend-server/application/build.gradle
  backend-server/application/src/main/java/com/apitable/organization/mapper/MemberMapper.java
  backend-server/application/src/main/java/com/apitable/organization/service/IMemberService.java
  backend-server/application/src/main/java/com/apitable/organization/service/impl/MemberServiceImpl.java
  backend-server/application/src/main/java/com/apitable/shared/config/WebSecurityConfig.java
  backend-server/application/src/main/java/com/apitable/space/mapper/SpaceMapper.java
  backend-server/application/src/main/java/com/apitable/space/service/ISpaceService.java
  backend-server/application/src/main/java/com/apitable/space/service/impl/SpaceServiceImpl.java
  backend-server/application/src/main/resources/mapper/organization/MemberMapper.xml
  backend-server/application/src/test/resources/test.properties
  backend-server/gradle.properties
  backend-server/lib.gradle
Due: none

fix: ai share in mobile (#8974)
  packages/ai-components/package.json
  packages/datasheet/src/pc/components/route_manager/workspace_route.tsx
  packages/datasheet/src/pc/components/share/share_mobile/share_mobile.tsx
Due: none
