Repository apitable/apitable: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install_cypress, build_vika_design, deploy_vika_design, build_widget_stage, deploy_widget_stage

Path conditions:
  install_cypress: any of: packages/cypress/package.json
  build_vika_design: any of: packages/components/docs/*, packages/components/src/*, packages/components/package.json
  deploy_vika_design: any of: packages/components/docs/*, packages/components/src/*, packages/components/package.json
  build_widget_stage: any of: packages/components/**/*, packages/core/**/*, packages/icon/**/*, packages/widget-stage/**/*, packages/widget-sdk/**/*, packages/i18n-lang/**/*
  deploy_widget_stage: any of: packages/components/**/*, packages/core/**/*, packages/icon/**/*, packages/widget-stage/**/*, packages/widget-sdk/**/*, packages/i18n-lang/**/*

fix: unit modal tab i18n (#1541)
  packages/datasheet/src/pc/components/catalog/permission_settings/permission/select_unit_modal/select_unit_left.tsx
Due: none

fix: refresh still need verify (#1537)
  packages/datasheet/src/pc/components/home/improving_info/improving_info.tsx
  packages/datasheet/src/pc/components/home/qr_code/qr_code.tsx
Due: none

fix: the widget is not synchronized when copying dashboard (#1544)
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/workspace/model/DashboardMeta.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/workspace/service/impl/ResourceMetaServiceImpl.java
Due: none

fix: show datasheet name (#1545)
  packages/datasheet/src/pc/components/catalog/tree/node_item/node_item.tsx
Due: none

fix: report error when open share link (#1567)
  packages/datasheet/src/pc/common/store_subscribe/dashboard_id.ts
  packages/datasheet/src/pc/common/store_subscribe/datasheet_id.ts
  packages/datasheet/src/pc/common/store_subscribe/form_id.ts
  packages/datasheet/src/pc/common/store_subscribe/mirror_id.ts
Due: none

fix: template add uncategorized (#1572)
  packages/core/src/config/constant.ts
  packages/datasheet/pages/template/[category_code]/index.tsx
  packages/datasheet/src/pc/components/common_side/template_category_side/template_category_side.tsx
  packages/datasheet/src/pc/components/common_side/template_detail_side/template_detail_side.tsx
Due: build_widget_stage, deploy_widget_stage

feat: Feishu adds 200-person specifications for Professional and Ultimate editions (#1574)
  backend-server/system-config/src/main/resources/system_config.auto.json
Due: none

fix: dev build fail (#1594)
  packages/datasheet/src/pc/components/space_manage/upgrade_space/upgrade_space.tsx
Due: none

Chore/datasheet translation (#1601)
  packages/datasheet/src/global.less
  packages/datasheet/src/main.less
  packages/datasheet/src/pc/components/common/t_component/readme.md
  packages/datasheet/src/pc/components/draft_editor/slate_editor.tsx
  packages/datasheet/src/pc/components/economy/checkout_session/capacity.tsx
  packages/datasheet/src/pc/components/economy/checkout_session/config.tsx
  packages/datasheet/src/pc/components/economy/checkout_session/grades_checklist/grades_checklist.tsx
  packages/datasheet/src/pc/components/economy/checkout_session/grades_checklist/index.ts
  packages/datasheet/src/pc/components/economy/checkout_session/grades_checklist/style.module.less
  packages/datasheet/src/pc/components/economy/checkout_session/index.tsx
  packages/datasheet/src/pc/components/economy/checkout_session/interface.ts
  packages/datasheet/src/pc/components/economy/checkout_session/renewal/index.ts
  packages/datasheet/src/pc/components/economy/checkout_session/renewal/renewal.tsx
  packages/datasheet/src/pc/components/economy/checkout_session/renewal/style.module.less
  packages/datasheet/src/pc/components/economy/checkout_session/seats.tsx
  packages/datasheet/src/pc/components/economy/common.module.less
  packages/datasheet/src/pc/components/economy/components/paying_layout/index.ts
  packages/datasheet/src/pc/components/economy/components/paying_layout/paying_layout.tsx
  packages/datasheet/src/pc/components/economy/components/paying_layout/style.module.less
  packages/datasheet/src/pc/components/economy/components/paying_modal/index.ts
  packages/datasheet/src/pc/components/economy/components/paying_modal/paying_modal.tsx
  packages/datasheet/src/pc/components/economy/components/paying_modal/style.less
  packages/datasheet/src/pc/components/economy/index.ts
  packages/datasheet/src/pc/components/economy/interface.ts
  packages/datasheet/src/pc/components/economy/stateless_ui/index.ts
  packages/datasheet/src/pc/components/economy/stateless_ui/stateless_ui.tsx
  packages/datasheet/src/pc/components/economy/stateless_ui/style.module.less
  packages/datasheet/src/pc/components/gantt_view/components/operation_bar/operation_bar.tsx
  packages/datasheet/src/pc/components/gantt_view/utils/task_line.ts
  packages/datasheet/src/pc/notification_store.ts
  packages/datasheet/src/pc/store/rows_cache_action.ts
Due: none

fix: report error when open share link (#1558)
  packages/components/package.json
  packages/datasheet/package.json
  packages/datasheet/src/pc/components/catalog/move_to/move_to.tsx
  packages/datasheet/src/pc/components/catalog/permission_settings/permission/members_detail/members.detail.tsx
  packages/datasheet/src/pc/components/catalog/permission_settings/permission/select_unit_modal/select_unit_popup.tsx
  packages/datasheet/src/pc/components/catalog/permission_settings_plus/permission/members_detail/members.detail.tsx
  packages/datasheet/src/pc/components/catalog/permission_settings_plus/permission_settings_plus.tsx
  packages/datasheet/src/pc/components/catalog/share_node/share/share.tsx
  packages/datasheet/src/pc/components/catalog/share_node/share_node.tsx
  packages/datasheet/src/pc/components/catalog/share_node/team_tree_select/team_tree_select.tsx
  packages/datasheet/src/pc/components/common/color_picker/color_picker_mobile.tsx
  packages/datasheet/src/pc/components/common/emoji_picker/emoji_picker.tsx
  packages/datasheet/src/pc/components/common/mobile/mobile_context_menu/mobile_context_menu.tsx
  packages/datasheet/src/pc/components/common/mobile_select/mobile_select.tsx
  packages/datasheet/src/pc/components/datasheet_search_panel/datasheet_search_panel.tsx
  packages/datasheet/src/pc/components/economy/upgrade_modal/upgrade_modal.tsx
  packages/datasheet/src/pc/components/editors/date_time_editor/date_time_alarm/field_select/field_select.tsx
  packages/datasheet/src/pc/components/editors/link_editor/link_editor.tsx
  packages/datasheet/src/pc/components/editors/pop_structure/pop_structure.tsx
  packages/datasheet/src/pc/components/editors/rating_editor/rating_editor_mobile.tsx
  packages/datasheet/src/pc/components/field_permission/field_permission.tsx
  packages/datasheet/src/pc/components/field_permission/field_permission_plus.tsx
  packages/datasheet/src/pc/components/folder_showcase/description_modal/description_modal.tsx
  packages/datasheet/src/pc/components/form_panel/form_tab/tool_bar/share_modal.tsx
  packages/datasheet/src/pc/components/home/invitation_validation/get_invitation_code_popover/get_invitation_code_popover.tsx
  packages/datasheet/src/pc/components/invite/invite_outsider/invite_outsider_modal.tsx
  packages/datasheet/src/pc/components/mobile_tool_bar/view_menu/view_menu.tsx
  packages/datasheet/src/pc/components/mobile_tool_bar/widget_tool/widget_tool.tsx
  packages/datasheet/src/pc/components/multi_grid/field_setting/field_setting.tsx
  packages/datasheet/src/pc/components/multi_grid/field_setting/field_type_select/field_type_select.tsx
  packages/datasheet/src/pc/components/multi_grid/format/format_date_time/field_select_modal.tsx
  packages/datasheet/src/pc/components/multi_grid/format/format_formula/open_formula_modal.tsx
  packages/datasheet/src/pc/components/multi_grid/format/trigger.tsx
  packages/datasheet/src/pc/components/navigation/navigation.tsx
  packages/datasheet/src/pc/components/navigation/user/user.tsx
  packages/datasheet/src/pc/components/tool_bar/display/display.tsx
  packages/datasheet/src/pc/components/tool_bar/view_filter/filter_value/filter_date/filter_date.tsx
  packages/datasheet/src/pc/components/tool_bar/view_filter/filter_value/filter_general_select.tsx
  packages/datasheet/src/pc/components/tool_bar/view_sort_and_group/view_field_options/view_field_options_mobile.tsx
  yarn.lock
Due: build_vika_design, deploy_vika_design, build_widget_stage, deploy_widget_stage

feat: update dingtalk plan config (#1602)
  backend-server/system-config/src/main/resources/system_config.auto.json
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/finance/strategy/impl/DingTalkOrderServiceImpl.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/social/service/impl/DingTalkIsvEventServiceImpl.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/util/billing/DingTalkPlanConfigManager.java
  backend-server/vikadata-service/vikadata-service-api/src/test/java/com/vikadata/api/modular/social/service/impl/DingTalkOrderServiceImplTest.java
Due: none

fix: feild permission setting bugfix (#1597)
  packages/datasheet/src/pc/components/catalog/permission_settings_plus/permission/unit_item/unit_item.tsx
Due: none

refactor(socket): translate code and optimize trace id log output (#1606)
  packages/room-server/src/shared/helpers/fastify.zipkin.plugin.ts
  packages/room-server/src/shared/interceptor/sentry.handlers.interceptor.ts
  packages/room-server/src/shared/services/grpc/grpc.socket.service.ts
  packages/socket-server/src/grpc/client/grpc.client.module.ts
  packages/socket-server/src/grpc/client/nest.client.ts
  packages/socket-server/src/grpc/client/nest.interface.ts
  packages/socket-server/src/grpc/generated/grpc/proto/changeset.service.ts
  packages/socket-server/src/grpc/generated/grpc/proto/socket.service.ts
  packages/socket-server/src/grpc/proto/changeset.service.proto
  packages/socket-server/src/grpc/proto/socket.service.proto
  packages/socket-server/src/grpc/util/pack.message.ts
  packages/socket-server/src/grpc/util/utils.ts
  packages/socket-server/src/socket/constants/logger.constants.ts
  packages/socket-server/src/socket/constants/socket-constants.ts
  packages/socket-server/src/socket/enum/broadcast-types.enum.ts
  packages/socket-server/src/socket/service/nest/nest.service.ts
  packages/socket-server/src/socket/service/room/room.service.ts
Due: none

Style/room server comment translation misc (#1589)
  packages/core/src/model/datasheet.ts
  packages/core/src/model/utils.ts
  packages/room-server/src/_modules/command.service.module.ts
  packages/room-server/src/database/services/attachment/attachment.service.ts
  packages/room-server/src/database/services/command/i.command.interface.ts
  packages/room-server/src/database/services/command/i.command.options.interface.ts
  packages/room-server/src/database/services/command/impl/command.options.service.ts
  packages/room-server/src/database/services/command/impl/command.service.ts
  packages/room-server/src/database/services/dashboard/dashboard.service.ts
  packages/room-server/src/database/services/developer/developer.service.ts
  packages/room-server/src/database/services/event/event.service.ts
  packages/room-server/src/database/services/form/form.service.ts
  packages/room-server/src/database/services/mirror/mirror.service.ts
  packages/room-server/src/database/services/node/node.description.service.ts
  packages/room-server/src/database/services/node/node.permission.service.ts
  packages/room-server/src/database/services/node/node.service.ts
  packages/room-server/src/database/services/node/node.share.setting.service.ts
  packages/room-server/src/database/services/resource/changeset.service.ts
  packages/room-server/src/database/services/resource/meta.service.ts
  packages/room-server/src/database/services/resource/resource.service.ts
  packages/room-server/src/database/services/unit/unit.member.service.ts
  packages/room-server/src/database/services/unit/unit.service.ts
  packages/room-server/src/database/services/unit/unit.tag.service.ts
  packages/room-server/src/database/services/unit/unit.team.service.ts
  packages/room-server/src/database/services/user/user.service.ts
  packages/room-server/src/database/vos/comment.list.vo.ts
  packages/room-server/src/database/vos/comment.vo.ts
  packages/room-server/src/database/vos/record.history.vo.ts
Due: build_widget_stage, deploy_widget_stage

chore(socket): translation constants etc (#1607)
  packages/socket-server/src/grpc/client/vika.grpc.client.proxy.xxljob.ts
  packages/socket-server/src/grpc/util/retry.decorator.ts
  packages/socket-server/src/main.ts
  packages/socket-server/src/socket/adapter/adapters.init.ts
  packages/socket-server/src/socket/adapter/redis/redis-io.adapter.ts
  packages/socket-server/src/socket/common/constants.ts
  packages/socket-server/src/socket/constants/gateway.constants.ts
  packages/socket-server/src/socket/constants/redis-constants.ts
  packages/socket-server/src/socket/constants/socket-constants.ts
  packages/socket-server/src/socket/controller/socket.grpc.controller.ts
  packages/socket-server/src/socket/enum/redis-key.enum.ts
  packages/socket-server/src/socket/enum/request-types.enum.ts
  packages/socket-server/src/socket/enum/socket.enum.ts
  packages/socket-server/src/socket/filter/grpc.exception.filter.ts
  packages/socket-server/src/socket/filter/http-exception.filter.ts
  packages/socket-server/src/socket/filter/runtime-exception.filter.ts
  packages/socket-server/src/socket/gateway/notification.gateway.ts
  packages/socket-server/src/socket/gateway/room.gateway.ts
  packages/socket-server/src/socket/guard/auth.guard.ts
  packages/socket-server/src/socket/interceptor/http.response.interceptor.ts
  packages/socket-server/src/socket/interface/user/i-user.interface.ts
  packages/socket-server/src/socket/model/dto/ding-talk/robot-notification.dto.ts
  packages/socket-server/src/socket/model/ro/notification/node-change.ro.ts
  packages/socket-server/src/socket/model/ro/notification/node.browsed.ro.ts
  packages/socket-server/src/socket/model/ro/notification/watch-space.ro.ts
  packages/socket-server/src/socket/service/redis/redis-config.factory.ts
  packages/socket-server/src/socket/service/redis/redis.service.ts
  packages/socket-server/src/socket/service/room/room.service.ts
Due: none

Chore/datasheet translation (#1608)
  packages/datasheet/pages/_app.tsx
Due: none

refactor: remove use room-server _modules (#1609)
  packages/room-server/src/_modules/automation.service.module.ts
  packages/room-server/src/_modules/dashboard.module.ts
  packages/room-server/src/_modules/dashboard.modules.ts
  packages/room-server/src/_modules/event.service.module.ts
  packages/room-server/src/_modules/internal.module.ts
  packages/room-server/src/_modules/ot.module.ts
  packages/room-server/src/_modules/resource.service.module.ts
  packages/room-server/src/actuator/actuator.module.ts
  packages/room-server/src/app.module.ts
  packages/room-server/src/automation/robot.module.ts
  packages/room-server/src/enterprise/enterprise.module.ts
  packages/room-server/src/entry.module.ts
  packages/room-server/src/socket/socket.module.ts
Due: none

style: anglicize entities (#1605)
  packages/room-server/src/database/entities/asset.entity.ts
  packages/room-server/src/database/entities/datasheet.changeset.entity.ts
  packages/room-server/src/database/entities/datasheet.changeset.source.entity.ts
  packages/room-server/src/database/entities/datasheet.entity.ts
  packages/room-server/src/database/entities/datasheet.meta.entity.ts
  packages/room-server/src/database/entities/datasheet.operation.entity.ts
  packages/room-server/src/database/entities/datasheet.record.alarm.entity.ts
  packages/room-server/src/database/entities/datasheet.record.entity.ts
  packages/room-server/src/database/entities/datasheet.record.source.entity.ts
  packages/room-server/src/database/entities/datasheet.record.subscription.entity.ts
  packages/room-server/src/database/entities/datasheet.widget.entity.ts
  packages/room-server/src/database/entities/developer.entity.ts
  packages/room-server/src/database/entities/node.desc.entity.ts
  packages/room-server/src/database/entities/node.entity.ts
  packages/room-server/src/database/entities/node.rel.entity.ts
  packages/room-server/src/database/entities/node.share.setting.entity.ts
  packages/room-server/src/database/entities/record.comment.entity.ts
  packages/room-server/src/database/entities/resource.changeset.entity.ts
  packages/room-server/src/database/entities/resource.meta.entity.ts
  packages/room-server/src/database/entities/unit.entity.ts
  packages/room-server/src/database/entities/unit.member.entity.ts
  packages/room-server/src/database/entities/unit.tag.entity.ts
  packages/room-server/src/database/entities/unit.team.entity.ts
  packages/room-server/src/database/entities/user.entity.ts
  packages/room-server/src/database/entities/widget.entity.ts
  packages/room-server/src/fusion/ros/record.update.ro.ts
Due: none

refactor: translate backend-service define project (#1512)
  backend-server/vikadata-define/README.adoc
  backend-server/vikadata-define/src/main/java/com/vikadata/define/constants/DateFormatConstants.java
  backend-server/vikadata-define/src/main/java/com/vikadata/define/constants/RedisConstants.java
  backend-server/vikadata-define/src/main/java/com/vikadata/define/dtos/PausedUserHistoryDto.java
  backend-server/vikadata-define/src/main/java/com/vikadata/define/enums/NodeType.java
  backend-server/vikadata-define/src/main/java/com/vikadata/define/ros/PausedUserHistoryRo.java
  backend-server/vikadata-define/src/main/java/com/vikadata/define/utils/DigestUtil.java
  backend-server/vikadata-define/src/main/java/com/vikadata/define/utils/FileTool.java
  backend-server/vikadata-define/src/main/java/com/vikadata/define/utils/InputStreamCache.java
  backend-server/vikadata-define/src/main/java/com/vikadata/define/utils/MimeTypeMapping.java
Due: none

refactor: remove _modules of room-server (#1610)
  packages/room-server/src/_modules/datasheet.service.module.ts
  packages/room-server/src/_modules/developer.service.module.ts
  packages/room-server/src/_modules/fusion.api.service.module.ts
  packages/room-server/src/_modules/node.service.module.ts
  packages/room-server/src/_modules/ot.module.ts
  packages/room-server/src/_modules/resource.service.module.ts
  packages/room-server/src/_modules/socket.module.ts
  packages/room-server/src/_modules/unit.service.module.ts
  packages/room-server/src/_modules/widget.module.ts
  packages/room-server/src/app.module.ts
  packages/room-server/src/fusion/fusion.api.module.ts
  packages/room-server/src/shared/adapters/adapters.init.ts
  packages/room-server/src/shared/middleware/middleware.module.ts
  packages/room-server/src/shared/services/grpc/grpc.service.module.ts
Due: none

docs: translate module api/test (#1612)
  backend-server/vikadata-service/vikadata-service-api/src/test/java/com/vikadata/api/modular/developer/mapper/DeveloperMapperTest.java
  backend-server/vikadata-service/vikadata-service-api/src/test/java/com/vikadata/api/modular/developer/service/impl/GmServiceImplTest.java
  backend-server/vikadata-service/vikadata-service-api/src/test/java/com/vikadata/api/modular/integral/mapper/IntegralHistoryMapperTest.java
  backend-server/vikadata-service/vikadata-service-api/src/test/java/com/vikadata/api/modular/organization/mapper/MemberMapperTest.java
  backend-server/vikadata-service/vikadata-service-api/src/test/java/com/vikadata/api/modular/organization/mapper/RoleMapperTest.java
  backend-server/vikadata-service/vikadata-service-api/src/test/java/com/vikadata/api/modular/organization/mapper/RoleMemberMapperTest.java
  backend-server/vikadata-service/vikadata-service-api/src/test/java/com/vikadata/api/modular/organization/mapper/TeamMapperTest.java
  backend-server/vikadata-service/vikadata-service-api/src/test/java/com/vikadata/api/modular/organization/mapper/TeamMemberRelMapperTest.java
  backend-server/vikadata-service/vikadata-service-api/src/test/java/com/vikadata/api/modular/organization/mapper/UnitMapperTest.java
  backend-server/vikadata-service/vikadata-service-api/src/test/java/com/vikadata/api/modular/organization/service/impl/OrganizationServiceImplTest.java
  backend-server/vikadata-service/vikadata-service-api/src/test/java/com/vikadata/api/modular/organization/service/impl/RoleMemberServiceImplTest.java
  backend-server/vikadata-service/vikadata-service-api/src/test/java/com/vikadata/api/modular/organization/service/impl/RoleServiceImplTest.java
  backend-server/vikadata-service/vikadata-service-api/src/test/java/com/vikadata/api/modular/organization/service/impl/TeamServiceImplTest.java
  backend-server/vikadata-service/vikadata-service-api/src/test/java/com/vikadata/api/modular/space/mapper/SpaceApplyMapperTest.java
  backend-server/vikadata-service/vikadata-service-api/src/test/java/com/vikadata/api/modular/space/mapper/SpaceAssetMapperTest.java
  backend-server/vikadata-service/vikadata-service-api/src/test/java/com/vikadata/api/modular/space/mapper/SpaceInviteLinkMapperTest.java
  backend-server/vikadata-service/vikadata-service-api/src/test/java/com/vikadata/api/modular/space/mapper/SpaceMapperTest.java
  backend-server/vikadata-service/vikadata-service-api/src/test/java/com/vikadata/api/modular/space/mapper/SpaceMemberRoleRelMapperTest.java
  backend-server/vikadata-service/vikadata-service-api/src/test/java/com/vikadata/api/modular/space/mapper/SpaceResourceMapperTest.java
  backend-server/vikadata-service/vikadata-service-api/src/test/java/com/vikadata/api/modular/space/mapper/SpaceRoleMapperTest.java
  backend-server/vikadata-service/vikadata-service-api/src/test/java/com/vikadata/api/modular/space/mapper/SpaceRoleResourceRelMapperTest.java
  backend-server/vikadata-service/vikadata-service-api/src/test/java/com/vikadata/api/modular/space/service/impl/InvitationServiceImplTest.java
  backend-server/vikadata-service/vikadata-service-api/src/test/java/com/vikadata/api/modular/space/service/impl/SpaceInviteLinkServiceImplTest.java
  backend-server/vikadata-service/vikadata-service-api/src/test/java/com/vikadata/api/modular/space/service/impl/SpaceRoleServiceImplTest.java
  backend-server/vikadata-service/vikadata-service-api/src/test/java/com/vikadata/api/modular/space/service/impl/SpaceServiceImplTest.java
  backend-server/vikadata-service/vikadata-service-api/src/test/java/com/vikadata/api/modular/workspace/mapper/DatasheetMapperTest.java
  backend-server/vikadata-service/vikadata-service-api/src/test/java/com/vikadata/api/modular/workspace/mapper/DatasheetMetaMapperTest.java
  backend-server/vikadata-service/vikadata-service-api/src/test/java/com/vikadata/api/modular/workspace/mapper/DatasheetRecordMapperTest.java
  backend-server/vikadata-service/vikadata-service-api/src/test/java/com/vikadata/api/modular/workspace/mapper/DatasheetWidgetMapperTest.java
  backend-server/vikadata-service/vikadata-service-api/src/test/java/com/vikadata/api/modular/workspace/mapper/NodeDescMapperTest.java
  backend-server/vikadata-service/vikadata-service-api/src/test/java/com/vikadata/api/modular/workspace/mapper/NodeFavoriteMapperTest.java
  backend-server/vikadata-service/vikadata-service-api/src/test/java/com/vikadata/api/modular/workspace/mapper/ResourceMetaMapperTest.java
  backend-server/vikadata-service/vikadata-service-api/src/test/java/com/vikadata/api/modular/workspace/mapper/WidgetMapperTest.java
  backend-server/vikadata-service/vikadata-service-api/src/test/java/com/vikadata/api/modular/workspace/mapper/WidgetPackageAuthSpaceMapperTest.java
  backend-server/vikadata-service/vikadata-service-api/src/test/java/com/vikadata/api/modular/workspace/mapper/WidgetPackageReleaseMapperTest.java
  backend-server/vikadata-service/vikadata-service-api/src/test/java/com/vikadata/api/modular/workspace/service/impl/DatasheetServiceImplTest.java
  backend-server/vikadata-service/vikadata-service-api/src/test/java/com/vikadata/api/modular/workspace/service/impl/FieldRoleServiceImplTest.java
  backend-server/vikadata-service/vikadata-service-api/src/test/java/com/vikadata/api/modular/workspace/service/impl/NodeRoleServiceImplTest.java
  backend-server/vikadata-service/vikadata-service-api/src/test/java/com/vikadata/api/modular/workspace/service/impl/NodeServiceImplTest.java
Due: none

refactor: translate appstore/client/ control unit test annotation (#1613)
  backend-server/vikadata-service/vikadata-service-api/src/test/java/com/vikadata/api/modular/appstore/mapper/AppInstanceMapperTest.java
  backend-server/vikadata-service/vikadata-service-api/src/test/java/com/vikadata/api/modular/appstore/model/AppInstanceConfigTest.java
  backend-server/vikadata-service/vikadata-service-api/src/test/java/com/vikadata/api/modular/client/mapper/ClientReleaseVersionMapperTest.java
  backend-server/vikadata-service/vikadata-service-api/src/test/java/com/vikadata/api/modular/client/service/impl/ClientReleaseVersionServiceImplTest.java
  backend-server/vikadata-service/vikadata-service-api/src/test/java/com/vikadata/api/modular/control/mapper/ControlMapperTest.java
  backend-server/vikadata-service/vikadata-service-api/src/test/java/com/vikadata/api/modular/control/mapper/ControlRoleMapperTest.java
  backend-server/vikadata-service/vikadata-service-api/src/test/java/com/vikadata/api/modular/control/mapper/ControlSettingMapperTest.java
Due: none

refactor: remove all room-server useless _modules (#1611)
  packages/room-server/src/_modules/README.md
  packages/room-server/src/_modules/command.service.module.ts
  packages/room-server/src/_modules/datasheet.service.module.ts
  packages/room-server/src/_modules/fusion.api.service.module.ts
  packages/room-server/src/_modules/node.service.module.ts
  packages/room-server/src/_modules/queue.worker.module.ts
  packages/room-server/src/_modules/resource.service.module.ts
  packages/room-server/src/_modules/rest.module.ts
  packages/room-server/src/_modules/sched.task.module.ts
  packages/room-server/src/_modules/socket.module.ts
  packages/room-server/src/_modules/user.service.module.ts
  packages/room-server/src/app.module.ts
  packages/room-server/src/automation/robot.module.ts
  packages/room-server/src/database/database.module.ts
  packages/room-server/src/enterprise/enterprise.module.ts
  packages/room-server/src/enterprise/shared/queue.worker.module.ts
  packages/room-server/src/fusion/fusion.api.module.ts
  packages/room-server/src/shared/adapters/adapters.init.ts
  packages/room-server/src/shared/global.module.ts
  packages/room-server/src/shared/middleware/middleware.module.ts
  packages/room-server/src/shared/services/zipkin/zipkin.module.ts
Due: none

chore: antd version downgrade (#1615)
  packages/components/package.json
  packages/datasheet/package.json
  yarn.lock
Due: build_vika_design, deploy_vika_design, build_widget_stage, deploy_widget_stage

Style/anglicize remaining comments (#1614)
  packages/room-server/src/database/interfaces/space.model.ts
  packages/room-server/src/database/ros/changeset.ro.ts
  packages/room-server/src/database/ros/comment.ro.ts
  packages/room-server/src/database/ros/datasheet.pack.ro.ts
  packages/room-server/src/database/ros/page.ro.ts
  packages/room-server/src/database/ros/record.history.param.ro.ts
  packages/room-server/src/database/ros/record.history.query.ro.ts
  packages/room-server/src/database/ros/sort.ro.ts
  packages/room-server/src/proto/generated/proto/changeset.service.ts
  packages/room-server/src/proto/generated/proto/message.ts
  packages/room-server/src/proto/generated/proto/service.ts
  packages/room-server/src/proto/generated/proto/socket.service.ts
  packages/room-server/src/proto/message.proto
  packages/room-server/src/proto/service.proto
  packages/room-server/test/fusion-api.attachment.e2e-spec.ts
  packages/room-server/test/fusion-api.common.e2e-spec.ts
  packages/room-server/test/fusion-api.datasheet.e2e-spec.ts
  packages/room-server/test/fusion-api.e2e-spec.ts
Due: none

fix: specified unit load failure issue (#1621)
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/organization/service/impl/OrganizationServiceImpl.java
Due: none

refactor: public links shared by users after leaving the space keep vaild (#1599)
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/model/vo/node/NodeShareInfoVO.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/organization/mapper/MemberMapper.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/organization/service/impl/MemberServiceImpl.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/workspace/model/MemberInfoDTO.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/workspace/service/impl/NodeShareServiceImpl.java
  backend-server/vikadata-service/vikadata-service-api/src/main/resources/mapper/organization/MemberMapper.xml
  backend-server/vikadata-service/vikadata-service-api/src/test/java/com/vikadata/api/modular/organization/mapper/MemberMapperTest.java
Due: none

fix: removed user hidden enter card (#1603)
  packages/core/src/store/interface/share.ts
  packages/datasheet/src/pc/components/share/interface.ts
  packages/datasheet/src/pc/components/share/share_menu/share_menu.tsx
Due: build_widget_stage, deploy_widget_stage

chore(core): update jest version (#1622)
  packages/core/package.json
  yarn.lock
Due: build_widget_stage, deploy_widget_stage

refactor: translation remain code comment (#1619)
  backend-server/.gitpod.yml
  backend-server/buildSrc/src/main/resources/templates/self-entity.java.ftl
  backend-server/buildSrc/src/main/resources/templates/self-entity.java.vm
  backend-server/vikadata-define/src/main/java/com/vikadata/define/constants/DateFormatConstants.java
  backend-server/vikadata-integration/vikadata-integration-oss/src/main/java/com/vikadata/integration/oss/minio/MinioOssClientRequest.java
  backend-server/vikadata-integration/vikadata-integration-oss/src/main/java/com/vikadata/integration/oss/qiniu/QiniuOssClientRequest.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/context/SessionContext.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/base/controller/AttachController.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/base/service/impl/AuthServiceImpl.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/client/controller/ClientController.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/client/service/impl/ClientReleaseVersionServiceImpl.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/finance/service/impl/SocialWecomOrderServiceImpl.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/mapper/ExpandBaseMapper.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/service/ExpandServiceImpl.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/social/mapper/SocialWecomPermitOrderMapper.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/social/service/ISocialCpIsvPermitService.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/space/model/InviteUserInfo.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/space/service/impl/SpaceInviteLinkServiceImpl.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/workspace/controller/NodeController.java
Due: none

refactor: translation for core tests (#1616)
  packages/core/src/automation_manager/magic_variable/sys_functions/index.ts
  packages/core/src/automation_manager/node_output_schema/readme.md
  packages/core/src/automation_manager/validate.ts
  packages/core/src/engine/ot/__tests__/compose.test.ts
  packages/core/src/event_manager/__test__/op2event.test.ts
  packages/core/src/formula_parser/__tests__/array.test.ts
  packages/core/src/formula_parser/__tests__/date_time.test.ts
  packages/core/src/formula_parser/__tests__/evaluate.test.ts
  packages/core/src/formula_parser/__tests__/logical.test.ts
  packages/core/src/formula_parser/__tests__/mock_state.ts
  packages/core/src/formula_parser/__tests__/numeric.test.ts
  packages/core/src/model/field/__tests__/auto_number_field.test.ts
  packages/core/src/model/field/__tests__/check_field.test.ts
  packages/core/src/model/field/__tests__/common.ts
  packages/core/src/model/field/__tests__/created_by_field.test.ts
  packages/core/src/model/field/__tests__/currency_field.test.ts
  packages/core/src/model/field/__tests__/datetime_field.test.ts
  packages/core/src/model/field/__tests__/formula_field.test.ts
  packages/core/src/model/field/__tests__/last_modified_by_field.test.ts
  packages/core/src/model/field/__tests__/link_field.test.ts
  packages/core/src/model/field/__tests__/lookup_field.test.ts
  packages/core/src/model/field/__tests__/member_field.test.ts
  packages/core/src/model/field/__tests__/number_field.test.ts
  packages/core/src/model/field/__tests__/open/created_time_field.test.ts
Due: build_widget_stage, deploy_widget_stage
