Repository apitable/apitable: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install_cypress, build_vika_design, deploy_vika_design, build_widget_stage, deploy_widget_stage

install_cypress:
  before_script:
  - yarn config get npmRegistryServer
  - yarn config set npmRegistryServer https://nexus.vika.ltd/repository/npm-group/
  tags:
  - node
  stage: install
  image: node:$NODE_JS_VERSION-alpine
  when: manual
  cache:
    key: ${CI_PROJECT_NAME}_${CI_COMMIT_REF_NAME}
    paths:
    - node_modules/
  ...

build_vika_design:
  before_script:
  - yarn config get npmRegistryServer
  - yarn config set npmRegistryServer https://nexus.vika.ltd/repository/npm-group/
  stage: build
  image: node:$NODE_JS_VERSION-alpine
  script:
  - echo "build vika design components"
  - yarn workspaces focus @vikadata/components
  - yarn build:icons
  ...

deploy_vika_design:
  script:
  - aws s3 cp packages/components/styleguide s3://bundle.vika.ltd/component  --recursive --include "*"
  stage: deploy
  dependencies:
  - build_vika_design
  image: vikadata/dind-aws-node

build_widget_stage:
  tags:
  - node
  stage: build
  image: node:$NODE_JS_VERSION-alpine
  artifacts:
    name: ${CI_PROJECT_NAME}_${CI_JOB_NAME}_${CI_COMMIT_REF_NAME}_${CI_COMMIT_SHA}_widget_stage
    paths:
    - packages/widget-stage/build/
    expire_in: 1 weeks

deploy_widget_stage:
  tags:
  - node
  stage: deploy
  needs:
  - job: build_widget_stage
  image: vikadata/dind-aws-node
  before_script:
  - WIDGET_STAGE_ENV=$(echo $CI_COMMIT_REF_NAME)
  services:
  - name: vikadata/dind-aws-node
    command:
    - --registry-mirror=https://nt14bg6k.mirror.aliyuncs.com
  variables:
    GIT_STRATEGY: none
  ...

fix: role manange style (#1048)
  packages/datasheet/src/pc/components/space_manage/role/content/edit_role_modal.tsx
  packages/datasheet/src/pc/components/space_manage/role/content/left.tsx
  packages/datasheet/src/pc/components/space_manage/role/content/right_header.tsx
  packages/datasheet/src/pc/components/space_manage/role/content/role_item.tsx
  packages/datasheet/src/pc/components/space_manage/role/content/role_table.tsx
  packages/datasheet/src/pc/components/space_manage/role/content/style.module.less
  packages/datasheet/src/pc/components/space_manage/role/style.module.less
Due: none

fix(widget-sdk): judgment of widget operation authority (#1013)
  packages/widget-sdk/src/interface/modal.ts
  packages/widget-sdk/src/model/datasheet.ts
Due: build_widget_stage, deploy_widget_stage

Feat/node move (#1047)
  backend-server/Makefile
  backend-server/vikadata-integration/vikadata-integration-grpc-model/src/main/proto/BackendServingService.proto
  backend-server/vikadata-service/vikadata-mongodb-model/src/main/java/com/vikadata/schema/NodeRecentlyBrowsedSchema.java
  backend-server/vikadata-service/vikadata-service-api/build.gradle
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/config/MongodbConfig.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/grpc/client/service/impl/BackendServingServiceImpl.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/workspace/controller/NodeController.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/workspace/mapper/NodeMapper.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/workspace/repository/NodeRecentlyBrowsedRepository.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/workspace/service/INodeRecentlyBrowsedService.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/workspace/service/INodeService.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/workspace/service/impl/NodeRecentlyBrowsedServiceImpl.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/workspace/service/impl/NodeServiceImpl.java
  backend-server/vikadata-service/vikadata-service-api/src/main/resources/application.yml
  backend-server/vikadata-service/vikadata-service-api/src/main/resources/logback-spring.xml
  backend-server/vikadata-service/vikadata-service-api/src/main/resources/mapper/workspace/NodeMapper.xml
  backend-server/vikadata-service/vikadata-service-api/src/test/java/com/vikadata/api/modular/workspace/service/impl/NodeServiceImplTest.java
  init-db/src/main/resources/mongo/0.13/20220927_index.shell
  packages/socket-server/src/constants/gateway.constants.ts
  packages/socket-server/src/enum/request-types.enum.ts
  packages/socket-server/src/gateway/notification.gateway.ts
  packages/socket-server/src/grpc/client/grpc.client.module.ts
  packages/socket-server/src/grpc/client/grpc.client.ts
  packages/socket-server/src/grpc/generated/grpc/proto/backend.serving.service.ts
  packages/socket-server/src/grpc/proto/backend.serving.service.proto
  packages/socket-server/src/model/ro/notification/node.browsed.ro.ts
  packages/socket-server/src/service/notification/i-notification-service.interface.ts
  packages/socket-server/src/service/notification/notification.module.ts
  packages/socket-server/src/service/notification/notification.service.ts
Due: none

feat: move folder (#409)
  packages/core/src/api/api.interface.ts
  packages/core/src/api/api.ts
  packages/core/src/config/api_tip_config.interface.ts
  packages/core/src/config/dom_id/workbench_side_id.ts
  packages/core/src/config/url.ts
  packages/core/src/store/action_constants.ts
  packages/core/src/store/actions/catalog_tree.ts
  packages/core/src/store/interface/catalog_tree.ts
  packages/core/src/store/reducers/catalog_tree.ts
  packages/datasheet/src/pc/components/catalog/move_to/folder_item.tsx
  packages/datasheet/src/pc/components/catalog/move_to/index.ts
  packages/datasheet/src/pc/components/catalog/move_to/move_to.tsx
  packages/datasheet/src/pc/components/catalog/move_to/select_folder.tsx
  packages/datasheet/src/pc/components/catalog/move_to/select_folder_tips.tsx
  packages/datasheet/src/pc/components/catalog/move_to/style.module.less
  packages/datasheet/src/pc/components/catalog/move_to/title.tsx
  packages/datasheet/src/pc/components/catalog/node_context_menu/context_menu_data.ts
  packages/datasheet/src/pc/components/catalog/node_context_menu/node_context_menu.tsx
  packages/datasheet/src/pc/components/common/tree_view/tree_view/tree_view.tsx
  packages/datasheet/src/pc/components/common_side/workbench_side/workbench_side.tsx
  packages/datasheet/src/pc/notification_store.ts
Due: build_widget_stage, deploy_widget_stage

fix: copywriting errors (#1061)
  packages/datasheet/src/pc/components/space_manage/log/log.tsx
  packages/datasheet/src/static/lang/en-US.js
  packages/i18n-lang/src/config/strings.auto.json
  packages/i18n-lang/src/config/strings.json
Due: build_widget_stage, deploy_widget_stage

fix: role manage member table missing member with scrollbars (#1062)
  packages/datasheet/src/pc/components/space_manage/role/content/role_table.tsx
Due: none

feat: show full hierarchy team name when search member (#1063)
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/model/vo/node/NodeRoleMemberVo.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/model/vo/node/NodeRoleUnit.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/model/vo/organization/MemberInfoVo.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/model/vo/organization/MemberPageVo.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/model/vo/organization/SearchMemberResultVo.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/model/vo/organization/TeamVo.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/model/vo/organization/UnitInfoVo.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/model/vo/organization/UnitMemberVo.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/organization/controller/MemberController.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/organization/controller/OrganizationController.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/organization/mapper/MemberMapper.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/organization/mapper/TeamMapper.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/organization/model/MemberBaseInfoDTO.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/organization/model/MemberTeamInfoDTO.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/organization/model/MemberTeamPathInfo.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/organization/model/TeamPathInfo.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/organization/service/IMemberService.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/organization/service/IOrganizationService.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/organization/service/ITeamService.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/organization/service/impl/MemberServiceImpl.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/organization/service/impl/OrganizationServiceImpl.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/organization/service/impl/TeamServiceImpl.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/organization/service/impl/UnitServiceImpl.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/workspace/controller/NodeRoleController.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/workspace/service/INodeRoleService.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/workspace/service/impl/NodeRoleServiceImpl.java
  backend-server/vikadata-service/vikadata-service-api/src/main/resources/mapper/organization/MemberMapper.xml
  backend-server/vikadata-service/vikadata-service-api/src/main/resources/mapper/organization/TeamMapper.xml
  backend-server/vikadata-service/vikadata-service-api/src/test/java/com/vikadata/api/modular/organization/mapper/MemberMapperTest.java
  backend-server/vikadata-service/vikadata-service-api/src/test/java/com/vikadata/api/modular/organization/mapper/TeamMapperTest.java
  backend-server/vikadata-service/vikadata-service-api/src/test/java/com/vikadata/api/modular/organization/service/impl/TeamServiceImplTest.java
Due: none

feat: new user notification (#1059)
  backend-server/system-config/src/main/resources/strings.auto.json
  backend-server/system-config/src/main/resources/system_config.auto.json
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/component/notification/NotificationTemplateId.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/constants/NotificationConstants.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/user/service/IUserService.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/user/service/impl/UserServiceImpl.java
  backend-server/vikadata-service/vikadata-service-api/src/test/java/com/vikadata/api/modular/player/service/impl/PlayerNotificationServiceImplTest.java
Due: none

Revert "Revert "Feat/invitation zoe"" (#797)
  backend-server/vikadata-service/vikadata-db-model/src/main/java/com/vikadata/entity/InvitationEntity.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/model/ro/organization/InviteValidRo.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/model/ro/space/SpaceLinkOpRo.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/model/vo/organization/MemberUnitsVo.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/model/vo/organization/UnitInfoVo.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/organization/controller/MemberController.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/organization/controller/OrganizationController.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/organization/mapper/MemberMapper.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/organization/model/LoadSearchDTO.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/organization/model/MemberTeamRelDTO.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/organization/service/IMemberService.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/organization/service/IOrganizationService.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/organization/service/impl/MemberServiceImpl.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/organization/service/impl/OrganizationServiceImpl.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/organization/service/impl/TeamServiceImpl.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/organization/service/impl/UnitServiceImpl.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/space/controller/SpaceLinkController.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/space/mapper/InvitationMapper.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/space/model/InvitationUserDTO.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/space/service/IInvitationService.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/space/service/ISpaceInviteLinkService.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/space/service/ISpaceService.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/space/service/impl/InvitationServiceImpl.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/space/service/impl/SpaceInviteLinkServiceImpl.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/space/service/impl/SpaceServiceImpl.java
  backend-server/vikadata-service/vikadata-service-api/src/main/resources/mapper/organization/MemberMapper.xml
  backend-server/vikadata-service/vikadata-service-api/src/main/resources/mapper/space/InvitationMapper.xml
  backend-server/vikadata-service/vikadata-service-api/src/test/java/com/vikadata/api/AbstractIntegrationTest.java
  backend-server/vikadata-service/vikadata-service-api/src/test/java/com/vikadata/api/mock/bean/MockInvitation.java
  backend-server/vikadata-service/vikadata-service-api/src/test/java/com/vikadata/api/modular/space/service/impl/InvitationServiceImplTest.java
  backend-server/vikadata-service/vikadata-service-api/src/test/java/com/vikadata/api/modular/space/service/impl/SpaceInviteLinkServiceImplTest.java
Due: none

fix: empty cell role value (#1058)
  packages/core/src/types/field_types.ts
  packages/room-server/src/modules/services/unit/unit.service.ts
Due: build_widget_stage, deploy_widget_stage

Feat/show member complete info (#1004)
  packages/core/src/store/interface/address_list.ts
  packages/core/src/store/interface/catalog_tree.ts
  packages/core/src/store/interface/space_member_manage.ts
  packages/core/src/store/interface/unit_info.ts
  packages/datasheet/src/pc/components/address_list/member_info/member_info.tsx
  packages/datasheet/src/pc/components/address_list/member_info/style.module.less
  packages/datasheet/src/pc/components/catalog/permission_settings/permission/select_unit_modal/select_unit_left.tsx
  packages/datasheet/src/pc/components/catalog/permission_settings_plus/permission/unit_item/unit_item.tsx
  packages/datasheet/src/pc/components/common/info_card/info_card.tsx
  packages/datasheet/src/pc/components/common/info_card/omitted_middle_text/index.ts
  packages/datasheet/src/pc/components/common/info_card/omitted_middle_text/omitted_middle_text.tsx
  packages/datasheet/src/pc/components/common/info_card/omitted_middle_text/style.module.less
  packages/datasheet/src/pc/components/common/info_card/style.module.less
  packages/datasheet/src/pc/components/common/search_team_and_member/search_list/search_list.tsx
  packages/datasheet/src/pc/components/common/search_team_and_member/search_list/style.module.less
  packages/datasheet/src/pc/components/common/user_card/style.module.less
  packages/datasheet/src/pc/components/common/user_card/user_card.tsx
  packages/datasheet/src/pc/components/common/user_card/user_card_trigger.tsx
  packages/datasheet/src/pc/components/draft_editor/styles/style.module.less
  packages/datasheet/src/pc/components/list/common_list/styles.module.less
  packages/datasheet/src/pc/components/list/member_option_list/member_optiton_list.tsx
  packages/datasheet/src/pc/components/list/member_option_list/styles.module.less
  packages/datasheet/src/pc/components/space_manage/space_member_manage/member_table/member_table.tsx
  packages/datasheet/src/pc/components/space_manage/space_member_manage/member_table/style.module.less
  packages/datasheet/src/pc/components/space_manage/space_member_manage/modal/edit_member_modal/edit_member_modal.tsx
  packages/datasheet/src/pc/components/space_manage/space_member_manage/modal/edit_member_modal/style.module.less
Due: build_widget_stage, deploy_widget_stage

fix: time panel dragable (#1070)
  packages/datasheet/src/pc/components/catalog/share_node/public_link/public_share_invite_link.tsx
  packages/datasheet/src/pc/components/catalog/share_node/public_link/style.module.less
  packages/datasheet/src/pc/components/catalog/share_node/share_content.tsx
  packages/datasheet/src/pc/components/catalog/share_node/style.module.less
  packages/datasheet/src/pc/components/datasheet_pane/datasheet_pane.tsx
  packages/datasheet/src/pc/components/draft_editor/styles/style.module.less
  packages/datasheet/src/pc/components/multi_grid/cell/cell_member/member_item.tsx
Due: none

fix: comment role style (#1072)
  packages/datasheet/src/pc/components/multi_grid/cell/cell_member/member_item.tsx
  packages/datasheet/src/pc/components/space_manage/role/content/role_table.tsx
Due: none

fix: empty role member error (#1067)
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/organization/service/impl/RoleServiceImpl.java
  backend-server/vikadata-service/vikadata-service-api/src/test/java/com/vikadata/api/modular/organization/service/impl/RoleServiceImplTest.java
Due: none

feat: optimize node template property query exception tip (#1079)
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/workspace/service/impl/NodeServiceImpl.java
Due: none

fix: load share qrcode error (#1076)
  packages/datasheet/src/pc/components/catalog/share_node/public_link/download_qr_code.tsx
Due: none

feat: update billing plan(sliver-100 seat plan) (#1080)
  backend-server/system-config/src/main/resources/strings.auto.json
  backend-server/system-config/src/main/resources/system_config.auto.json
  backend-server/vikadata-service/vikadata-service-api/src/test/java/com/vikadata/api/modular/finance/service/impl/ShopServiceImplTest.java
  backend-server/vikadata-service/vikadata-service-api/src/test/java/com/vikadata/api/util/billing/BillingConfigManagerTest.java
Due: none

fix: role operation notify (#1078)
  packages/datasheet/src/pc/components/notification/card/utils.tsx
  packages/datasheet/src/pc/components/space_manage/role/content/left.tsx
  packages/datasheet/src/pc/components/space_manage/role/content/role_item.tsx
  packages/datasheet/src/pc/components/space_manage/role/content/style.module.less
Due: none

Fix/grid renderer (#1089)
  packages/datasheet/src/pc/components/gantt_view/components/gantt_export/gantt_export.tsx
  packages/datasheet/src/pc/components/gantt_view/components/setting_panel/setting_panel.tsx
  packages/datasheet/src/pc/components/gantt_view/dom_gantt/dom_gantt.tsx
  packages/datasheet/src/pc/components/gantt_view/gantt_view.tsx
  packages/datasheet/src/pc/components/gantt_view/utils/helper.ts
  packages/datasheet/src/pc/components/home/style.module.less
  packages/datasheet/src/pc/components/konva_grid/components/field_head/field_head.tsx
  packages/datasheet/src/pc/components/konva_grid/constant.ts
  packages/datasheet/src/pc/components/share/share.tsx
Due: none

fix: mark notice to read when jump url (#1087)
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/constants/NotificationConstants.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/user/service/impl/UserServiceImpl.java
Due: none

Fix/node move (#1088)
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/organization/service/impl/TeamServiceImpl.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/space/service/impl/InvitationServiceImpl.java
Due: none

fix: field set permission crash (#1096)
  packages/core/src/config/system_config.auto.json
  packages/core/src/config/system_config.interface.ts
  packages/datasheet/src/pc/components/catalog/share_node/public_link/public_share_invite_link.tsx
  packages/datasheet/src/pc/components/catalog/share_node/public_link/style.module.less
  packages/datasheet/src/pc/components/catalog/share_node/share_content.tsx
  packages/datasheet/src/pc/components/catalog/share_node/style.module.less
  packages/datasheet/src/pc/components/field_permission/unit_permission_select.tsx
  packages/datasheet/src/static/lang/en-US.js
  packages/i18n-lang/src/config/strings.auto.json
  packages/i18n-lang/src/config/strings.json
Due: build_widget_stage, deploy_widget_stage

Fix cola (#1091)
  packages/datasheet/src/pc/components/common/color_picker/color_picker.tsx
  packages/datasheet/src/pc/components/common/color_picker/color_picker_pane.tsx
  packages/datasheet/src/pc/components/common/color_picker/style.module.less
  packages/datasheet/src/pc/components/subscribe_system/usage_warn_modal/usage_warn_modal.tsx
  packages/datasheet/utils/get_initial_props.ts
Due: none

fix: resolve member's team path name is null when member in same branch (#1093)
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/organization/controller/MemberController.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/organization/service/IMemberService.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/organization/service/impl/MemberServiceImpl.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/organization/service/impl/TeamServiceImpl.java
  backend-server/vikadata-service/vikadata-service-api/src/test/java/com/vikadata/api/modular/organization/service/impl/TeamServiceImplTest.java
Due: none

fix: move node (#1094)
  packages/datasheet/src/pc/components/catalog/move_to/move_to.tsx
  packages/datasheet/src/pc/components/catalog/move_to/select_folder_tips.tsx
  packages/datasheet/src/pc/components/catalog/move_to/style.module.less
  packages/datasheet/src/pc/components/catalog/move_to/title.tsx
  packages/datasheet/src/pc/components/catalog/tree/tree.tsx
Due: none

chore: upgrade version to 0.13.8 (#1104)
  .bumpversion.cfg
  .version
  backend-server/.version
  backend-server/build.gradle
  backend-server/gradle.properties
  init-db/.version
  init-db/build.gradle
  package.json
  packages/components/package.json
  packages/core/package.json
  packages/cypress/package.json
  packages/datasheet/package.json
  packages/i18n-lang/package.json
  packages/icons/package.json
  packages/room-server/package.json
  packages/socket-server/package.json
  packages/widget-sdk/package.json
Due: install_cypress, build_vika_design, deploy_vika_design, build_widget_stage, deploy_widget_stage

fix: remove useless index (#1106)
  packages/datasheet/src/pc/components/field_permission/unit_permission_select.tsx
Due: none

fix: role manangement (#1107)
  packages/core/src/i18n/stringkeys.interface.ts
  packages/core/src/i18n/strings.interface.ts
  packages/datasheet/src/pc/components/space_manage/role/content/right_header.tsx
  packages/datasheet/src/pc/components/space_manage/role/content/role_table.tsx
  packages/datasheet/src/static/lang/en-US.js
  packages/datasheet/src/static/lang/zh-CN.js
  packages/i18n-lang/src/config/strings.auto.json
  packages/i18n-lang/src/config/strings.json
Due: build_widget_stage, deploy_widget_stage

Fix/user notify (#1112)
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/user/service/impl/UserServiceImpl.java
Due: none

feat: search controller add member's isDeleted status (#1113)
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/model/vo/organization/SearchMemberResultVo.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/organization/service/impl/MemberServiceImpl.java
Due: none

fix: invite confirm error tip (#1120)
  packages/datasheet/src/pc/components/invite/link_invite/link_confirm.tsx
Due: none

fix: share update admin permission warning (#1114)
  packages/datasheet/src/pc/components/field_permission/unit_permission_select.tsx
Due: none

fix: move node modal style (#1116)
  packages/datasheet/src/pc/components/catalog/move_to/move_to.tsx
  packages/datasheet/src/pc/components/catalog/move_to/select_folder.tsx
  packages/datasheet/src/pc/components/catalog/move_to/select_folder_tips.tsx
  packages/datasheet/src/pc/components/catalog/move_to/style.module.less
  packages/datasheet/src/pc/components/catalog/move_to/title.tsx
  packages/datasheet/src/static/lang/en-US.js
  packages/datasheet/src/static/lang/zh-CN.js
  packages/i18n-lang/src/config/strings.auto.json
  packages/i18n-lang/src/config/strings.json
Due: build_widget_stage, deploy_widget_stage

fix: ios mobile share click fail (#1121)
  packages/datasheet/src/pc/components/catalog/share_node/public_link/public_share_invite_link.tsx
Due: none

fix: repair calculate capacity error (#1125)
  backend-server/system-config/src/main/java/com/vikadata/system/config/billing/Feature.java
  backend-server/system-config/src/main/resources/system_config.auto.json
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/util/billing/BillingConfigManager.java
  backend-server/vikadata-service/vikadata-service-api/src/test/java/com/vikadata/api/util/billing/BillingConfigManagerTest.java
Due: none

Fix/show member info bugfix (#1117)
  packages/datasheet/src/pc/components/catalog/permission_settings/permission/select_unit_modal/select_unit_left.tsx
  packages/datasheet/src/pc/components/common/info_card/info_card.tsx
  packages/datasheet/src/pc/components/common/loading/style.module.less
  packages/datasheet/src/pc/components/common/search_team_and_member/search_list/search_list.tsx
  packages/datasheet/src/pc/components/common/user_card/style.module.less
  packages/datasheet/src/pc/components/common/user_card/user_card.tsx
  packages/datasheet/src/pc/components/common/user_card/user_card_trigger.tsx
  packages/datasheet/src/pc/components/list/member_option_list/member_optiton_list.tsx
  packages/datasheet/src/pc/components/list/member_option_list/styles.module.less
  packages/datasheet/src/pc/components/space_manage/sub_admin/sub_admin.tsx
Due: none

fix: im invite hide (#1127)
  packages/datasheet/src/pc/components/catalog/share_node/public_link/public_share_invite_link.tsx
  packages/datasheet/src/pc/components/catalog/share_node/share_content.tsx
  packages/datasheet/src/pc/hooks/use_user_request.ts
  packages/datasheet/src/static/lang/en-US.js
  packages/datasheet/src/static/lang/zh-CN.js
  packages/i18n-lang/src/config/strings.auto.json
  packages/i18n-lang/src/config/strings.json
Due: build_widget_stage, deploy_widget_stage

fix: only wecom format username (#1128)
  packages/datasheet/src/pc/components/draft_editor/utils/helper.tsx
Due: none

Path conditions:
  install_cypress: any of: packages/cypress/package.json
  build_vika_design: any of: packages/components/docs/*, packages/components/src/*, packages/components/package.json
  deploy_vika_design: any of: packages/components/docs/*, packages/components/src/*, packages/components/package.json
  build_widget_stage: any of: packages/components/**/*, packages/core/**/*, packages/icon/**/*, packages/widget-stage/**/*, packages/widget-sdk/**/*, packages/i18n-lang/**/*
  deploy_widget_stage: any of: packages/components/**/*, packages/core/**/*, packages/icon/**/*, packages/widget-stage/**/*, packages/widget-sdk/**/*, packages/i18n-lang/**/*
