Repository apitable/apitable: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install_cypress, build_vika_design, deploy_vika_design, build_widget_stage, deploy_widget_stage

Path conditions:
  install_cypress: any of: packages/cypress/package.json
  build_vika_design: any of: packages/components/docs/*, packages/components/src/*, packages/components/package.json
  deploy_vika_design: any of: packages/components/docs/*, packages/components/src/*, packages/components/package.json
  build_widget_stage: any of: packages/components/**/*, packages/core/**/*, packages/icon/**/*, packages/widget-stage/**/*, packages/widget-sdk/**/*, packages/i18n-lang/**/*
  deploy_widget_stage: any of: packages/components/**/*, packages/core/**/*, packages/icon/**/*, packages/widget-stage/**/*, packages/widget-sdk/**/*, packages/i18n-lang/**/*

fix: Fix the page lag caused by frequent function calls. (#5422)
  packages/core/.eslintrc
  packages/core/src/model/field/date_time_base_field.ts
  packages/room-server/.eslintrc
Due: build_widget_stage, deploy_widget_stage

fix: lint error (#5425)
  packages/datasheet/src/pc/components/multi_grid/format/format_lookup/sort_field_options/sort_field_options.tsx
Due: none

fix: widget package release permission issue (#5431)
  backend-server/application/src/main/java/com/apitable/interfaces/security/SecurityContextConfig.java
  backend-server/application/src/main/java/com/apitable/interfaces/security/facade/DefaultWhiteListServiceFacadeImpl.java
  backend-server/application/src/main/java/com/apitable/interfaces/security/facade/WhiteListServiceFacade.java
  backend-server/application/src/main/java/com/apitable/widget/service/impl/WidgetPackageServiceImpl.java
Due: none

chore: remove unused language files (#5420)
  packages/datasheet/public/static/lang/en-US.js
  packages/datasheet/public/static/lang/zh-CN.js
Due: none

fix: strings for member field (#5394)
  packages/l10n/base/strings.en-US.json
  packages/l10n/base/strings.zh-CN.json
Due: none

chore: support optional skip global widget audit (#5445)
  backend-server/application/src/main/java/com/apitable/widget/service/impl/WidgetPackageServiceImpl.java
Due: none

feat: space search (#5444)
  packages/core/src/config/stringkeys.interface.ts
  packages/datasheet/public/file/langs/strings.en-US.json
  packages/datasheet/public/file/langs/strings.zh-CN.json
  packages/datasheet/src/pc/components/navigation/space_list_drawer/space_list/space_list.tsx
  packages/datasheet/src/pc/components/navigation/space_list_drawer/space_list/style.module.less
  packages/i18n-lang/src/config/strings.en-US.json
  packages/i18n-lang/src/config/strings.zh-CN.json
  packages/l10n/base/strings.en-US.json
  packages/l10n/base/strings.zh-CN.json
Due: build_widget_stage, deploy_widget_stage

fix: created by switch close no modal (#5447)
  packages/datasheet/src/pc/components/editors/enhance_text_editor/enhance_text_editor.tsx
  packages/datasheet/src/pc/components/expand_record/style.module.less
  packages/datasheet/src/pc/components/konva_grid/components/url_action_container/styles.module.less
  packages/datasheet/src/pc/components/multi_grid/format/format_created_by.tsx
Due: none

Feat/magic link order limit (#5433)
  packages/datasheet/src/pc/components/multi_grid/format/format_lookup/common_view_set/common_view_set.tsx
  packages/datasheet/src/pc/components/multi_grid/format/format_lookup/common_view_set/style.module.less
  packages/datasheet/src/pc/components/multi_grid/format/format_lookup/filter_modal/filter_modal.tsx
  packages/datasheet/src/pc/components/multi_grid/format/format_lookup/filter_modal/style.module.less
  packages/datasheet/src/pc/components/multi_grid/format/format_lookup/format_lookup.tsx
  packages/datasheet/src/pc/components/multi_grid/format/format_lookup/search_select_field/index.ts
  packages/datasheet/src/pc/components/multi_grid/format/format_lookup/search_select_field/search_select_field.tsx
  packages/datasheet/src/pc/components/multi_grid/format/format_lookup/search_select_field/style.module.less
  packages/datasheet/src/pc/components/multi_grid/format/format_lookup/sort_field_options/style.module.less
Due: none

fix: url edit mobile style (#5452)
  packages/datasheet/src/pc/components/editors/enhance_text_editor/enhance_text_editor.tsx
  packages/datasheet/src/pc/components/expand_record/field_editor/style.module.less
  packages/datasheet/src/pc/components/folder_showcase/style.module.less
  packages/datasheet/src/pc/components/konva_grid/components/url_action_container/styles.module.less
  packages/datasheet/src/pc/components/konva_grid/components/url_action_container/url_action_ui.tsx
Due: none

fix: login mode username or password error info (#5479)
  packages/datasheet/src/pc/hooks/use_user_request.ts
Due: none

fix: widget hook import (#5489)
  packages/datasheet/src/pc/components/widget/widget_panel/widget_list/widget_list.tsx
  packages/datasheet/src/pc/components/widget/widget_panel/widget_panel_header/widget_panel_header.tsx
Due: none

fix: url edit get temp value (#5488)
  packages/datasheet/src/pc/components/editors/enhance_text_editor/enhance_text_editor.tsx
  packages/datasheet/src/pc/components/editors/enhance_text_editor/styles.module.less
  packages/datasheet/src/pc/components/konva_grid/components/cell/cell_text/cell_text.tsx
  packages/datasheet/src/pc/components/konva_grid/components/url_action_container/url_action_ui.tsx
  packages/datasheet/src/pc/components/multi_grid/format/format_created_by.tsx
  packages/datasheet/src/pc/components/navigation/space_list_drawer/space_list/space_list.tsx
  packages/datasheet/src/pc/components/navigation/space_list_drawer/space_list/space_list_item/style.module.less
  packages/datasheet/src/pc/components/navigation/space_list_drawer/space_list/style.module.less
  packages/datasheet/src/pc/components/navigation/space_list_drawer/style.module.less
Due: none

fix: action execution message (#5457)
  packages/room-server/src/automation/actions/webhook/index.ts
Due: none

feat: Widget SDK 支持神奇引用 filter sort limit (#5453)
  packages/core/src/model/field/lookup_field.ts
  packages/core/src/types/field_api_property_types.ts
  packages/core/src/types/open/index.ts
  packages/core/src/types/open/open_field_read_types.ts
  packages/core/src/types/open/open_field_write_types.ts
  packages/core/src/types/open/open_lookup_types.ts
  packages/room-server/src/fusion/middleware/pipe/create.datasheet.pipe.ts
  packages/room-server/src/fusion/middleware/pipe/create.field.pipe.spec.ts
Due: build_widget_stage, deploy_widget_stage

feat: apitable sass help add partner program (#5493)
  packages/core/src/config/dom_id/nav_id.ts
  packages/datasheet/src/pc/components/navigation/help/help.tsx
  packages/l10n/base/strings.en-US.json
  packages/l10n/base/strings.zh-CN.json
Due: build_widget_stage, deploy_widget_stage

Refactor/date fns (#5499)
  packages/core/package.json
  packages/core/src/config/timezones.ts
  packages/core/src/model/field/date_time_base_field.ts
Due: build_widget_stage, deploy_widget_stage

fix: url edit cover title (#5500)
  packages/datasheet/src/pc/components/editors/container.tsx
  packages/datasheet/src/pc/components/editors/enhance_text_editor/enhance_text_editor.tsx
  packages/datasheet/src/pc/components/expand_record/field_editor/field_block.tsx
  packages/datasheet/src/pc/components/konva_grid/components/url_action_container/url_action_ui.tsx
  packages/datasheet/src/pc/components/multi_grid/format/format_created_by.tsx
  packages/datasheet/src/pc/components/multi_grid/format/format_member.tsx
Due: none

Feat/magic link order limit (#5494)
  packages/core/src/model/field/lookup_field.ts
Due: build_widget_stage, deploy_widget_stage

fix: add missing alt attribute to Upgrade Succeed image
  packages/datasheet/src/pc/components/workspace/workspace.tsx
Due: none

chore: remove i18n global dependencies (#5441)
  package.json
  packages/core/package.json
  packages/core/src/config/api_tip_config.interface.ts
  packages/core/src/config/system_config.interface.ts
  packages/cypress/package.json
  packages/room-server/package.json
  scripts/l10n.sh
  scripts/language-generate.sh
  yarn.lock
Due: install_cypress, build_widget_stage, deploy_widget_stage

feat: l10n custom lang list (#5504)
  packages/core/src/exports/i18n/index.ts
Due: build_widget_stage, deploy_widget_stage

fix: Menghitung zona waktu menyebabkan jeda halaman (#5508)
  packages/core/src/model/field/date_time_base_field.ts
Due: build_widget_stage, deploy_widget_stage

Fix cola (#5509)
  packages/datasheet/src/pc/components/multi_grid/format/format_created_by.tsx
Due: none

fix: cascader member empty (#5496)
  packages/room-server/src/database/cascader/cascader.module.ts
  packages/room-server/src/database/cascader/services/cascader.data.storage.provider.ts
  packages/room-server/src/database/cascader/services/cascader.databus.service.ts
  packages/room-server/src/database/cascader/services/datasheet.field.cascader.service.spec.ts
  packages/room-server/src/database/cascader/services/datasheet.field.cascader.snapshot.service.spec.ts
Due: none

revert: restore lose file
  backend-server/application/src/main/java/com/apitable/organization/dto/UnitRoleInfoDTO.java
  backend-server/application/src/main/java/com/apitable/user/dto/UserSensitiveDTO.java
Due: none

chore: unify email templates style
  backend-server/application/src/main/resources/templates/.prettierrc
  backend-server/application/src/main/resources/templates/notification/admin-notify-html.btl
  backend-server/application/src/main/resources/templates/notification/invite-email-html.btl
  backend-server/application/src/main/resources/templates/notification/register-email-html.btl
  backend-server/application/src/main/resources/templates/notification/remind-comment-html.btl
  backend-server/application/src/main/resources/templates/notification/remind-member-html.btl
  backend-server/application/src/main/resources/templates/notification/remove-member-html.btl
  backend-server/application/src/main/resources/templates/notification/space-apply-html.btl
  backend-server/application/src/main/resources/templates/notification/verification-code-html.btl
Due: none

feat: add network for db command
  .env
  Makefile
Due: none

fix: repair unit_id column in unit table
  backend-server/application/src/main/java/com/apitable/organization/service/impl/MemberServiceImpl.java
  backend-server/application/src/main/java/com/apitable/organization/service/impl/TeamServiceImpl.java
  backend-server/application/src/main/resources/mapper/organization/UnitMapper.xml
  backend-server/application/src/test/resources/sql/unit-data.sql
Due: none

fix: env file lint error
  .env
Due: none

fix: update lockfile by executig yarn install
  yarn.lock
Due: none

fix: add unitId to batchCreate sql (#5530)
  backend-server/application/src/main/java/com/apitable/organization/service/impl/MemberServiceImpl.java
  backend-server/application/src/main/java/com/apitable/organization/service/impl/RoleServiceImpl.java
  backend-server/application/src/main/java/com/apitable/organization/service/impl/TeamServiceImpl.java
  backend-server/application/src/main/resources/mapper/organization/UnitMapper.xml
  backend-server/application/src/test/resources/sql/unit-data.sql
Due: none

chore: merge release/0.21.0 into develop (#945)
  CHANGELOG.md
Due: none
