Repository apitable/apitable: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install_cypress, build_vika_design, deploy_vika_design, build_widget_stage, deploy_widget_stage

install_cypress:
  before_script:
  - yarn config get npmRegistryServer
  - yarn config set npmRegistryServer https://nexus.vika.ltd/repository/npm-group/
  tags:
  - node
  stage: install
  image: node:$NODE_JS_VERSION-alpine
  when: manual
  cache:
    key: ${CI_PROJECT_NAME}_${CI_COMMIT_REF_NAME}
    paths:
    - node_modules/
  ...

build_vika_design:
  before_script:
  - yarn config get npmRegistryServer
  - yarn config set npmRegistryServer https://nexus.vika.ltd/repository/npm-group/
  stage: build
  image: node:$NODE_JS_VERSION-alpine
  script:
  - echo "build vika design components"
  - yarn workspaces focus @vikadata/components
  - yarn build:icons
  ...

deploy_vika_design:
  script:
  - aws s3 cp packages/components/styleguide s3://bundle.vika.ltd/component  --recursive --include "*"
  stage: deploy
  dependencies:
  - build_vika_design
  image: vikadata/dind-aws-node

build_widget_stage:
  tags:
  - node
  stage: build
  image: node:$NODE_JS_VERSION-alpine
  artifacts:
    name: ${CI_PROJECT_NAME}_${CI_JOB_NAME}_${CI_COMMIT_REF_NAME}_${CI_COMMIT_SHA}_widget_stage
    paths:
    - packages/widget-stage/build/
    expire_in: 1 weeks

deploy_widget_stage:
  tags:
  - node
  stage: deploy
  needs:
  - job: build_widget_stage
  image: vikadata/dind-aws-node
  before_script:
  - WIDGET_STAGE_ENV=$(echo $CI_COMMIT_REF_NAME)
  services:
  - name: vikadata/dind-aws-node
    command:
    - --registry-mirror=https://nt14bg6k.mirror.aliyuncs.com
  variables:
    GIT_STRATEGY: none
  ...

chore: remove public/index.html (#2229)
  packages/datasheet/public/index.html
Due: none

chore: revert code (#2232)
  packages/datasheet/pages/_document.tsx
Due: none

feat: optimize widget stage of router page (#2235)
  packages/datasheet/pages/_app.tsx
Due: none

chore: optimize changeset api parameters
  packages/core/src/engine/engine.ts
  packages/core/src/modules/database/api/datasheet_api.ts
  packages/core/src/sync/room.ts
  packages/datasheet/src/pc/components/time_machine/index.tsx
  packages/room-server/src/database/controllers/resource.controller.ts
  packages/room-server/src/database/repositories/datasheet.changeset.repository.ts
  packages/room-server/src/database/repositories/resource.changeset.repository.ts
  packages/room-server/src/database/services/resource/changeset.service.ts
Due: build_widget_stage, deploy_widget_stage

fix: get relate changesets failure issue
  packages/core/src/engine/engine.ts
  packages/core/src/modules/database/api/datasheet_api.ts
  packages/room-server/src/database/controllers/resource.controller.ts
  packages/room-server/src/database/services/resource/resource.service.ts
Due: build_widget_stage, deploy_widget_stage

fix: get share changesets failure issue
  packages/core/src/engine/engine.ts
  packages/core/src/modules/database/api/datasheet_api.ts
  packages/core/src/modules/database/api/url.data.ts
  packages/room-server/src/database/controllers/resource.controller.ts
Due: build_widget_stage, deploy_widget_stage

fix: remove springfox depend (#2239)
  backend-server/application/build.gradle
  backend-server/application/src/main/resources/application.yml
  backend-server/application/src/main/resources/default.properties
Due: none

fix(room-server): assets not found (#2246)
  packages/room-server/nest-cli.json
Due: none

fix: change widget height in mirror (#2245)
  packages/core/src/commands/datasheet/change_widget_in_panel_height.ts
  packages/core/src/model/datasheet.ts
  packages/datasheet/src/pc/components/widget/widget_panel/widget_list/widget_list.tsx
Due: build_widget_stage, deploy_widget_stage

feat: support embed iframe message
  packages/datasheet/src/pc/components/tab_bar/collaboration_status/collaboration_status.tsx
  packages/datasheet/src/pc/hooks/use_network.ts
  packages/datasheet/src/pc/resource_service/error.ts
Due: none

fix: strings rewrite fail (#2249)
  packages/core/src/exports/i18n/index.ts
  packages/datasheet/pages/_document.tsx
Due: build_widget_stage, deploy_widget_stage

fix: no enterprise start (#2258)
  packages/datasheet/next.config.js
  packages/datasheet/src/modules/shared/apphook/trigger_commands.ts
  packages/datasheet/src/noop.ts
  packages/datasheet/src/pc/common/store_subscribe/current_guide_step.ts
  packages/datasheet/src/pc/common/store_subscribe/space_id.ts
  packages/datasheet/src/pc/common/store_subscribe/widget_data.ts
  packages/datasheet/src/pc/components/editors/container.tsx
  packages/datasheet/src/pc/components/home/social_platform/utils.tsx
  packages/datasheet/src/pc/components/konva_grid/hooks/use_grid_cell_alarm.tsx
  packages/datasheet/src/pc/components/route_manager/side_wrapper.tsx
  packages/datasheet/src/pc/components/workspace/workspace.tsx
Due: none

fix(int-db): table prefix (#2263)
  init-db/src/main/resources/db/changelog/0.14/20221128_changeset.xml
Due: none

feat: add dingtalk app table (#2185)
  init-db/build.gradle
  init-db/src/main/resources/db/changelog/0.15/20221201_changeset.xml
  init-db/src/main/resources/db/changelog/0.15/master.xml
  init-db/src/main/resources/db/changelog/db.changelog-master.xml
Due: none

fix: enterprise scroll bar
  packages/datasheet/.env.development
  packages/datasheet/package.json
  packages/datasheet/src/pc/components/datasheet_search_panel/folder_content.tsx
  packages/datasheet/src/pc/components/navigation/account_center_modal/account_center_modal.tsx
  packages/datasheet/src/pc/components/space_manage/space_info/space_info.tsx
  packages/datasheet/src/pc/components/space_manage/space_menu_tree/space_menu_tree.tsx
  packages/datasheet/src/pc/components/space_manage/workbench/workbench.tsx
Due: none

fix: files
  packages/datasheet/src/pc/components/scroll_bar.tsx
Due: none

feat: modify SmsCodeValidateRo and CodeValidateRo same apimodel (#2280)
  backend-server/application/src/main/java/com/vikadata/api/user/ro/CodeValidateRo.java
  backend-server/application/src/main/java/com/vikadata/api/user/ro/SmsCodeValidateRo.java
Due: none

Feat/embed link (#2281)
  packages/core/src/modules/database/store/actions/resource/datasheet/datasheet.ts
  packages/core/src/modules/embed/store/interfaces/embed.ts
  packages/datasheet/src/pc/components/embed/embed.tsx
  packages/datasheet/src/pc/components/embed/style.module.less
  packages/datasheet/src/pc/components/tool_bar/tool_bar.tsx
  packages/datasheet/src/pc/components/view/view.tsx
Due: build_widget_stage, deploy_widget_stage

feat: uuap sso login (#2282)
  backend-server/application/src/main/java/com/vikadata/api/shared/config/properties/OneAccessProperties.java
  backend-server/application/src/main/resources/application.yml
Due: none

fix: fe local env
  .gitignore
  packages/datasheet/.env.development
  packages/datasheet/.env.local
  packages/datasheet/package.json
Due: none

Feat/embed link (#2284)
  packages/core/src/io/io.ts
  packages/core/src/sync/room.ts
  packages/datasheet/src/pc/components/embed/embed.tsx
  packages/datasheet/src/pc/components/embed/style.module.less
  packages/datasheet/src/pc/components/view/view.tsx
Due: build_widget_stage, deploy_widget_stage

chore(backend-server): i18nInterceptor add path (#2288)
  backend-server/application/src/main/java/com/vikadata/api/shared/interceptor/I18nInterceptor.java
Due: none

Add files via upload
  docs/static/feature-Unlimited table links.gif
Due: none

Feat/embed link (#2290)
  packages/datasheet/src/pc/components/embed/embed.tsx
  packages/datasheet/src/pc/components/mobile_tool_bar/mobile_tool_bar.tsx
Due: none

feat: delete backend-server dockerfile and use Dockerfile.backend-server (#2212)
  backend-server/Dockerfile
  backend-server/Makefile
  backend-server/application/src/main/resources/application.yml
  docker-compose.build.yaml
  packaging/Dockerfile.backend-server
Due: none

chore: update Dockerfile (#2291)
  packaging/Dockerfile.room-server
  packaging/Dockerfile.socket-server
  packaging/Dockerfile.storybook
  packaging/Dockerfile.web-server
Due: none

fix: init props delete server request
  packages/datasheet/src/pc/components/navigation/account_center_modal/personalized_setting/language_setting/language_setting.tsx
  packages/datasheet/utils/get_initial_props.ts
Due: none

fix: npm publish repo (#2302)
  packages/components/.npmignore
  packages/core/.npmignore
  packages/core/package.json
  packages/widget-sdk/.npmignore
  packages/widget-sdk/package.json
Due: build_widget_stage, deploy_widget_stage

feat: modify unit-test container room server code coverage file path (#2311)
  docker-compose.unit-test.yml
Due: none

chore: apitable components publish (#2316)
  packages/components/.gitignore
  packages/components/READ.dev.md
  packages/components/README.md
  packages/components/package.json
  packages/components/setup.ts
  packages/components/src/components/avatar/avatar.stories.tsx
  packages/components/src/components/avatar/readme_zh.stories.mdx
  packages/components/src/components/box/readme.stories.mdx
  packages/components/src/components/box/readme_zh.stories.mdx
  packages/components/src/components/divider/readme_zh.stories.mdx
  packages/components/src/components/form/form.tsx
  packages/components/src/components/form/index.ts
  packages/components/src/components/form/rjsf_ui/common/form_item_title.tsx
  packages/components/src/components/form/rjsf_ui/common/index.ts
  packages/components/src/components/form/rjsf_ui/field/index.ts
  packages/components/src/components/form/rjsf_ui/field/title_field.tsx
  packages/components/src/components/form/rjsf_ui/index.ts
  packages/components/src/components/form/rjsf_ui/template/array_field_template.tsx
  packages/components/src/components/form/rjsf_ui/template/error_list_template.tsx
  packages/components/src/components/form/rjsf_ui/template/field_template.tsx
  packages/components/src/components/form/rjsf_ui/template/index.ts
  packages/components/src/components/form/rjsf_ui/template/object_field_template.tsx
  packages/components/src/components/form/rjsf_ui/theme.ts
  packages/components/src/components/form/rjsf_ui/utils.ts
  packages/components/src/components/form/rjsf_ui/widget/checkbox.tsx
  packages/components/src/components/form/rjsf_ui/widget/checkboxes.tsx
  packages/components/src/components/form/rjsf_ui/widget/color_picker.tsx
  packages/components/src/components/form/rjsf_ui/widget/index.ts
  packages/components/src/components/form/rjsf_ui/widget/select.tsx
  packages/components/src/components/form/rjsf_ui/widget/text.tsx
  packages/components/src/components/form/rjsf_ui/widget/toggle_button.tsx
  packages/components/src/components/link_button/link_button.stories.tsx
  packages/components/src/components/link_button/readme.stories.mdx
  packages/components/src/components/link_button/readme_zh.stories.mdx
  packages/components/src/components/message/components/use_message.tsx
Due: build_vika_design, deploy_vika_design, build_widget_stage, deploy_widget_stage

feat: add gm cli api to add dingtalk agent app (#2251)
  backend-server/application/src/main/resources/mapper/social/SocialDingTalkAppMapper.xml
Due: none

Path conditions:
  install_cypress: any of: packages/cypress/package.json
  build_vika_design: any of: packages/components/docs/*, packages/components/src/*, packages/components/package.json
  deploy_vika_design: any of: packages/components/docs/*, packages/components/src/*, packages/components/package.json
  build_widget_stage: any of: packages/components/**/*, packages/core/**/*, packages/icon/**/*, packages/widget-stage/**/*, packages/widget-sdk/**/*, packages/i18n-lang/**/*
  deploy_widget_stage: any of: packages/components/**/*, packages/core/**/*, packages/icon/**/*, packages/widget-stage/**/*, packages/widget-sdk/**/*, packages/i18n-lang/**/*
