Repository apitable/apitable: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install_cypress, build_vika_design, deploy_vika_design, build_widget_stage, deploy_widget_stage

install_cypress:
  before_script:
  - yarn config get npmRegistryServer
  - yarn config set npmRegistryServer https://nexus.vika.ltd/repository/npm-group/
  tags:
  - node
  stage: install
  image: node:$NODE_JS_VERSION-alpine
  when: manual
  cache:
    key: ${CI_PROJECT_NAME}_${CI_COMMIT_REF_NAME}
    paths:
    - node_modules/
  ...

build_vika_design:
  before_script:
  - yarn config get npmRegistryServer
  - yarn config set npmRegistryServer https://nexus.vika.ltd/repository/npm-group/
  stage: build
  image: node:$NODE_JS_VERSION-alpine
  script:
  - echo "build vika design components"
  - yarn workspaces focus @vikadata/components
  - yarn build:icons
  ...

deploy_vika_design:
  script:
  - aws s3 cp packages/components/styleguide s3://bundle.vika.ltd/component  --recursive --include "*"
  stage: deploy
  dependencies:
  - build_vika_design
  image: vikadata/dind-aws-node

build_widget_stage:
  tags:
  - node
  stage: build
  image: node:$NODE_JS_VERSION-alpine
  artifacts:
    name: ${CI_PROJECT_NAME}_${CI_JOB_NAME}_${CI_COMMIT_REF_NAME}_${CI_COMMIT_SHA}_widget_stage
    paths:
    - packages/widget-stage/build/
    expire_in: 1 weeks

deploy_widget_stage:
  tags:
  - node
  stage: deploy
  needs:
  - job: build_widget_stage
  image: vikadata/dind-aws-node
  before_script:
  - WIDGET_STAGE_ENV=$(echo $CI_COMMIT_REF_NAME)
  services:
  - name: vikadata/dind-aws-node
    command:
    - --registry-mirror=https://nt14bg6k.mirror.aliyuncs.com
  variables:
    GIT_STRATEGY: none
  ...

chore: update codeql.yaml CI
  .github/workflows/codeql.yml
Due: none

chore: gitpod automatic pnpm
  .gitpod.yml
Due: none

chore: gitpod automatic pnpm (#1337)
  .gitpod.yml
Due: none

fix: one way field icon (#7737)
  packages/datasheet/src/pc/components/gantt_view/components/setting_panel/setting_panel.tsx
  packages/datasheet/src/pc/components/multi_grid/type_select/styles.module.less
  packages/datasheet/src/pc/components/multi_grid/type_select/type_select.tsx
  packages/datasheet/src/pc/components/org_chart_view/components/org_chart_setting_panel/org_chart_setting_panel.tsx
  packages/datasheet/src/pc/components/robot/robot_detail/trigger/field_select.tsx
  packages/widget-sdk/src/ui/filter/field_select.tsx
Due: build_widget_stage, deploy_widget_stage

chore: update v1.2.0-beta changelog
  CHANGELOG.md
Due: none

chore: update v1.2.0-beta changelog (#1339)
  CHANGELOG.md
Due: none

refactor: add server port env (#7743)
  backend-server/application/src/main/resources/application.yml
  backend-server/application/src/main/resources/default.properties
Due: none

fix: field map support two string mapper (#7746)
  packages/core/src/model/utils.ts
Due: build_widget_stage, deploy_widget_stage

chore: add exclude path (#7751)
  backend-server/application/src/main/java/com/apitable/shared/config/WebMvcConfig.java
Due: none

fix: notification (#7756)
  backend-server/application/src/main/java/com/apitable/workspace/observer/remind/MailRemind.java
Due: none

fix: avatar default value (#7759)
  packages/datasheet/src/pc/components/common/avatar/avatar.tsx
Due: none

fix: one way link filter crash (#7752)
  packages/components/src/components/tooltip/tooltip.tsx
  packages/datasheet/src/pc/components/multi_grid/format/format_link/format_link.tsx
  packages/datasheet/src/pc/components/multi_grid/format/format_lookup/search_select_field/search_select_field.tsx
  packages/datasheet/src/pc/components/tool_bar/view_filter/filter_value/helper.ts
  packages/widget-sdk/src/interface/field_types.ts
  packages/widget-sdk/src/interface/view_types.ts
  packages/widget-sdk/src/subscribe/datasheet_map.ts
  packages/widget-sdk/src/ui/filter/filter_value/helper.ts
Due: build_widget_stage, deploy_widget_stage

fix: time_machine record sum (#7575)
  packages/datasheet/src/pc/components/time_machine/index.tsx
  packages/datasheet/src/pc/components/time_machine/utils.ts
Due: none

fix: edit hide create operation (#7763)
  packages/datasheet/src/pc/components/tab_bar/tab_add_view/view_introduce_list.tsx
Due: none

Fix/frozen line (#7678)
  packages/datasheet/src/pc/components/konva_grid/hooks/use_grid.tsx
  packages/l10n/base/strings.de-DE.json
  packages/l10n/base/strings.es-ES.json
  packages/l10n/base/strings.fr-FR.json
  packages/l10n/base/strings.it-IT.json
  packages/l10n/base/strings.ja-JP.json
  packages/l10n/base/strings.ko-KR.json
  packages/l10n/base/strings.ru-RU.json
  packages/l10n/base/strings.zh-CN.json
  packages/l10n/base/strings.zh-HK.json
Due: none

chore: upgrade version to 1.2.0 (#7765)
  .bumpversion.cfg
  .version
  backend-server/.version
  backend-server/gradle.properties
  init-db/.version
  package.json
  packages/components/package.json
  packages/core/package.json
  packages/cypress/package.json
  packages/databus-client/package.json
  packages/databus-wasm-nodejs/package.json
  packages/datasheet/package.json
  packages/i18n-lang/package.json
  packages/icons/package.json
  packages/room-server/package.json
  packages/widget-sdk/package.json
Due: install_cypress, build_vika_design, deploy_vika_design, build_widget_stage, deploy_widget_stage

fix: fusion api handle one-way link error (#7770)
  packages/core/src/commands/common/field.ts
  packages/core/src/commands/datasheet/delete_field.ts
  packages/room-server/src/fusion/middleware/pipe/create.field.pipe.ts
Due: build_widget_stage, deploy_widget_stage

fix: link select filter deleted link record (#7769)
  packages/datasheet/src/pc/components/editors/link_editor/search_content.tsx
Due: none

feat: change submit auestionnaire url (#7701)
  packages/core/src/modules/shared/api/api.ts
Due: build_widget_stage, deploy_widget_stage

fix: link field select filter (#7800)
  packages/datasheet/src/pc/components/editors/link_editor/search_content.tsx
  packages/datasheet/src/pc/components/konva_grid/components/cell/cell_link/cell_link.tsx
  packages/datasheet/src/pc/components/multi_grid/cell/cell_link/cell_link.tsx
  packages/widget-sdk/src/interface/field_types.ts
Due: build_widget_stage, deploy_widget_stage

fix: cui form (#7799)
  packages/datasheet/src/pc/components/form_container/form_field_container/form_editors/style.module.less
Due: none

chore: organization search limit (#7808)
  backend-server/application/src/main/resources/mapper/organization/MemberMapper.xml
  backend-server/application/src/main/resources/mapper/organization/RoleMapper.xml
  backend-server/application/src/main/resources/mapper/organization/TeamMapper.xml
Due: none

fix: one way link strings (#7810)
  packages/l10n/base/strings.de-DE.json
  packages/l10n/base/strings.en-US.json
  packages/l10n/base/strings.es-ES.json
  packages/l10n/base/strings.fr-FR.json
  packages/l10n/base/strings.it-IT.json
  packages/l10n/base/strings.ja-JP.json
  packages/l10n/base/strings.ko-KR.json
  packages/l10n/base/strings.ru-RU.json
  packages/l10n/base/strings.zh-HK.json
  packages/l10n/base/strings_ar-SA
Due: none

Revert "fix: one way link strings" (#7827)
  packages/l10n/base/strings.de-DE.json
  packages/l10n/base/strings.en-US.json
  packages/l10n/base/strings.es-ES.json
  packages/l10n/base/strings.fr-FR.json
  packages/l10n/base/strings.it-IT.json
  packages/l10n/base/strings.ja-JP.json
  packages/l10n/base/strings.ko-KR.json
  packages/l10n/base/strings.ru-RU.json
  packages/l10n/base/strings.zh-HK.json
  packages/l10n/base/strings_ar-SA
Due: none

fix: one way link strings (#7830)
  packages/l10n/base/strings.de-DE.json
  packages/l10n/base/strings.en-US.json
  packages/l10n/base/strings.es-ES.json
  packages/l10n/base/strings.fr-FR.json
  packages/l10n/base/strings.it-IT.json
  packages/l10n/base/strings.ja-JP.json
  packages/l10n/base/strings.ko-KR.json
  packages/l10n/base/strings.ru-RU.json
  packages/l10n/base/strings.zh-HK.json
  packages/l10n/base/strings_ar-SA
Due: none

fix: page param sql injection issue (#7833)
  backend-server/application/src/main/java/com/apitable/shared/util/page/PageHelper.java
Due: none

fix: 500 error delete field (#7836)
  Makefile
  packages/core/src/commands/common/field.ts
  packages/core/src/commands/datasheet/delete_field.ts
  packages/room-server/src/fusion/services/fusion.api.service.ts
Due: build_widget_stage, deploy_widget_stage

Path conditions:
  install_cypress: any of: packages/cypress/package.json
  build_vika_design: any of: packages/components/docs/*, packages/components/src/*, packages/components/package.json
  deploy_vika_design: any of: packages/components/docs/*, packages/components/src/*, packages/components/package.json
  build_widget_stage: any of: packages/components/**/*, packages/core/**/*, packages/icon/**/*, packages/widget-stage/**/*, packages/widget-sdk/**/*, packages/i18n-lang/**/*
  deploy_widget_stage: any of: packages/components/**/*, packages/core/**/*, packages/icon/**/*, packages/widget-stage/**/*, packages/widget-sdk/**/*, packages/i18n-lang/**/*
