Repository apitable/apitable: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install_cypress, build_vika_design, deploy_vika_design, build_widget_stage, deploy_widget_stage

Path conditions:
  install_cypress: any of: packages/cypress/package.json
  build_vika_design: any of: packages/components/docs/*, packages/components/src/*, packages/components/package.json
  deploy_vika_design: any of: packages/components/docs/*, packages/components/src/*, packages/components/package.json
  build_widget_stage: any of: packages/components/**/*, packages/core/**/*, packages/icon/**/*, packages/widget-stage/**/*, packages/widget-sdk/**/*, packages/i18n-lang/**/*
  deploy_widget_stage: any of: packages/components/**/*, packages/core/**/*, packages/icon/**/*, packages/widget-stage/**/*, packages/widget-sdk/**/*, packages/i18n-lang/**/*

Feat/brand img change (#4941)
  packages/datasheet/public/static/icon/common/common_logo_text.svg
Due: none

feat:add missing architecture-overview.png
  docs/readme/ar-SA/docs/static/architecture-overview.png
  docs/readme/de-DE/docs/static/architecture-overview.png
  docs/readme/es-ES/docs/static/architecture-overview.png
  docs/readme/fr-FR/docs/static/architecture-overview.png
  docs/readme/ja-JP/docs/static/architecture-overview.png
  docs/readme/zh-CN/docs/static/architecture-overview.png
  docs/readme/zh-HK/docs/static/architecture-overview.png
Due: none

chore: release/0.20.0 merge (#4945)
  packages/widget-sdk/src/script/datasheet.ts
  packages/widget-sdk/src/script/view.ts
Due: build_widget_stage, deploy_widget_stage

chore: release/0.20.0 merge (#4945) (#4946)
  packages/widget-sdk/src/script/datasheet.ts
  packages/widget-sdk/src/script/view.ts
Due: build_widget_stage, deploy_widget_stage

fix:add missing architecture-overview.png (#782)
  docs/readme/ar-SA/docs/static/architecture-overview.png
  docs/readme/de-DE/docs/static/architecture-overview.png
  docs/readme/es-ES/docs/static/architecture-overview.png
  docs/readme/fr-FR/docs/static/architecture-overview.png
  docs/readme/ja-JP/docs/static/architecture-overview.png
  docs/readme/zh-CN/docs/static/architecture-overview.png
  docs/readme/zh-HK/docs/static/architecture-overview.png
Due: none

feat: jaeger module (#4940)
  packages/room-server/src/app.module.ts
  packages/room-server/src/shared/services/jaeger/jaeger.dynamic.module.ts
Due: none

fix: release to 0.21.0 (#4948)
  .bumpversion.cfg
  .version
  backend-server/.version
  backend-server/gradle.properties
  init-db/.version
  package.json
  packages/components/package.json
  packages/core/package.json
  packages/cypress/package.json
  packages/datasheet/package.json
  packages/i18n-lang/package.json
  packages/icons/package.json
  packages/room-server/package.json
  packages/widget-sdk/package.json
Due: install_cypress, build_vika_design, deploy_vika_design, build_widget_stage, deploy_widget_stage

fix: apitable build fail (#4950)
  packages/core/src/modules/enterprise/index.ts
Due: build_widget_stage, deploy_widget_stage

fix: after the email invites to register, it does not jump to the improve info page
  packages/datasheet/src/pc/hooks/use_user_request.ts
Due: none

feat: add formSettingBtn to toolBar param (#4889)
  packages/core/src/config/api_tip_config.auto.json
  packages/core/src/config/api_tip_config.interface.ts
  packages/core/src/utils/uuid.ts
  packages/l10n/base/api_tip_config.json
  packages/l10n/base/strings.en-US.json
  packages/l10n/base/strings.zh-CN.json
Due: build_widget_stage, deploy_widget_stage

chore: update brand logo url
  packages/l10n/base/setting.json
Due: none

Feat/embed form (#4959)
  packages/core/src/modules/database/api/url.data.ts
  packages/core/src/modules/database/store/actions/resource/form/form.ts
  packages/core/src/modules/embed/store/interfaces/embed.ts
  packages/datasheet/src/pc/common/store_subscribe/form_id.ts
  packages/datasheet/src/pc/components/form_panel/form_panel.tsx
  packages/datasheet/src/pc/components/form_panel/form_tab/form_tab.tsx
  packages/datasheet/src/pc/components/form_panel/form_tab/tool_bar/setting_panel.tsx
  packages/datasheet/src/pc/components/form_panel/form_tab/tool_bar/tool_bar.tsx
Due: build_widget_stage, deploy_widget_stage

fix: embed can add robot (#4916)
  backend-server/application/src/main/java/com/apitable/internal/service/impl/InternalSpaceServiceImpl.java
  backend-server/application/src/main/java/com/apitable/internal/vo/InternalSpaceInfoVo.java
Due: none

fix: newer guide (#4961)
  packages/core/src/config/system_config.auto.json
  packages/datasheet/src/pc/components/common_side/workbench_side/workbench_side.tsx
  packages/l10n/base/system_config.json
Due: build_widget_stage, deploy_widget_stage

fix: change vika data string (#4967)
  packages/datasheet/pages/_app.tsx
Due: none

fix: invalid timezone use default (#4976)
  packages/core/src/config/timezones.ts
  packages/core/src/model/field/date_time_base_field.ts
  packages/core/src/utils/convert/other2timestamp.ts
  packages/datasheet/pages/_app.tsx
  packages/datasheet/src/pc/components/editors/date_time_editor/date_time_editor.tsx
  packages/datasheet/src/pc/components/editors/date_time_editor/mobile/picker_content.tsx
  packages/datasheet/src/pc/components/notification/card/utils.tsx
Due: build_widget_stage, deploy_widget_stage

fix: view lock error (#4983)
  packages/datasheet/src/pc/components/tool_bar/view_filter/filter_value/filter_general_select.tsx
  packages/datasheet/src/pc/components/tool_bar/view_filter/filter_value/filter_member.tsx
  packages/datasheet/src/pc/components/tool_bar/view_filter/filter_value/filter_options.tsx
Due: none

fix: View locks cause field filtering to fail. (#4984)
  packages/datasheet/src/pc/components/tool_bar/view_filter/condition_list.tsx
  packages/datasheet/src/pc/components/tool_bar/view_filter/filter_conjunction/filter_conjunction.tsx
  packages/datasheet/src/pc/components/tool_bar/view_filter/filter_field_list/filter_field_list.tsx
  packages/datasheet/src/pc/components/tool_bar/view_filter/filter_operate/filter_operate.tsx
  packages/datasheet/src/pc/components/tool_bar/view_filter/filter_value/filter_checkbox.tsx
  packages/datasheet/src/pc/components/tool_bar/view_filter/filter_value/filter_date/filter_date.tsx
  packages/datasheet/src/pc/components/tool_bar/view_filter/filter_value/filter_date/filter_date_duration.tsx
  packages/datasheet/src/pc/components/tool_bar/view_filter/filter_value/filter_member.tsx
  packages/datasheet/src/pc/components/tool_bar/view_filter/filter_value/filter_number.tsx
  packages/datasheet/src/pc/components/tool_bar/view_filter/filter_value/filter_options.tsx
  packages/datasheet/src/pc/components/tool_bar/view_filter/filter_value/filter_rating.tsx
  packages/datasheet/src/pc/components/tool_bar/view_filter/filter_value/filter_value.tsx
  packages/datasheet/src/pc/components/tool_bar/view_filter/view_filter.tsx
  packages/datasheet/src/pc/components/tool_bar/view_filter/view_filter_context.ts
Due: none

New translations README.md (Arabic)
  docs/readme/ar-SA/README.md
Due: none

New translations README.md (German)
  docs/readme/de-DE/README.md
Due: none

New translations strings.en-US.json (Arabic)
  packages/l10n/base/strings.ar-SA.json
Due: none

New translations strings.en-US.json (German)
  packages/l10n/base/strings.de-DE.json
Due: none

fix: NEXT_PUBLIC_PUBLIC_URL env undefined (#4986)
  packages/datasheet/src/pc/components/preview_file/preview_type/preview_pdf/preview_pdf.tsx
Due: none

New translations README.md (French)
  docs/readme/fr-FR/README.md
Due: none

New translations README.md (Spanish)
  docs/readme/es-ES/README.md
Due: none

New translations README.md (Italian)
  docs/readme/it-IT/README.md
Due: none

New translations README.md (Japanese)
  docs/readme/ja-JP/README.md
Due: none

New translations README.md (Korean)
  docs/readme/ko-KR/README.md
Due: none

New translations README.md (Russian)
  docs/readme/ru-RU/README.md
Due: none

New translations strings.en-US.json (French)
  packages/l10n/base/strings.fr-FR.json
Due: none

New translations strings.en-US.json (Spanish)
  packages/l10n/base/strings.es-ES.json
Due: none

New translations strings.en-US.json (Italian)
  packages/l10n/base/strings.it-IT.json
Due: none

New translations strings.en-US.json (Japanese)
  packages/l10n/base/strings.ja-JP.json
Due: none

New translations strings.en-US.json (Korean)
  packages/l10n/base/strings.ko-KR.json
Due: none

New translations strings.en-US.json (Russian)
  packages/l10n/base/strings.ru-RU.json
Due: none

New translations strings.en-US.json (French)
  packages/l10n/l10n-apitable-ce/strings.fr-FR.json
Due: none

New translations strings.en-US.json (Spanish)
  packages/l10n/l10n-apitable-ce/strings.es-ES.json
Due: none

New translations strings.en-US.json (Arabic)
  packages/l10n/l10n-apitable-ce/strings.ar-SA.json
Due: none
