Repository apitable/apitable: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install_cypress, build_vika_design, deploy_vika_design, build_widget_stage, deploy_widget_stage

install_cypress:
  before_script:
  - yarn config get npmRegistryServer
  - yarn config set npmRegistryServer https://nexus.vika.ltd/repository/npm-group/
  tags:
  - node
  stage: install
  image: node:$NODE_JS_VERSION-alpine
  when: manual
  cache:
    key: ${CI_PROJECT_NAME}_${CI_COMMIT_REF_NAME}
    paths:
    - node_modules/
  ...

build_vika_design:
  before_script:
  - yarn config get npmRegistryServer
  - yarn config set npmRegistryServer https://nexus.vika.ltd/repository/npm-group/
  stage: build
  image: node:$NODE_JS_VERSION-alpine
  script:
  - echo "build vika design components"
  - yarn workspaces focus @vikadata/components
  - yarn build:icons
  ...

deploy_vika_design:
  script:
  - aws s3 cp packages/components/styleguide s3://bundle.vika.ltd/component  --recursive --include "*"
  stage: deploy
  dependencies:
  - build_vika_design
  image: vikadata/dind-aws-node

build_widget_stage:
  tags:
  - node
  stage: build
  image: node:$NODE_JS_VERSION-alpine
  artifacts:
    name: ${CI_PROJECT_NAME}_${CI_JOB_NAME}_${CI_COMMIT_REF_NAME}_${CI_COMMIT_SHA}_widget_stage
    paths:
    - packages/widget-stage/build/
    expire_in: 1 weeks

deploy_widget_stage:
  tags:
  - node
  stage: deploy
  needs:
  - job: build_widget_stage
  image: vikadata/dind-aws-node
  before_script:
  - WIDGET_STAGE_ENV=$(echo $CI_COMMIT_REF_NAME)
  services:
  - name: vikadata/dind-aws-node
    command:
    - --registry-mirror=https://nt14bg6k.mirror.aliyuncs.com
  variables:
    GIT_STRATEGY: none
  ...

fix: packages workspace path (#9701)
  packages/components/package.json
  packages/core/package.json
  packages/datasheet/package.json
  packages/icons/package.json
  packages/room-server/package.json
  packages/widget-sdk/package.json
Due: build_vika_design, deploy_vika_design, build_widget_stage, deploy_widget_stage

chore: latest changelog init
  CHANGELOG.md
Due: none

Feat/pricing (#9702)
  packages/datasheet/src/pc/components/space_manage/upgrade_space/expand_upgrade_space.tsx
  packages/datasheet/src/pc/components/space_manage/upgrade_space/style.module.less
  packages/datasheet/src/pc/components/space_manage/upgrade_space/upgrade_space.tsx
Due: none

chore: latest changelog init (#1521)
  CHANGELOG.md
Due: none

refactor: dynamic set trial days (#9684)
  backend-server/gradle/libs.versions.toml
Due: none

fix: pnpm lockfile (#9700)
  packages/ai-components/package.json
  pnpm-lock.yaml
Due: none

fix: workdoc collaborators more popover (#9706)
  packages/components/src/components/avatar/avatar.tsx
  packages/components/src/components/avatar/avatar_group/avatar_group.tsx
  packages/components/src/components/avatar/avatar_group/intarface.ts
  packages/components/src/components/avatar/interface.ts
Due: build_widget_stage, deploy_widget_stage

Feat/pricing (#9708)
  pnpm-lock.yaml
Due: none

Chore/ot add log (#9704)
  packages/core/src/modules/database/api/wasm/index.ts
  packages/room-server/src/shared/services/rest/rest.service.ts
Due: build_widget_stage, deploy_widget_stage

revert: stripe java sdk version (#9709)
  backend-server/gradle/libs.versions.toml
Due: none

Chore/room rpc log (#9710)
  backend-server/gradle.properties
  packages/core/src/modules/database/api/wasm/index.ts
  packages/room-server/src/shared/services/rest/rest.service.ts
Due: build_widget_stage, deploy_widget_stage

docs: update readme.md
  README_ZH.md
  docs/readme/de-DE/README.md
  docs/readme/es-ES/README.md
  docs/readme/fr-FR/README.md
  docs/readme/ja-JP/README.md
  docs/readme/zh-CN/README.md
  docs/readme/zh-HK/README.md
Due: none

fix: fix field check error (#9721)
  packages/datasheet/src/pc/components/robot/robot_detail/magic_variable_container/magic_variable_element.tsx
Due: none

docs: update readme.md (#1523)
  README_ZH.md
  docs/readme/de-DE/README.md
  docs/readme/es-ES/README.md
  docs/readme/fr-FR/README.md
  docs/readme/ja-JP/README.md
  docs/readme/zh-CN/README.md
  docs/readme/zh-HK/README.md
Due: none

fix: workdoc info style (#9725)
  pnpm-lock.yaml
Due: none

feat: default language use browser language (#9716)
  backend-server/application/src/main/java/com/apitable/auth/controller/AuthController.java
  backend-server/application/src/main/java/com/apitable/auth/ro/RegisterRO.java
  backend-server/application/src/main/java/com/apitable/auth/service/IAuthService.java
  backend-server/application/src/main/java/com/apitable/auth/service/impl/AuthServiceImpl.java
  backend-server/application/src/main/java/com/apitable/user/service/IUserService.java
  backend-server/application/src/main/java/com/apitable/user/service/impl/UserServiceImpl.java
  packages/core/src/modules/user/api/api.auth.ts
  packages/datasheet/src/pc/hooks/use_user_request.ts
Due: build_widget_stage, deploy_widget_stage

feat: language support browser language (#9736)
  packages/core/src/exports/i18n/index.ts
Due: build_widget_stage, deploy_widget_stage

chore: fuse labs data to spaceInfo (#9735)
  backend-server/application/src/main/java/com/apitable/space/controller/SpaceController.java
  backend-server/application/src/main/java/com/apitable/space/vo/SpaceInfoVO.java
Due: none

chore: opt-out of deferred csrf tokens (#9747)
  backend-server/application/src/main/java/com/apitable/shared/config/WebSecurityConfig.java
  backend-server/application/src/main/java/com/apitable/shared/interceptor/I18nInterceptor.java
Due: none

fix: windows undefined error (#9748)
  packages/core/src/exports/i18n/index.ts
Due: build_widget_stage, deploy_widget_stage

fix: aliagnt plan feature and price amount (#9753)
  backend-server/application/src/main/java/com/apitable/base/service/impl/RestTemplateServiceImpl.java
  backend-server/application/src/main/java/com/apitable/client/task/ClientTasks.java
  backend-server/application/src/main/java/com/apitable/interfaces/billing/model/DefaultSubscriptionFeature.java
  backend-server/application/src/main/java/com/apitable/interfaces/billing/model/SubscriptionFeature.java
  backend-server/application/src/main/java/com/apitable/interfaces/billing/model/SubscriptionFeatures.java
  backend-server/application/src/main/java/com/apitable/shared/config/JacksonConfig.java
  backend-server/application/src/main/java/com/apitable/shared/config/RestClientConfig.java
  backend-server/application/src/main/java/com/apitable/shared/config/RestTemplateConfig.java
  backend-server/application/src/main/java/com/apitable/space/assembler/SubscribeAssembler.java
  backend-server/application/src/main/java/com/apitable/space/vo/SpaceSubscribeVo.java
  backend-server/application/src/main/resources/default.properties
  backend-server/application/src/test/java/com/apitable/AbstractIntegrationTest.java
  backend-server/application/src/test/java/com/apitable/space/service/impl/SpaceServiceImplTest.java
Due: none

feat: add language log for integration (#9759)
  packages/core/src/exports/i18n/index.ts
Due: build_widget_stage, deploy_widget_stage

fix: i10n build (#9770)
  Makefile
Due: none

fix: can not get language manifest (#9769)
  packages/core/src/exports/i18n/index.ts
Due: build_widget_stage, deploy_widget_stage

fix: apps & features api transfer (#9767)
  packages/core/src/modules/space/store/actions/space.ts
  packages/core/src/modules/space/store/interfaces/space.ts
  packages/datasheet/src/pc/components/preview_file/preview_file.tsx
  packages/datasheet/src/pc/components/preview_file/preview_main/preview_main.tsx
  packages/datasheet/src/pc/components/route_manager/private_route.tsx
  packages/datasheet/src/pc/components/route_manager/side_wrapper.tsx
Due: build_widget_stage, deploy_widget_stage

fix: refactor price vo and fix bug (#9774)
  backend-server/application/build.gradle
  backend-server/application/src/main/java/com/apitable/shared/component/sentry/SentryBeforeSendCallback.java
  backend-server/application/src/main/java/com/apitable/shared/config/SentryConfig.java
  backend-server/application/src/main/java/com/apitable/shared/config/SessionSerializerConfig.java
  backend-server/application/src/test/java/com/apitable/auth/service/impl/AuthServiceImplTest.java
  backend-server/gradle/libs.versions.toml
Due: none

fix: sync third im member (#9779)
  backend-server/application/src/main/java/com/apitable/space/service/impl/SpaceServiceImpl.java
Due: none

Feat/pricing (#9792)
  packages/datasheet/src/pc/components/space_manage/upgrade_space/expand_upgrade_space.tsx
  packages/datasheet/src/pc/components/space_manage/upgrade_space/upgrade_space.tsx
  pnpm-lock.yaml
Due: none

fix: add time preview (#9791)
  packages/components/package.json
  packages/components/src/components/time/preview.tsx
  packages/components/src/components/time/time.stories.tsx
  packages/components/src/hooks/use_css_colors.ts
  packages/widget-sdk/package.json
  pnpm-lock.yaml
Due: build_vika_design, deploy_vika_design, build_widget_stage, deploy_widget_stage

Feat/pricing (#9795)
  pnpm-lock.yaml
Due: none

feat: browser language support zh-TW (#9797)
  packages/core/src/exports/i18n/index.ts
  packages/datasheet/src/pc/hooks/use_user_request.ts
Due: build_widget_stage, deploy_widget_stage

Feat/pricing (#9798)
  packages/datasheet/src/pc/components/space_manage/upgrade_space/upgrade_space.tsx
Due: none

fix: un authorized redirect (#9802)
  packages/datasheet/src/modules/api/utils/init_axios.tsx
Due: none

feat: fix i10n build (#9810)
  Makefile
  scripts/l10n.sh
  scripts/language-generate.sh
Due: none

fix: workdoc style in record card (#9814)
  packages/datasheet/src/pc/components/common/record_card/style.module.less
  packages/datasheet/src/pc/components/expand_record/expand_work_doc/styles.module.less
Due: none

Path conditions:
  install_cypress: any of: packages/cypress/package.json
  build_vika_design: any of: packages/components/docs/*, packages/components/src/*, packages/components/package.json
  deploy_vika_design: any of: packages/components/docs/*, packages/components/src/*, packages/components/package.json
  build_widget_stage: any of: packages/components/**/*, packages/core/**/*, packages/icon/**/*, packages/widget-stage/**/*, packages/widget-sdk/**/*, packages/i18n-lang/**/*
  deploy_widget_stage: any of: packages/components/**/*, packages/core/**/*, packages/icon/**/*, packages/widget-stage/**/*, packages/widget-sdk/**/*, packages/i18n-lang/**/*
