Repository apitable/apitable: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install_cypress, build_vika_design, deploy_vika_design, build_widget_stage, deploy_widget_stage

Path conditions:
  install_cypress: any of: packages/cypress/package.json
  build_vika_design: any of: packages/components/docs/*, packages/components/src/*, packages/components/package.json
  deploy_vika_design: any of: packages/components/docs/*, packages/components/src/*, packages/components/package.json
  build_widget_stage: any of: packages/components/**/*, packages/core/**/*, packages/icon/**/*, packages/widget-stage/**/*, packages/widget-sdk/**/*, packages/i18n-lang/**/*
  deploy_widget_stage: any of: packages/components/**/*, packages/core/**/*, packages/icon/**/*, packages/widget-stage/**/*, packages/widget-sdk/**/*, packages/i18n-lang/**/*

fix: merge conflict
  backend-server/application/src/main/java/com/apitable/workspace/service/impl/NodeServiceImpl.java
Due: none

revert: pnpm lock file
  pnpm-lock.yaml
Due: none

revert: format_button.tsx
  packages/datasheet/src/pc/components/multi_grid/format/format_button/format_button.tsx
Due: none

chore: tune api codegen command position (#9303)
  Makefile
  backend-server/application/src/main/java/com/apitable/workspace/controller/NodeController.java
Due: none

fix: workdoc calendar style (#9310)
  packages/datasheet/src/pc/components/calendar_view/record_item/styles.module.less
Due: none

fix: fix automation guide (#9309)
  packages/datasheet/src/pc/components/automation/select_dst/select_trigger/index.tsx
  packages/datasheet/src/pc/components/catalog/tree/node_item/node_item_render.tsx
  packages/datasheet/src/pc/components/editors/button_editor/buton_item/index.tsx
  packages/datasheet/src/pc/components/editors/button_editor/index.tsx
  packages/datasheet/src/pc/components/expand_record/field_editor/field_block.tsx
  packages/datasheet/src/pc/components/expand_record/field_editor/field_editor.tsx
  packages/datasheet/src/pc/components/expand_record/field_editor/style.module.less
  packages/datasheet/src/pc/components/konva_grid/components/cell/cell_button/index.tsx
  packages/datasheet/src/pc/components/konva_grid/utils/cell_helper.ts
  packages/datasheet/src/pc/components/multi_grid/field_setting/check_factory.ts
  packages/datasheet/src/pc/components/robot/robot_detail/action/robot_action_create.tsx
  packages/datasheet/src/pc/components/robot/robot_detail/node_form/node_form.tsx
  packages/datasheet/src/pc/components/robot/robot_detail/trigger/robot_trigger.tsx
  packages/datasheet/src/pc/components/robot/robot_detail/trigger/robot_trigger_create.tsx
  packages/datasheet/src/pc/components/robot/robot_list/new_item/index.tsx
Due: none

fix: load list (#9315)
  packages/datasheet/src/pc/components/navigation/navigation.tsx
  packages/datasheet/src/pc/components/notification/notification.tsx
Due: none

fix: fix tips for task running (#9314)
  packages/datasheet/src/pc/components/editors/button_editor/index.tsx
  packages/datasheet/src/pc/components/gantt_view/components/task/task_content.tsx
  packages/datasheet/src/pc/components/konva_grid/hooks/use_grid_cells.tsx
  packages/datasheet/src/pc/components/konva_grid/hooks/use_grid_dynamic_cells.tsx
  packages/datasheet/src/pc/components/konva_grid/hooks/use_grid_mouse_event.ts
  packages/datasheet/src/pc/components/konva_grid/interface.ts
  packages/datasheet/src/pc/components/konva_grid/utils/cell_helper.ts
Due: none

fix(buttoncolumn): fix issue for loading (#9319)
  packages/datasheet/src/pc/components/editors/button_editor/buton_item/index.tsx
  packages/datasheet/src/pc/components/multi_grid/field_setting/field_icon.tsx
  packages/datasheet/src/pc/components/robot/robot_detail/trigger/field_select.tsx
  packages/datasheet/src/pc/components/robot/robot_list_item/robot_readonly_card.tsx
  packages/widget-sdk/src/ui/filter/field_select.tsx
  packages/widget-sdk/src/ui/filter/filter.tsx
Due: build_widget_stage, deploy_widget_stage

fix: button field (#9317)
  backend-server/application/src/main/java/com/apitable/workspace/enums/ButtonFieldActionType.java
  backend-server/application/src/main/java/com/apitable/workspace/enums/FieldType.java
  backend-server/application/src/main/java/com/apitable/workspace/ro/ButtonFieldProperty.java
  backend-server/application/src/main/java/com/apitable/workspace/service/impl/DatasheetServiceImpl.java
  packages/core/src/model/field/button_field.ts
  packages/room-server/src/automation/events/domains/button.clicked.event.ts
  packages/room-server/src/automation/events/listeners/button.clicked.listener.ts
  packages/room-server/src/automation/repositories/automation.run.history.repository.ts
  packages/room-server/src/automation/robot.module.ts
  packages/room-server/src/automation/services/automation.service.ts
  packages/room-server/src/automation/services/robot.trigger.service.ts
  packages/room-server/src/database/datasheet/controllers/datasheet.controller.ts
  packages/room-server/src/database/datasheet/services/datasheet.service.ts
Due: build_widget_stage, deploy_widget_stage

fix: automation crash (#9320)
  packages/core/src/model/field/workdoc_field.ts
  packages/core/src/types/open/open_filter_types.ts
  packages/core/src/types/view_types.ts
Due: build_widget_stage, deploy_widget_stage

feat: search state (#9331)
  packages/datasheet/src/pc/components/quick_search/quick_search.tsx
  packages/datasheet/src/pc/components/quick_search/search_base.tsx
Due: none

Refactor/api performance (#9283)
  packages/datasheet/pages/_app.tsx
  packages/datasheet/src/pc/components/workspace/workspace.tsx
Due: none

Feature/upgrade guide tips (#9334)
  packages/datasheet/src/pc/components/automation/run_history/modal/index.tsx
  packages/datasheet/src/pc/components/editors/button_editor/buton_item/index.tsx
  packages/datasheet/src/pc/components/konva_grid/components/cell/cell_button/index.tsx
  packages/datasheet/src/pc/components/robot/robot_detail/create_new_trigger/create_new_trigger.tsx
  packages/datasheet/src/pc/components/robot/robot_detail/trigger/readonly_field_column/index.tsx
Due: none

feat: first screen optimization (#9280)
  backend-server/application/src/main/java/com/apitable/space/controller/SpaceController.java
  backend-server/application/src/main/java/com/apitable/space/vo/SpaceInfoVO.java
  backend-server/application/src/main/java/com/apitable/user/controller/UserController.java
  backend-server/application/src/main/java/com/apitable/user/vo/UserInfoVo.java
Due: none

fix: comment search state (#9342)
  packages/datasheet/src/pc/components/quick_search/search_base.tsx
Due: none

Feature/fix bug column (#9344)
  packages/datasheet/src/pc/components/multi_grid/format/format_button/format_button.tsx
  packages/datasheet/src/pc/components/robot/robot_list_item/robot_readonly_card.tsx
Due: none

fix: member search error problem (#9349)
  backend-server/application/src/main/java/com/apitable/organization/service/impl/OrganizationServiceImpl.java
Due: none

Revert "feat: first screen optimization" (#9350)
  backend-server/application/src/main/java/com/apitable/space/controller/SpaceController.java
  backend-server/application/src/main/java/com/apitable/space/vo/SpaceInfoVO.java
  backend-server/application/src/main/java/com/apitable/user/controller/UserController.java
  backend-server/application/src/main/java/com/apitable/user/vo/UserInfoVo.java
Due: none

fix: workdoc hide primary field (#9351)
  packages/datasheet/src/pc/components/form_container/util.ts
  packages/datasheet/src/pc/components/multi_grid/type_select/type_select.tsx
Due: none

fix: null exception (#9336)
  backend-server/application/src/main/java/com/apitable/automation/enums/AutomationTriggerType.java
  backend-server/application/src/main/java/com/apitable/automation/mapper/AutomationTriggerMapper.java
  backend-server/application/src/main/java/com/apitable/automation/service/IAutomationTriggerService.java
  backend-server/application/src/main/java/com/apitable/automation/service/impl/AutomationRobotServiceImpl.java
  backend-server/application/src/main/java/com/apitable/automation/service/impl/AutomationTriggerServiceImpl.java
  backend-server/application/src/main/java/com/apitable/workspace/service/impl/DatasheetServiceImpl.java
  backend-server/application/src/main/resources/mapper/automation/AutomationTriggerMapper.xml
Due: none

fix: workdoc placeholder locale (#9356)
  packages/core/src/types/field_types.ts
Due: build_widget_stage, deploy_widget_stage

chore: replace node cte query method (#9347)
  packages/room-server/src/node/node.module.ts
  packages/room-server/src/node/repositories/node.repository.spec.ts
  packages/room-server/src/node/repositories/node.repository.ts
  packages/room-server/src/node/services/node.share.setting.service.spec.ts
  packages/room-server/src/node/services/node.share.setting.service.ts
  packages/room-server/src/shared/backend_client/README.md
  packages/room-server/src/shared/backend_client/api/internal-service-node-interface.service.ts
  packages/room-server/src/shared/backend_client/backend.api.module.ts
  packages/room-server/src/shared/backend_client/configuration.ts
  packages/room-server/src/shared/backend_client/model/response-data-boolean.ts
Due: none

fix: move trigger_type to open source (#9358)
  backend-server/application/src/main/java/com/apitable/automation/entity/AutomationServiceEntity.java
  backend-server/application/src/main/java/com/apitable/automation/entity/AutomationTriggerTypeEntity.java
  backend-server/application/src/main/java/com/apitable/automation/mapper/AutomationServiceMapper.java
  backend-server/application/src/main/java/com/apitable/automation/mapper/AutomationTriggerTypeMapper.java
  backend-server/application/src/main/java/com/apitable/automation/model/AutomationServiceCreateRO.java
  backend-server/application/src/main/java/com/apitable/automation/model/AutomationServiceEditRO.java
  backend-server/application/src/main/java/com/apitable/automation/model/TriggerTypeCreateRO.java
  backend-server/application/src/main/java/com/apitable/automation/model/TriggerTypeEditRO.java
  backend-server/application/src/main/java/com/apitable/automation/service/IAutomationService.java
  backend-server/application/src/main/java/com/apitable/automation/service/IAutomationTriggerTypeService.java
  backend-server/application/src/main/java/com/apitable/automation/service/impl/AutomationRobotServiceImpl.java
  backend-server/application/src/main/java/com/apitable/automation/service/impl/AutomationServiceImpl.java
  backend-server/application/src/main/java/com/apitable/automation/service/impl/AutomationTriggerTypeServiceImpl.java
  backend-server/application/src/main/resources/mapper/automation/AutomationServiceMapper.xml
  backend-server/application/src/main/resources/mapper/automation/AutomationTriggerTypeMapper.xml
Due: none

Feature/fix fix button (#9361)
  packages/datasheet/src/pc/components/editors/button_editor/automation_task_map.ts
  packages/datasheet/src/pc/components/editors/button_editor/buton_item/index.tsx
  packages/datasheet/src/pc/components/editors/button_editor/index.tsx
  packages/datasheet/src/pc/components/editors/button_editor/use_button_field_valid.ts
  packages/datasheet/src/pc/components/multi_grid/field_setting/field_setting.tsx
Due: none

fix: fix issue for guide tips (#9365)
  packages/core/src/model/field/button_field.ts
  packages/datasheet/src/pc/components/automation/config.ts
  packages/datasheet/src/pc/components/common/color_picker/color_group.tsx
  packages/datasheet/src/pc/components/editors/button_editor/buton_item/index.tsx
  packages/datasheet/src/pc/components/editors/button_editor/use_button_field_valid.ts
  packages/datasheet/src/pc/components/konva_grid/utils/cell_helper.ts
  packages/datasheet/src/pc/components/multi_grid/format/format_button/color_picker/color_picker.tsx
  packages/datasheet/src/pc/components/multi_grid/format/format_button/format_button.tsx
Due: build_widget_stage, deploy_widget_stage

feat: search state (#9367)
  packages/datasheet/src/pc/components/quick_search/search_base.tsx
Due: none

fix: view chart line (#9368)
  packages/core/src/modules/database/store/selectors/resource/datasheet/cell_calc.ts
  packages/datasheet/src/pc/components/common/hooks/use_card_height.tsx
  packages/datasheet/src/pc/components/gallery_view/constant.ts
  packages/datasheet/src/pc/components/record_card/card_body.tsx
  packages/datasheet/src/pc/components/record_card/style.module.less
Due: build_widget_stage, deploy_widget_stage

fix: postinstall command
  package.json
Due: none

fix: pre-commit shell script
  .husky/pre-commit
Due: none

chore: upgrade version to 1.6.0 (#9381)
  .bumpversion.cfg
  .version
  backend-server/.version
  init-db/.version
  package.json
  packages/ai-components/package.json
  packages/components/package.json
  packages/core/package.json
  packages/cypress/package.json
  packages/databus-client/package.json
  packages/databus-wasm-nodejs/package.json
  packages/databus-wasm-web/package.json
  packages/datasheet/package.json
  packages/i18n-lang/package.json
  packages/icons/package.json
  packages/room-server/package.json
  packages/widget-sdk/package.json
Due: install_cypress, build_vika_design, deploy_vika_design, build_widget_stage, deploy_widget_stage

fix: workdoc socket host (#9383)
  packages/datasheet/src/pc/components/multi_grid/type_select/styles.module.less
Due: none

feat: test against different platform with different Java distributions (#9169)
  .sdkmanrc
  backend-server/application/.openapi-generator-ignore
  backend-server/application/src/main/java/com/apitable/asset/service/impl/AssetCallbackServiceImpl.java
  backend-server/application/src/main/java/com/apitable/template/service/ITemplateAlbumRelService.java
  backend-server/application/src/main/java/com/apitable/template/service/ITemplateAlbumService.java
  backend-server/application/src/main/java/com/apitable/template/service/impl/TemplateAlbumRelServiceImpl.java
  backend-server/application/src/main/java/com/apitable/template/service/impl/TemplateAlbumServiceImpl.java
  backend-server/application/src/main/resources/application.yml
  backend-server/application/src/test/java/com/apitable/AbstractIntegrationTest.java
  backend-server/application/src/test/java/com/apitable/AbstractMyBatisMapperTest.java
  backend-server/application/src/test/java/com/apitable/base/service/impl/AssetCallbackServiceImplTest.java
  backend-server/application/src/test/java/com/apitable/organization/service/impl/TeamServiceImplTest.java
  backend-server/application/src/test/java/com/apitable/sql/script/enhance/NewSqlScriptsTestExecutionListener.java
  backend-server/application/src/test/java/com/apitable/sql/script/enhance/ResourceDatabasePopulatorEnhance.java
  backend-server/application/src/test/java/com/apitable/sql/script/enhance/TablePrefixHandler.java
  backend-server/application/src/test/java/com/apitable/template/service/impl/TemplateAlbumServiceImplTest.java
  backend-server/buildSrc/build.gradle
  backend-server/buildSrc/settings.gradle
  backend-server/code-coverage-report/build.gradle
  backend-server/config/checkstyle/checkstyle.xml
  backend-server/config/checkstyle/suppressions.xml
  backend-server/gradle.properties
  backend-server/gradle/libs.versions.toml
  backend-server/shared/core/build.gradle
  backend-server/shared/starters/amqp/build.gradle
  backend-server/shared/starters/beetl/build.gradle
  backend-server/shared/starters/mail/build.gradle
  backend-server/shared/starters/oss/build.gradle
  backend-server/shared/starters/sms/build.gradle
  backend-server/shared/starters/socketio/build.gradle
  packaging/Dockerfile.backend-server
Due: none

fix: add arg for java 17 version (#9384)
  packaging/Dockerfile.backend-server
Due: none
