Repository apitable/apitable: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install_cypress, build_vika_design, deploy_vika_design, build_widget_stage, deploy_widget_stage

Path conditions:
  install_cypress: any of: packages/cypress/package.json
  build_vika_design: any of: packages/components/docs/*, packages/components/src/*, packages/components/package.json
  deploy_vika_design: any of: packages/components/docs/*, packages/components/src/*, packages/components/package.json
  build_widget_stage: any of: packages/components/**/*, packages/core/**/*, packages/icon/**/*, packages/widget-stage/**/*, packages/widget-sdk/**/*, packages/i18n-lang/**/*
  deploy_widget_stage: any of: packages/components/**/*, packages/core/**/*, packages/icon/**/*, packages/widget-stage/**/*, packages/widget-sdk/**/*, packages/i18n-lang/**/*

fix: miss icon (#6379)
  packages/icons/src/doc_hide_components/index.ts
  packages/icons/src/doc_hide_components/liveChat_filled.tsx
Due: none

feat: databus-wasm api demo (#6381)
  packages/databus-wasm/databus_wasm.d.ts
  packages/databus-wasm/databus_wasm_bg.js
  packages/databus-wasm/databus_wasm_bg.wasm
  packages/databus-wasm/databus_wasm_bg.wasm.d.ts
Due: none

fix: preview pdf always loading (#6386)
  packages/datasheet/src/pc/components/notification/notification.tsx
  packages/datasheet/src/pc/components/notification/style.module.less
  packages/datasheet/src/pc/components/preview_file/preview_main/preview_main.tsx
  packages/datasheet/src/pc/components/preview_file/preview_type/preview_type.tsx
Due: none

fix: sync ai node name update (#6387)
  backend-server/application/src/main/java/com/apitable/interfaces/ai/facade/AiServiceFacade.java
  backend-server/application/src/main/java/com/apitable/interfaces/ai/facade/DefaultAiServiceFacadeImpl.java
  backend-server/application/src/main/java/com/apitable/interfaces/ai/model/AiCreateParam.java
  backend-server/application/src/main/java/com/apitable/interfaces/ai/model/AiDataSource.java
  backend-server/application/src/main/java/com/apitable/interfaces/ai/model/AiUpdateParam.java
  backend-server/application/src/main/java/com/apitable/interfaces/ai/model/DatasheetSource.java
  backend-server/application/src/main/java/com/apitable/workspace/service/impl/NodeServiceImpl.java
  backend-server/application/src/test/java/com/apitable/workspace/service/impl/NodeServiceImplTest.java
Due: none

fix: add record cannot get auto increment number field's cellValue (#6390)
  packages/room-server/src/fusion/services/databus/server.data.storage.provider.ts
Due: none

fix: show automation history error (#6392)
  packages/room-server/src/automation/repositories/automation.run.history.repository.ts
Due: none

refactor: databus-server api access (#6391)
  backend-server/application/src/main/java/com/apitable/shared/config/WebMvcConfig.java
  backend-server/application/src/main/java/com/apitable/shared/constants/ParamsConstants.java
  backend-server/application/src/main/java/com/apitable/shared/context/LoginContext.java
  backend-server/application/src/main/java/com/apitable/shared/context/SessionContext.java
  backend-server/application/src/test/java/com/apitable/shared/context/SessionContextTest.java
Due: none

fix: fix code issues
  packages/datasheet/src/pc/components/automation/workflow/modal/button.tsx
  packages/datasheet/src/pc/components/automation/workflow/modal/modal.tsx
Due: none

feat: chatbot enable api (#6402)
  backend-server/application/src/main/java/com/apitable/shared/cache/service/CommonCacheService.java
  backend-server/application/src/main/java/com/apitable/shared/cache/service/impl/CommonCacheServiceImpl.java
  backend-server/application/src/main/java/com/apitable/space/service/impl/SpaceServiceImpl.java
  backend-server/application/src/main/java/com/apitable/space/vo/SpaceInfoVO.java
Due: none

fix: ci (#6417)
  .eslintrc
Due: none

feat: navigation add live chat button (#6401)
  packages/datasheet/src/pc/components/navigation/navigation.tsx
Due: none

fix: update record use put error (#6425)
  packages/room-server/src/fusion/fusion.api.controller.ts
Due: none

fix: gantt timezone crash (#6424)
  packages/components/src/components/button/styled.tsx
  packages/datasheet/src/pc/components/common/field_change_confirm/delete_link_field_confirm.tsx
  packages/datasheet/src/pc/components/common/image_crop_upload/style.module.less
  packages/datasheet/src/pc/components/gantt_view/components/setting_panel/setting_panel.tsx
  packages/datasheet/src/pc/components/multi_grid/format/format_lookup/format_lookup.tsx
  packages/datasheet/src/pc/components/navigation/space_list_drawer/style.module.less
  packages/datasheet/src/pc/components/tool_bar/style.module.less
  packages/datasheet/src/pc/components/tool_bar/view_filter/condition_list.tsx
  packages/datasheet/src/pc/components/tool_bar/view_filter/filter_value/filter_value.tsx
  packages/datasheet/src/pc/components/tool_bar/view_filter/interface.ts
Due: build_widget_stage, deploy_widget_stage

feat: Enable AI features on demand (#6431)
  packages/core/src/modules/space/store/interfaces/space.ts
  packages/datasheet/src/pc/components/catalog/node_context_menu/node_context_menu.tsx
  packages/datasheet/src/pc/components/catalog/node_context_menu/utils.ts
Due: build_widget_stage, deploy_widget_stage

fix: duplicate bucket path
  packages/core/src/utils/file.ts
Due: build_widget_stage, deploy_widget_stage

fix: duplicate bucket path (#1146)
  packages/core/src/utils/file.ts
Due: build_widget_stage, deploy_widget_stage

Press Enter to submit the form
  packages/datasheet/src/pc/components/home/components/login/login.tsx
Due: none

fix: internal api access error (#6432)
  backend-server/application/src/main/java/com/apitable/shared/config/WebMvcConfig.java
  backend-server/application/src/main/java/com/apitable/shared/context/SessionContext.java
  backend-server/application/src/main/java/com/apitable/shared/interceptor/ResourceInterceptor.java
Due: none

fix:
  .env
  packages/datasheet/.env
Due: none

refactor: remove palette colors (#6451)
  packages/components/src/components/alert/styled.tsx
  packages/components/src/components/checkbox/styled.tsx
  packages/components/src/components/context_menu/styled.tsx
  packages/components/src/components/form/rjsf_ui/common/form_item_title.tsx
  packages/components/src/components/form/rjsf_ui/widget/color_picker.tsx
  packages/components/src/components/form/rjsf_ui/widget/select.tsx
  packages/components/src/components/form/rjsf_ui/widget/text.tsx
  packages/components/src/components/list_deprecate/styled.ts
  packages/components/src/components/loading/loading.tsx
  packages/components/src/components/message/components/message_ui.tsx
  packages/components/src/components/radio/group/styled.tsx
  packages/components/src/components/radio/styled.tsx
  packages/components/src/components/select/select.ignore.tsx
  packages/components/src/components/select/styled.ts
  packages/components/src/components/text_input/text_input.tsx
  packages/components/src/helper/color_helper.ts
  packages/components/src/theme/dark.ts
  packages/components/src/theme/light.ts
  packages/components/src/theme/theme.interface.ts
  packages/datasheet/src/pc/components/robot/robot_detail/trigger/field_select.tsx
  packages/widget-sdk/src/ui/filter/field_select.tsx
Due: build_widget_stage, deploy_widget_stage

fix: chatbot widget style (#6453)
  packages/datasheet/public/file/js/aitable_widget.js
Due: none

fix: excel copy text url reserve link (#6455)
  packages/core/src/commands/datasheet/set_records.ts
  packages/datasheet/src/pc/components/konva_grid/utils/drawer.ts
Due: build_widget_stage, deploy_widget_stage

refactor: databus-server api rename to get_datasheet_pack (#6383)
  packages/databus-wasm/databus_wasm_bg.js
  packages/databus-wasm/databus_wasm_bg.wasm
  packages/datasheet/src/pc/components/tool_bar/view_filter/condition_list.tsx
Due: none

fix: fill button bg color (#6458)
  packages/components/src/components/button/styled.tsx
Due: build_widget_stage, deploy_widget_stage

fix: node copy link field conversion failure (#6456)
  packages/room-server/src/database/datasheet/services/datasheet.service.ts
  packages/room-server/src/database/ot/services/ot.service.ts
  packages/room-server/src/shared/interfaces/datasheet.interface.ts
Due: none

fix: README broken links
  README_ZH.md
  docs/readme/ar-SA/README.md
  docs/readme/es-ES/README.md
  docs/readme/it-IT/README.md
  docs/readme/ja-JP/README.md
  docs/readme/ko-KR/README.md
  docs/readme/pl-PL/README.md
  docs/readme/pt-PT/README.md
  docs/readme/ru-RU/README.md
  docs/readme/th-TH/README.md
  docs/readme/tr-TR/README.md
  docs/readme/uk-UA/README.md
  docs/readme/zh-CN/README.md
  docs/readme/zh-HK/README.md
Due: none

fix: disappear links in KR docs
  docs/readme/ko-KR/README.md
Due: none

chore: update .env.defaults (#6460)
  packages/room-server/env/.env.defaults
Due: none

feat: auto use browser language
  packages/core/src/exports/i18n/index.ts
Due: build_widget_stage, deploy_widget_stage

feat: intergate wasm in datasheet core
  packages/core/package.json
  packages/core/src/_skip_transpile_databus_wasm.ts
  packages/core/src/index.ts
  packages/core/src/modules/database/api/datasheet_api.ts
  packages/core/src/modules/database/api/index.ts
  packages/core/src/modules/database/api/wasm/index.ts
  packages/databus-wasm/databus_wasm.d.ts
  packages/databus-wasm/databus_wasm.js
  packages/databus-wasm/databus_wasm_bg.wasm
  packages/databus-wasm/databus_wasm_bg.wasm.d.ts
  packages/databus-wasm/package.json
  packages/datasheet/pages/mock-databus/index.tsx
  packages/datasheet/server.js
  packages/datasheet/src/pc/common/initializer.ts
  packages/datasheet/webpack.config.js
  packages/room-server/jest-ut.config.json
  packages/room-server/package.json
  packages/room-server/src/_skip_transpile_databus_wasm.ts
  packaging/Dockerfile.room-server
  packaging/Dockerfile.web-server
  yarn.lock
Due: build_widget_stage, deploy_widget_stage

chore: set version to v0.99.0 (#6467)
  .bumpversion.cfg
  .version
  backend-server/.version
  backend-server/gradle.properties
  init-db/.version
  package.json
  packages/components/package.json
  packages/core/package.json
  packages/cypress/package.json
  packages/datasheet/package.json
  packages/i18n-lang/package.json
  packages/icons/package.json
  packages/room-server/package.json
  packages/widget-sdk/package.json
Due: install_cypress, build_vika_design, deploy_vika_design, build_widget_stage, deploy_widget_stage

Update ja-JP/README.md (#1030)
  docs/readme/ja-JP/README.md
Due: none

fix: startup issues for room server (#6470)
  packages/databus-wasm/package.json
  packages/databus-wasm/run_in_server.js
Due: none

fix: fix api switch for wasm api
  packages/core/src/modules/database/api/datasheet_api.ts
  packages/datasheet/.env
Due: build_widget_stage, deploy_widget_stage

feat: remove @apitable/databus (#6475)
  Makefile
  package.json
  packages/databus/.gitignore
  packages/databus/build.js
  packages/databus/jest.config.js
  packages/databus/package.json
  packages/databus/src/DataBusApi.test.ts
  packages/databus/src/DataBusApi.ts
  packages/databus/tsconfig.json
  packages/room-server/package.json
  packages/room-server/src/app.environment.ts
  packages/room-server/src/fusion/services/databus/databus.service.ts
  packages/room-server/src/fusion/services/databus/server.data.storage.provider.ts
  packages/room-server/src/shared/services/native/native.service.ts
  packages/room-server/src/shared/shared.module.ts
  packaging/Dockerfile.room-server
  yarn.lock
Due: none

feat: fix proxy call api
  packages/core/src/modules/database/api/datasheet_api.ts
  packages/core/src/modules/database/api/wasm/index.ts
  packages/datasheet/src/pc/common/initializer.ts
Due: build_widget_stage, deploy_widget_stage

feat: apitable saas backup (#6459)
  packages/datasheet/src/pc/components/catalog/node_context_menu/node_context_menu.tsx
  packages/datasheet/src/pc/components/time_machine/index.tsx
  packages/datasheet/src/pc/components/time_machine/style.module.less
Due: none

feat: adjust share qrcode page (#6461)
  packages/datasheet/src/pc/components/catalog/share_node/public_link/public_share_invite_link.tsx
  packages/datasheet/src/pc/components/catalog/share_node/share/share_link.tsx
  packages/datasheet/src/pc/components/catalog/share_node/share_qr_code/share_qr_code.tsx
  packages/datasheet/src/pc/components/catalog/share_node/share_qr_code/style.module.less
  packages/l10n/base/strings.ar-SA.json
  packages/l10n/base/strings.en-US.json
  packages/l10n/base/strings.es-ES.json
  packages/l10n/base/strings.fr-FR.json
  packages/l10n/base/strings.it-IT.json
  packages/l10n/base/strings.ja-JP.json
  packages/l10n/base/strings.ko-KR.json
  packages/l10n/base/strings.ru-RU.json
  packages/l10n/base/strings.zh-CN.json
  packages/l10n/base/strings.zh-HK.json
Due: none
