Repository apitable/apitable: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install_cypress, build_vika_design, deploy_vika_design, build_widget_stage, deploy_widget_stage

Path conditions:
  install_cypress: any of: packages/cypress/package.json
  build_vika_design: any of: packages/components/docs/*, packages/components/src/*, packages/components/package.json
  deploy_vika_design: any of: packages/components/docs/*, packages/components/src/*, packages/components/package.json
  build_widget_stage: any of: packages/components/**/*, packages/core/**/*, packages/icon/**/*, packages/widget-stage/**/*, packages/widget-sdk/**/*, packages/i18n-lang/**/*
  deploy_widget_stage: any of: packages/components/**/*, packages/core/**/*, packages/icon/**/*, packages/widget-stage/**/*, packages/widget-sdk/**/*, packages/i18n-lang/**/*

fix: automation button i18n text (#5928)
  packages/room-server/src/automation/controller/trigger.type.controller.ts
  packages/room-server/src/automation/utils/i18n.util.ts
Due: none

fix: node qps limiter unit test (#5930)
  packages/room-server/src/shared/middleware/node.rate.limiter.middleware.spec.ts
Due: none

refactor: fix tooltip issue
  packages/components/package.json
  packages/components/src/components/tooltip/tooltip.tsx
  packages/datasheet/src/pc/components/tab_bar/view_sync_switch/dropdown/index.tsx
  packages/datasheet/src/pc/components/tab_bar/view_sync_switch/style.module.less
  packages/datasheet/src/pc/components/tab_bar/view_sync_switch/view_sync_status.tsx
  yarn.lock
Due: build_vika_design, deploy_vika_design, build_widget_stage, deploy_widget_stage

fix: dingding space name (#5931)
  packages/datasheet/src/pc/components/organization_head/organization_head.tsx
Due: none

Fix/attach error api (#5939)
  packages/room-server/src/database/attachment/services/attachment.service.ts
  packages/room-server/src/shared/middleware/node.rate.limiter.middleware.spec.ts
  packages/room-server/src/shared/middleware/node.rate.limiter.middleware.ts
Due: none

fix: create user default language setting problem (#5941)
  backend-server/application/src/main/java/com/apitable/shared/component/notification/NotifyMailFactory.java
  backend-server/application/src/main/java/com/apitable/user/service/impl/UserServiceImpl.java
Due: none

fix: automation trigger i18n text (#5938)
  packages/room-server/src/automation/utils/i18n.util.ts
Due: none

fix: native service create failed (#5948)
  packages/room-server/src/shared/services/native/native.service.ts
Due: none

fix: fix tooltip error #5922
  packages/components/package.json
  packages/components/src/components/dropdown/index.ts
  packages/components/src/components/dropdown/laag_dropdown/index.tsx
  packages/components/src/components/index.ts
  packages/components/src/components/tooltip/float_ui/floatui.stories.tsx
  packages/components/src/components/tooltip/float_ui/index.tsx
  packages/components/src/components/tooltip/index.ts
  packages/components/src/components/tooltip/tooltip.tsx
  packages/datasheet/src/pc/components/catalog/tree/node_item/node_item_render.tsx
  packages/datasheet/src/pc/components/tab_bar/view_sync_switch/style.module.less
  packages/datasheet/src/pc/components/tab_bar/view_sync_switch/view_sync_status.tsx
  yarn.lock
Due: build_vika_design, deploy_vika_design, build_widget_stage, deploy_widget_stage

fix: fix tsconfig path alias
  tsconfig.json
Due: none

fix: fix code issues
  packages/components/src/components/tooltip/float_ui/index.tsx
Due: build_widget_stage, deploy_widget_stage

feat: tablebundle test zip method #5844 (#5951)
  .gitignore
Due: none

fix: robot async event not awaited (#5964)
  packages/room-server/src/automation/events/helpers/trigger.event.helper.spec.ts
  packages/room-server/src/automation/events/helpers/trigger.event.helper.ts
  packages/room-server/src/automation/events/listeners/form.submitted.listener.spec.ts
  packages/room-server/src/automation/events/listeners/form.submitted.listener.ts
  packages/room-server/src/automation/events/listeners/record.created.listener.ts
  packages/room-server/src/automation/events/listeners/record.updated.listener.ts
  packages/room-server/src/database/form/services/form.service.ts
  packages/room-server/src/database/robot/services/robot.event.service.ts
Due: none

feat: embed link privateedit show field permission (#5968)
  packages/datasheet/src/pc/components/multi_grid/context_menu/field_menu.tsx
Due: none

fix: kanban field permission ui bug (#5975)
  packages/datasheet/src/pc/components/tool_bar/hidden_field/style.module.less
Due: none

fix: fix dashboard connected
  packages/datasheet/src/pc/components/widget/widget_panel/widget_item/widget_block_main.tsx
Due: none

chore: changelog for v0.23.0-release
  CHANGELOG.md
Due: none

fix: changelog version error
  CHANGELOG.md
Due: none

fix: fix dashboard connected for widget #5133 (#1059)
  packages/datasheet/src/pc/components/widget/widget_panel/widget_item/widget_block_main.tsx
Due: none

fix: space not social domain jump (#5983)
  packages/datasheet/src/pc/components/create_space/create_space.tsx
Due: none

fix: select open checked to view (#5979)
  packages/components/src/components/select/select.stories.tsx
  packages/components/src/components/select/select.tsx
Due: build_widget_stage, deploy_widget_stage

fix:node tree not expand for new register user (#5949)
  packages/datasheet/src/pc/hooks/use_user_request.ts
Due: none

fix: button margin and svg vertical (#5994)
  packages/components/src/components/button/button.tsx
  packages/components/src/components/button/interface.ts
  packages/components/src/components/button/styled.tsx
Due: build_widget_stage, deploy_widget_stage

fix: fix ui for view property #5972
  packages/datasheet/src/pc/components/tab_bar/view_sync_switch/popup_content/pc.tsx
  packages/datasheet/src/pc/components/tab_bar/view_sync_switch/style.module.less
  packages/datasheet/src/pc/components/tab_bar/view_sync_switch/view_sync_status.tsx
Due: none

chore: merge release/0.23.0 into develop (#5998)
  packages/room-server/src/automation/events/helpers/trigger.event.helper.spec.ts
  packages/room-server/src/automation/events/helpers/trigger.event.helper.ts
  packages/room-server/src/automation/events/listeners/form.submitted.listener.spec.ts
  packages/room-server/src/automation/events/listeners/form.submitted.listener.ts
  packages/room-server/src/automation/events/listeners/record.created.listener.ts
  packages/room-server/src/automation/events/listeners/record.updated.listener.ts
  packages/room-server/src/database/form/services/form.service.ts
  packages/room-server/src/database/robot/services/robot.event.service.ts
Due: none

fix: room-server lint errors (#5999)
  packages/room-server/src/automation/actions/sms/index.ts
  packages/room-server/src/automation/services/robot.action.type.base.service.ts
  packages/room-server/src/automation/vos/action.type.detail.vo.ts
  packages/room-server/src/database/attachment/services/attachment.service.ts
  packages/room-server/src/database/cascader/cascader.module.ts
  packages/room-server/src/database/ot/services/datasheet.ot.service.ts
  packages/room-server/src/fusion/dtos/datasheet.description.dto.ts
  packages/room-server/src/fusion/fusion.api.controller.ts
  packages/room-server/src/shared/decorator/retry.decorator.ts
  packages/room-server/src/shared/enums/redis-key.enum.ts
  packages/room-server/src/shared/helpers/opentelemetry/custom.parent.sampler.ts
  packages/room-server/src/shared/helpers/sentry/sentry.traces.sampler.ts
  packages/room-server/src/shared/helpers/socket.helper.ts
  packages/room-server/src/shared/middleware/node.rate.limiter.middleware.spec.ts
  packages/room-server/src/socket/adapter/redis/redis-io.adapter.ts
  packages/room-server/src/socket/dtos/ding-talk/robot-notification.dto.ts
  packages/room-server/src/socket/dtos/user/base-user.dto.ts
  packages/room-server/src/socket/gateway/notification.gateway.ts
  packages/room-server/src/socket/interface/exception/exception-response.interface.ts
  packages/room-server/src/socket/interface/socket/authenticated-socket.interface.ts
  packages/room-server/src/socket/interface/socket/token-payload.interface.ts
  packages/room-server/src/socket/ros/notification/notification.ro.ts
  packages/room-server/src/socket/ros/notification/robot-notification.ro.ts
  packages/room-server/src/socket/services/nest/nest.service.ts
  packages/room-server/src/socket/services/notification/notification.service.ts
  packages/room-server/src/socket/services/redis/redis.service.ts
  packages/room-server/src/socket/services/socket-io/socket-io.service.ts
Due: none

chore: revert commit tsconfig alias
  tsconfig.json
Due: none

feat: add view property changed popup logic
  packages/components/src/components/dropdown/laag_dropdown/index.tsx
  packages/datasheet/src/pc/components/tab_bar/view_sync_switch/view_sync_status.tsx
Due: build_widget_stage, deploy_widget_stage

feat: add view property changed behaviour
  packages/core/src/engine/view_property_filter.ts
Due: build_widget_stage, deploy_widget_stage

fix: i18n ui style (#6020)
  packages/datasheet/src/pc/components/create_space/create_space.tsx
  packages/datasheet/src/pc/components/datasheet_pane/datasheet_pane.tsx
  packages/datasheet/src/pc/components/list/common_list/styles.module.less
  packages/datasheet/src/pc/components/list/option_list/style.module.less
  packages/datasheet/src/pc/components/multi_grid/cell/cell_options/cell_options.tsx
  packages/datasheet/src/pc/components/navigation/create_space_modal/create_space_modal.tsx
  packages/datasheet/src/pc/components/robot/robot_detail/magic_variable_container/styles.module.less
  packages/datasheet/src/pc/components/robot/robot_detail/node_form/ui/template/object_field_template.tsx
  packages/datasheet/src/pc/components/robot/robot_panel/robot_detail_head.tsx
  packages/datasheet/src/pc/components/tool_bar/hidden_field/style.module.less
  packages/datasheet/src/pc/components/tool_bar/hidden_kanban_group/styles.module.less
  packages/datasheet/src/pc/components/widget/widget_center/style.module.less
  packages/datasheet/src/pc/hooks/use_space_request.ts
Due: none

fix: apply robot bugfix to release/0.23.0 (#6023)
  packages/core/src/automation_manager/magic_variable/magic_variable_parser.ts
  packages/core/src/model/field/select_field/single_select_field.ts
Due: build_widget_stage, deploy_widget_stage

feat: ai node creation/fetch business (#5989)
  backend-server/application/build.gradle
  backend-server/application/src/main/java/com/apitable/interfaces/ai/AiContextConfig.java
  backend-server/application/src/main/java/com/apitable/interfaces/ai/facade/AiServiceFacade.java
  backend-server/application/src/main/java/com/apitable/interfaces/ai/facade/DefaultAiServiceFacadeImpl.java
  backend-server/application/src/main/java/com/apitable/interfaces/ai/model/AiChatBotFromDatasheetCreateParam.java
  backend-server/application/src/main/java/com/apitable/interfaces/ai/model/DatasheetSourceSettingParam.java
  backend-server/application/src/main/java/com/apitable/workspace/dto/DatasheetSnapshot.java
  backend-server/application/src/main/java/com/apitable/workspace/enums/NodeException.java
  backend-server/application/src/main/java/com/apitable/workspace/model/NodeInterface.java
  backend-server/application/src/main/java/com/apitable/workspace/model/NodeObject.java
  backend-server/application/src/main/java/com/apitable/workspace/ro/AiDatasheetNodeSettingParam.java
  backend-server/application/src/main/java/com/apitable/workspace/ro/AiDatasourceParamInterface.java
  backend-server/application/src/main/java/com/apitable/workspace/ro/NodeOpRo.java
  backend-server/application/src/main/java/com/apitable/workspace/service/impl/NodeServiceImpl.java
  backend-server/application/src/main/resources/templates/datasheet/datasheet-meta-blank-tpl.btl
  backend-server/lib.gradle
  packages/room-server/env/.env.defaults
  packages/room-server/package.json
  yarn.lock
Due: none

fix: fix ui for view property
  packages/components/src/components/dropdown/laag_dropdown/index.tsx
  packages/datasheet/src/pc/components/tab_bar/view_sync_switch/view_sync_status.tsx
Due: build_widget_stage, deploy_widget_stage

fix: fix code issues
  packages/components/src/components/dropdown/laag_dropdown/index.tsx
  packages/datasheet/src/pc/components/tab_bar/tab_item/style.module.less
Due: build_widget_stage, deploy_widget_stage
