Repository apitable/apitable: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install_cypress, build_vika_design, deploy_vika_design, build_widget_stage, deploy_widget_stage

install_cypress:
  before_script:
  - yarn config get npmRegistryServer
  - yarn config set npmRegistryServer https://nexus.vika.ltd/repository/npm-group/
  tags:
  - node
  stage: install
  image: node:$NODE_JS_VERSION-alpine
  when: manual
  cache:
    key: ${CI_PROJECT_NAME}_${CI_COMMIT_REF_NAME}
    paths:
    - node_modules/
  ...

build_vika_design:
  before_script:
  - yarn config get npmRegistryServer
  - yarn config set npmRegistryServer https://nexus.vika.ltd/repository/npm-group/
  stage: build
  image: node:$NODE_JS_VERSION-alpine
  script:
  - echo "build vika design components"
  - yarn workspaces focus @vikadata/components
  - yarn build:icons
  ...

deploy_vika_design:
  script:
  - aws s3 cp packages/components/styleguide s3://bundle.vika.ltd/component  --recursive --include "*"
  stage: deploy
  dependencies:
  - build_vika_design
  image: vikadata/dind-aws-node

build_widget_stage:
  tags:
  - node
  stage: build
  image: node:$NODE_JS_VERSION-alpine
  artifacts:
    name: ${CI_PROJECT_NAME}_${CI_JOB_NAME}_${CI_COMMIT_REF_NAME}_${CI_COMMIT_SHA}_widget_stage
    paths:
    - packages/widget-stage/build/
    expire_in: 1 weeks

deploy_widget_stage:
  tags:
  - node
  stage: deploy
  needs:
  - job: build_widget_stage
  image: vikadata/dind-aws-node
  before_script:
  - WIDGET_STAGE_ENV=$(echo $CI_COMMIT_REF_NAME)
  services:
  - name: vikadata/dind-aws-node
    command:
    - --registry-mirror=https://nt14bg6k.mirror.aliyuncs.com
  variables:
    GIT_STRATEGY: none
  ...

chore: add cache for space team count (#6207)
  backend-server/application/src/main/java/com/apitable/space/service/impl/StaticsServiceImpl.java
Due: none

fix: billing operation api (#6188)
  backend-server/application/src/main/java/com/apitable/organization/service/impl/MemberServiceImpl.java
  backend-server/application/src/main/java/com/apitable/player/service/impl/PlayerNotificationServiceImpl.java
  backend-server/application/src/main/java/com/apitable/shared/context/LoginContext.java
  backend-server/application/src/main/java/com/apitable/space/controller/SpaceApplyController.java
  backend-server/application/src/main/java/com/apitable/space/controller/SpaceSubAdminController.java
  backend-server/application/src/main/java/com/apitable/space/mapper/SpaceMemberRoleRelMapper.java
  backend-server/application/src/main/java/com/apitable/space/service/ISpaceMemberRoleRelService.java
  backend-server/application/src/main/java/com/apitable/space/service/ISpaceRoleService.java
  backend-server/application/src/main/java/com/apitable/space/service/ISpaceService.java
  backend-server/application/src/main/java/com/apitable/space/service/impl/SpaceMemberRoleRelServiceImpl.java
  backend-server/application/src/main/java/com/apitable/space/service/impl/SpaceRoleServiceImpl.java
  backend-server/application/src/main/java/com/apitable/space/service/impl/SpaceServiceImpl.java
  backend-server/application/src/main/java/com/apitable/widget/service/impl/WidgetPackageServiceImpl.java
  backend-server/application/src/main/java/com/apitable/workspace/enums/PermissionException.java
  backend-server/application/src/main/resources/mapper/space/SpaceMemberRoleRelMapper.xml
  backend-server/application/src/test/java/com/apitable/space/service/impl/SpaceRoleServiceImplTest.java
  backend-server/application/src/test/java/com/apitable/space/service/impl/SpaceServiceImplTest.java
  packages/core/src/modules/org/store/interface/space_permission_manage.ts
Due: build_widget_stage, deploy_widget_stage

fix: backup recover limit (#6209)
  packages/datasheet/src/pc/hooks/use_catalogtree_request.ts
  packages/datasheet/src/pc/styles/global_components/other.less
Due: none

fix: kanban preview crash (#6214)
  packages/core/src/modules/database/api/datasheet_api.interface.ts
  packages/datasheet/src/pc/components/kanban_view/kanban_group/kanban_group.tsx
Due: build_widget_stage, deploy_widget_stage

fix: billing api validation (#6215)
  backend-server/application/src/main/java/com/apitable/space/service/impl/SpaceServiceImpl.java
  backend-server/application/src/test/java/com/apitable/AbstractIntegrationTest.java
  backend-server/application/src/test/java/com/apitable/mock/bean/MockUserSpace.java
  backend-server/application/src/test/java/com/apitable/space/service/impl/SpaceServiceImplTest.java
Due: none

fix: update feat string (#6211)
  packages/l10n/base/strings.de-DE.json
  packages/l10n/base/strings.en-US.json
  packages/l10n/base/strings.es-ES.json
  packages/l10n/base/strings.fr-FR.json
  packages/l10n/base/strings.it-IT.json
  packages/l10n/base/strings.ja-JP.json
  packages/l10n/base/strings.ko-KR.json
  packages/l10n/base/strings.ru-RU.json
  packages/l10n/base/strings.zh-CN.json
  packages/l10n/base/strings.zh-HK.json
Due: none

fix: fix dropdown offset for select
  packages/components/src/components/dropdown/laag_dropdown/index.tsx
  packages/widget-sdk/src/ui/filter/filter_value/filter_select.tsx
Due: build_widget_stage, deploy_widget_stage

feat: apitable saas change password (#6216)
  packages/datasheet/src/get_env.ts
  packages/datasheet/src/pc/components/navigation/account_center_modal/modify_password/modify_password.tsx
Due: none

feat: enable experimental multi-arch build for linux/amd64 and linux/arm64
  .github/workflows/build.yaml
  docker-bake.hcl
Due: none

feat: enable experimental multi-arch build for linux/amd64 and linux/arm64 (#1103)
  .github/workflows/build.yaml
  docker-bake.hcl
Due: none

fix: fix select single filter
  packages/core/src/model/filter_data_structure_parse.ts
Due: build_widget_stage, deploy_widget_stage

fix: version to 0.24.0 (#6236)
  .bumpversion.cfg
  .version
  backend-server/.version
  backend-server/gradle.properties
  init-db/.version
  package.json
  packages/components/package.json
  packages/core/package.json
  packages/cypress/package.json
  packages/datasheet/package.json
  packages/i18n-lang/package.json
  packages/icons/package.json
  packages/room-server/package.json
  packages/widget-sdk/package.json
Due: install_cypress, build_vika_design, deploy_vika_design, build_widget_stage, deploy_widget_stage

chore: trigger multi-arch build only on tag as it is extreme slow
  .github/workflows/build.yaml
Due: none

chore: trigger multi-arch build only on tag as it is extreme slow (#1106)
  .github/workflows/build.yaml
Due: none

Feat/chat bot (#6243)
  packages/datasheet/src/pc/components/datasheet_search_panel/datasheet_search_panel.tsx
Due: none

fix: robot empty history image (#6242)
  packages/datasheet/src/pc/components/robot/robot_detail/robot_run_history/robot_run_history.tsx
  packages/datasheet/src/pc/styles/global_components/other.less
  packages/datasheet/src/pc/utils/transform_node_tree_data.ts
Due: none

fix: fix styles for view property ui
  packages/components/src/components/dropdown/laag_dropdown/index.tsx
  packages/components/src/components/tooltip/float_ui/index.tsx
  packages/datasheet/src/pc/components/tab_bar/view_sync_switch/popup_content/mobile.tsx
  packages/datasheet/src/pc/components/tab_bar/view_sync_switch/show_view_manual_save_in_mobile.tsx
  packages/datasheet/src/pc/components/tab_bar/view_sync_switch/style.module.less
  packages/datasheet/src/pc/components/tab_bar/view_sync_switch/view_sync_status.tsx
Due: build_widget_stage, deploy_widget_stage

表单视图标签栏下边框改为border-bottom: 1px solid var(--borderCommonDefault)
  packages/datasheet/src/pc/components/form_panel/form_tab/style.module.less
Due: none

fix: room-server databus import (#6252)
  packages/databus/build.js
  packages/room-server/src/shared/services/native/native.service.ts
  yarn.lock
Due: none

fix: backup list virtual scroll (#6255)
  packages/datasheet/src/pc/utils/transform_node_tree_data.ts
Due: none

refactor(databus): UnitPO and build WebAssembly success (#6256)
  packages/datasheet/src/pc/components/tab_bar/view_sync_switch/show_view_manual_save_in_mobile.tsx
Due: none

fix: preview click reload (#6257)
  packages/datasheet/src/pc/utils/transform_node_tree_data.ts
Due: none

fix: paste 2001 state year (#6263)
  packages/core/src/model/field/date_time_base_field.ts
Due: build_widget_stage, deploy_widget_stage

Feature/fix dropdown (#6267)
  packages/components/src/components/dropdown/laag_dropdown/index.tsx
  packages/datasheet/src/pc/components/tab_bar/view_sync_switch/popup_content/mobile.tsx
Due: build_widget_stage, deploy_widget_stage

feat: ai publish router (#6270)
  packages/core/src/config/router.ts
  packages/core/src/exports/i18n/index.ts
  packages/datasheet/pages/publish/[...all].tsx
  packages/datasheet/public/file/js/aitable_widget.js
  packages/datasheet/src/pc/components/route_manager/router_strategy.ts
  packages/datasheet/src/pc/components/share/share.tsx
  packages/datasheet/src/theme_wrapper.tsx
  packages/datasheet/tsconfig.json
Due: build_widget_stage, deploy_widget_stage

fix: only management allow create backup (#6271)
  packages/components/src/components/alert/styled.tsx
  packages/datasheet/src/pc/components/tool_bar/view_filter/filter_value/filter_cascader.tsx
  packages/datasheet/src/pc/components/tool_bar/view_filter/filter_value/filter_value.tsx
Due: build_widget_stage, deploy_widget_stage

refactor: databus-nodejs npm build (#6268)
  packages/databus/build.js
Due: none

fix: apitable hide backup (#6280)
  packages/datasheet/src/pc/components/catalog/node_context_menu/node_context_menu.tsx
Due: none

refactor: automation sql (#6281)
  packages/room-server/src/automation/repositories/automation.robot.repository.ts
  packages/room-server/src/database/ot/services/ot.service.ts
  packages/room-server/src/database/resource/services/room.resource.rel.service.ts
Due: none

hotfix: record comment not recover (#6285)
  packages/room-server/src/database/datasheet/services/datasheet.changeset.service.ts
Due: none

fix: fix share model icon pos (#6284)
  packages/datasheet/src/pc/components/catalog/share_node/permission_and_collaborator.tsx
  packages/datasheet/src/pc/components/catalog/share_node/public_link/public_share_invite_link.tsx
  packages/datasheet/src/pc/components/catalog/share_node/style.module.less
Due: none

fix: fix anonymous user info error
  packages/core/src/modules/user/store/selectors/user.ts
Due: build_widget_stage, deploy_widget_stage

feat: adjust ai publish router (#6292)
  packages/core/src/config/router.ts
  packages/datasheet/pages/embed/ai/[...all].tsx
  packages/datasheet/public/file/js/aitable_widget.js
  packages/datasheet/src/pc/components/route_manager/router_strategy.ts
  packages/datasheet/utils/get_base_url.ts
Due: build_widget_stage, deploy_widget_stage

chore: add clinic.js start script (#6254)
  Makefile
  package.json
  packages/room-server/.gitignore
  packages/room-server/package.json
Due: none

fix: fix ui changes
  packages/components/src/components/dropdown/laag_dropdown/index.tsx
  packages/datasheet/src/pc/components/tab_bar/view_sync_switch/popup_content/mobile.tsx
Due: build_widget_stage, deploy_widget_stage

Path conditions:
  install_cypress: any of: packages/cypress/package.json
  build_vika_design: any of: packages/components/docs/*, packages/components/src/*, packages/components/package.json
  deploy_vika_design: any of: packages/components/docs/*, packages/components/src/*, packages/components/package.json
  build_widget_stage: any of: packages/components/**/*, packages/core/**/*, packages/icon/**/*, packages/widget-stage/**/*, packages/widget-sdk/**/*, packages/i18n-lang/**/*
  deploy_widget_stage: any of: packages/components/**/*, packages/core/**/*, packages/icon/**/*, packages/widget-stage/**/*, packages/widget-sdk/**/*, packages/i18n-lang/**/*
