Repository apitable/apitable: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install_cypress, build_vika_design, deploy_vika_design, build_widget_stage, deploy_widget_stage

Path conditions:
  install_cypress: any of: packages/cypress/package.json
  build_vika_design: any of: packages/components/docs/*, packages/components/src/*, packages/components/package.json
  deploy_vika_design: any of: packages/components/docs/*, packages/components/src/*, packages/components/package.json
  build_widget_stage: any of: packages/components/**/*, packages/core/**/*, packages/icon/**/*, packages/widget-stage/**/*, packages/widget-sdk/**/*, packages/i18n-lang/**/*
  deploy_widget_stage: any of: packages/components/**/*, packages/core/**/*, packages/icon/**/*, packages/widget-stage/**/*, packages/widget-sdk/**/*, packages/i18n-lang/**/*

fix: fusion api select new option error
  packages/room-server/src/fusion/services/fusion.api.service.ts
Due: none

fix: fusion api select new option error (#1014)
  packages/room-server/src/fusion/services/fusion.api.service.ts
Due: none

chore: 0.23.0 release
  .bumpversion.cfg
  .version
  CHANGELOG.md
  backend-server/.version
  backend-server/gradle.properties
  init-db/.version
  package.json
  packages/components/package.json
  packages/core/package.json
  packages/cypress/package.json
  packages/datasheet/package.json
  packages/i18n-lang/package.json
  packages/icons/package.json
  packages/room-server/package.json
  packages/widget-sdk/package.json
Due: install_cypress, build_vika_design, deploy_vika_design, build_widget_stage, deploy_widget_stage

chore: tune node move method (#5847)
  backend-server/application/src/main/java/com/apitable/workspace/mapper/NodeMapper.java
  backend-server/application/src/main/java/com/apitable/workspace/service/impl/NodeServiceImpl.java
  backend-server/application/src/main/resources/mapper/workspace/NodeMapper.xml
Due: none

fix: Invalid time value (#5858)
  packages/core/src/model/field/date_time_base_field.ts
  packages/datasheet/src/pc/components/editors/container.tsx
Due: build_widget_stage, deploy_widget_stage

fix: quote template sub node sync failure
  backend-server/application/src/main/java/com/apitable/workspace/service/impl/NodeServiceImpl.java
Due: none

fix: i18n robot UI (#5839)
  packages/datasheet/src/pc/components/robot/robot_detail/magic_variable_container/magic_variable_element.tsx
  packages/datasheet/src/pc/components/robot/robot_detail/magic_variable_container/magic_variable_list_item.tsx
  packages/datasheet/src/pc/components/robot/robot_detail/node_form/node_form.tsx
  packages/datasheet/src/pc/components/robot/robot_panel/robot_panel.tsx
Due: none

fix: quote template sub node sync failure (#1018)
  backend-server/application/src/main/java/com/apitable/workspace/service/impl/NodeServiceImpl.java
Due: none

fix: dump sub node sync failure (#5859)
  backend-server/application/src/main/java/com/apitable/workspace/service/impl/NodeServiceImpl.java
  backend-server/application/src/test/java/com/apitable/workspace/service/impl/NodeServiceImplTest.java
Due: none

fix: invitation email capitalization issue (#5861)
  backend-server/application/src/main/java/com/apitable/organization/service/impl/MemberServiceImpl.java
Due: none

fix: und language code (#1021)
  packages/core/src/exports/i18n/index.ts
Due: build_widget_stage, deploy_widget_stage

fix: max line long
  packages/core/src/exports/i18n/index.ts
Due: build_widget_stage, deploy_widget_stage

fix: get error language code und (#1022)
  packages/core/src/exports/i18n/index.ts
Due: build_widget_stage, deploy_widget_stage

fix: http get strings.und.json (#5870)
  packages/core/src/exports/i18n/index.ts
Due: build_widget_stage, deploy_widget_stage

refactor: delete views information in form meta (#5867)
  packages/room-server/src/database/form/services/form.service.ts
Due: none

feat: ai training api mock (#5860)
  packages/room-server/src/shared/services/rest/rest.service.ts
Due: none

perf: fusion api getRecords load single view meta (#5871)
  packages/datasheet/src/pc/components/multi_grid/format/format_lookup/format_lookup.tsx
  packages/room-server/src/database/datasheet/repositories/datasheet.meta.repository.ts
  packages/room-server/src/database/datasheet/services/datasheet.meta.service.ts
  packages/room-server/src/fusion/fusion.api.controller.ts
  packages/room-server/src/fusion/middleware/guard/api.datasheet.guard.ts
Due: none

fix: user locale for datetime formular field (#5857)
  backend-server/application/src/main/java/com/apitable/user/vo/UserInfoVo.java
  packages/core/src/databus/logic/dashboard.ts
  packages/core/src/model/field/date_time_base_field.ts
  packages/core/src/modules/user/store/interfaces/user.ts
  packages/core/src/modules/user/store/selectors/user.ts
  packages/room-server/src/shared/adapters/adapters.init.ts
Due: build_widget_stage, deploy_widget_stage

chore: add cache for space active member count (#5888)
  backend-server/application/src/main/java/com/apitable/space/service/IStaticsService.java
  backend-server/application/src/main/java/com/apitable/space/service/impl/SpaceServiceImpl.java
  backend-server/application/src/main/java/com/apitable/space/service/impl/StaticsServiceImpl.java
Due: none

Update ja-JP/README.md
  docs/readme/ja-JP/README.md
Due: none

feat: merge 0.22.0 into develop (#5893)
  packages/core/src/automation_manager/magic_variable/magic_variable_parser.ts
  packages/core/src/model/field/select_field/single_select_field.ts
Due: build_widget_stage, deploy_widget_stage

feat: apitable billing page (#5856)
  packages/core/src/modules/user/api/api.user.ts
  packages/core/src/modules/user/api/url.user.ts
  packages/datasheet/pages/management/billing/index.tsx
  packages/datasheet/src/pc/components/space_manage/space_menu_tree/space_menu_tree.tsx
Due: build_widget_stage, deploy_widget_stage

fix: member not relate any team search issue (#5899)
  backend-server/application/src/main/java/com/apitable/organization/service/impl/TeamServiceImpl.java
  backend-server/application/src/main/java/com/apitable/organization/vo/UnitInfoVo.java
Due: none

fix: fix image url broken #5874
  packages/core/src/utils/file.ts
  packages/widget-sdk/src/ui/cell_value/cell_attachment/utils/file_type.ts
Due: build_widget_stage, deploy_widget_stage

feat: save manuall
  packages/components/src/colors/base/black.ts
  packages/components/src/colors/base/blackBlue.ts
  packages/components/src/colors/base/blue.ts
  packages/components/src/colors/base/brown.ts
  packages/components/src/colors/base/deepPurple.ts
  packages/components/src/colors/base/green.ts
  packages/components/src/colors/base/index.ts
  packages/components/src/colors/base/indigo.ts
  packages/components/src/colors/base/orange.ts
  packages/components/src/colors/base/pink.ts
  packages/components/src/colors/base/purple.ts
  packages/components/src/colors/base/red.ts
  packages/components/src/colors/base/tangerine.ts
  packages/components/src/colors/base/teal.ts
  packages/components/src/colors/base/yellow.ts
  packages/components/src/colors/dark.ts
  packages/components/src/colors/light.ts
  packages/components/src/components/switch/styled.tsx
  packages/core/src/config/stringkeys.interface.ts
  packages/core/src/exports/i18n/index.ts
  packages/core/src/model/_colors.ts
  packages/core/src/modules/database/store/actions/resource/datasheet/datasheet.ts
  packages/core/src/modules/database/store/reducers/resource/datasheet/datasheet.ts
Due: build_widget_stage, deploy_widget_stage

fix: lookup filter Info save error (#5904)
  packages/datasheet/src/pc/components/multi_grid/format/format_lookup/format_lookup.tsx
Due: none

fix: fix image broken #5874
  packages/core/src/utils/file.ts
  packages/widget-sdk/src/ui/cell_value/cell_attachment/utils/file_type.ts
Due: build_widget_stage, deploy_widget_stage

fix: multi language ui (#5903)
  packages/components/src/components/link_button/styled.tsx
  packages/datasheet/src/pc/components/common/emoji/emoji.less
  packages/datasheet/src/pc/components/field_permission/permission_modal_header/permission_modal_header.tsx
  packages/datasheet/src/pc/components/space_manage/space_member_manage/team_tree/style.module.less
  packages/datasheet/src/pc/components/space_manage/space_member_manage/team_tree/team_tree.tsx
  packages/datasheet/src/pc/components/space_manage/sub_admin/permission_card/permission_card.tsx
  packages/datasheet/src/pc/components/space_manage/sub_admin/permission_card/style.module.less
  packages/datasheet/src/pc/components/tab_bar/view_sync_switch/popup_content.tsx
  packages/datasheet/src/pc/components/tab_bar/view_sync_switch/style.module.less
  packages/datasheet/src/pc/components/tool_bar/hidden_field/hidden_field.tsx
  packages/datasheet/src/pc/components/tool_bar/hidden_field/style.module.less
  packages/datasheet/src/pc/components/widget/widget_center/style.module.less
Due: build_widget_stage, deploy_widget_stage

fix: view filter ui bug (#5909)
  packages/datasheet/src/pc/components/tool_bar/view_filter/style.module.less
Due: none

fix: lookup filter info save error (#5923)
  packages/datasheet/src/pc/components/multi_grid/format/format_lookup/format_lookup.tsx
Due: none

fix: version to 0.23.0 (#5924)
  .bumpversion.cfg
  .version
  backend-server/.version
  backend-server/gradle.properties
  init-db/.version
  package.json
  packages/components/package.json
  packages/core/package.json
  packages/cypress/package.json
  packages/datasheet/package.json
  packages/i18n-lang/package.json
  packages/icons/package.json
  packages/room-server/package.json
  packages/widget-sdk/package.json
Due: install_cypress, build_vika_design, deploy_vika_design, build_widget_stage, deploy_widget_stage

fix: fix code issues
  packages/core/src/modules/database/store/interfaces/resource/datasheet/datasheet.ts
  packages/core/src/modules/database/store/reducers/resource/datasheet/datasheet.ts
Due: build_widget_stage, deploy_widget_stage

chore(backend): interceptor identify restful style resource url with the same path (#5926)
  backend-server/application/src/main/java/com/apitable/shared/component/scanner/ApiResourceFactory.java
  backend-server/application/src/main/java/com/apitable/shared/component/scanner/DefaultApiResourceFactory.java
  backend-server/application/src/main/java/com/apitable/shared/interceptor/ResourceInterceptor.java
Due: none

fix: node qps limiter (#5927)
  packages/room-server/src/shared/middleware/node.rate.limiter.middleware.ts
Due: none
