Repository apitable/apitable: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install_cypress, build_vika_design, deploy_vika_design, build_widget_stage, deploy_widget_stage

Path conditions:
  install_cypress: any of: packages/cypress/package.json
  build_vika_design: any of: packages/components/docs/*, packages/components/src/*, packages/components/package.json
  deploy_vika_design: any of: packages/components/docs/*, packages/components/src/*, packages/components/package.json
  build_widget_stage: any of: packages/components/**/*, packages/core/**/*, packages/icon/**/*, packages/widget-stage/**/*, packages/widget-sdk/**/*, packages/i18n-lang/**/*
  deploy_widget_stage: any of: packages/components/**/*, packages/core/**/*, packages/icon/**/*, packages/widget-stage/**/*, packages/widget-sdk/**/*, packages/i18n-lang/**/*

fix: automation trigger (#10124)
  backend-server/application/src/main/java/com/apitable/automation/service/impl/AutomationTriggerServiceImpl.java
  backend-server/application/src/main/java/com/apitable/interfaces/automation/facede/AutomationServiceFacade.java
  backend-server/application/src/main/java/com/apitable/interfaces/automation/facede/DefaultAutomationServiceFacadeImpl.java
  backend-server/shared/starters/databus/src/main/java/com/apitable/starter/databus/client/api/AutomationDaoApiApi.java
  backend-server/shared/starters/databus/src/main/java/com/apitable/starter/databus/client/api/FusionApiApi.java
  backend-server/shared/starters/databus/src/main/java/com/apitable/starter/databus/client/model/FieldKindSO.java
  backend-server/shared/starters/databus/src/main/java/com/apitable/starter/databus/client/model/FieldPropertySO.java
Due: none

Fix/tz fix timezone issue1 (#10141)
  packages/components/src/components/time/time_input/index.tsx
  packages/components/src/components/time/timing.tsx
  packages/components/src/components/time/utils.ts
  packages/datasheet/src/pc/components/robot/robot_detail/robot_run_history/robot_run_history_item_detail_trigger.tsx
Due: build_widget_stage, deploy_widget_stage

fix: delete error timezone select (#10132)
  packages/core/src/config/timezones.ts
Due: build_widget_stage, deploy_widget_stage

fix: the novice guide cannot be triggered (#10146)
  packages/core/src/config/system_config.source.json
Due: build_widget_stage, deploy_widget_stage

fix: fix issue for widget dropdown (#10151)
  packages/components/src/components/ellipsis_text/index.tsx
  packages/components/src/components/index.ts
  packages/components/src/components/list_deprecate/styled.ts
  packages/components/src/components/select/dropdown/index.tsx
  packages/components/src/components/select/select.stories.tsx
  packages/components/src/components/select/select_item.tsx
  packages/components/src/components/select/styled.ts
  packages/widget-sdk/src/ui/field_picker/field_picker.tsx
  packages/widget-sdk/src/ui/filter/field_select.tsx
  packages/widget-sdk/src/ui/filter/filter_base.tsx
  packages/widget-sdk/src/ui/filter/filter_value/filter_date/filter_date_duration.tsx
  packages/widget-sdk/src/ui/view_picker/view_picker.tsx
Due: build_widget_stage, deploy_widget_stage

feat(ai): stream format fix and img fix (#10150)
  packages/i18n-lang/src/config/strings.en-US.json
  packages/l10n/base/strings.de-DE.json
  packages/l10n/base/strings.es-ES.json
  packages/l10n/base/strings.fr-FR.json
  packages/l10n/base/strings.it-IT.json
  packages/l10n/base/strings.ja-JP.json
  packages/l10n/base/strings.ko-KR.json
  packages/l10n/base/strings.ru-RU.json
  packages/l10n/base/strings.zh-CN.json
  packages/l10n/base/strings.zh-HK.json
Due: build_widget_stage, deploy_widget_stage

fix: timezone dst false (#10163)
  packages/core/src/config/timezones.ts
Due: build_widget_stage, deploy_widget_stage

fix: recovery worker env (#10171)
  packages/room-server/src/app.environment.ts
  packages/room-server/src/shared/services/queue/queue.module.ts
Due: none

feat: credit used reset every month (#10177)
  backend-server/application/src/main/java/com/apitable/interfaces/ai/facade/AiServiceFacade.java
  backend-server/application/src/main/java/com/apitable/interfaces/ai/facade/DefaultAiServiceFacadeImpl.java
  backend-server/application/src/main/java/com/apitable/internal/service/impl/InternalSpaceServiceImpl.java
  backend-server/application/src/main/java/com/apitable/internal/vo/InternalSpaceUsageVo.java
  backend-server/application/src/main/java/com/apitable/space/service/impl/SpaceServiceImpl.java
  backend-server/application/src/test/java/com/apitable/shared/util/DateHelperTest.java
Due: none

fix: form desc show more (#10178)
  packages/datasheet/src/pc/components/editors/workdoc_editor/workdoc_editor.tsx
  packages/datasheet/src/pc/components/form_container/form_field_container/form_field_ui.tsx
  packages/datasheet/src/pc/components/form_container/form_field_container/style.module.less
Due: none

feat: server call cancel conversations (#10183)
  backend-server/application/src/main/java/com/apitable/internal/vo/InternalSpaceUsageVo.java
Due: none

fix: fix tips color (#10188)
  packages/components/src/components/time/tips/index.tsx
Due: build_widget_stage, deploy_widget_stage

fix: calculate cycle date error (#10189)
  backend-server/application/src/main/java/com/apitable/interfaces/ai/facade/AiServiceFacade.java
  backend-server/application/src/main/java/com/apitable/interfaces/ai/facade/DefaultAiServiceFacadeImpl.java
  backend-server/application/src/main/java/com/apitable/interfaces/ai/model/CreditInfo.java
  backend-server/application/src/main/java/com/apitable/interfaces/billing/model/CycleDateRange.java
  backend-server/application/src/main/java/com/apitable/internal/service/impl/InternalSpaceServiceImpl.java
  backend-server/application/src/main/java/com/apitable/shared/util/SubscriptionDateRange.java
  backend-server/application/src/main/java/com/apitable/space/service/impl/SpaceServiceImpl.java
Due: none

fix: remove chatbot count to seat usage (#10196)
  backend-server/application/src/main/java/com/apitable/space/service/impl/SpaceServiceImpl.java
  backend-server/application/src/test/java/com/apitable/space/service/impl/SpaceServiceImplTest.java
Due: none

fix desc of copilot agent (#10194)
  packages/l10n/base/strings.zh-CN.json
Due: none

chore: version 1.8.0 (#10198)
  .bumpversion.cfg
  .version
  backend-server/.version
  init-db/.version
  package.json
  packages/ai-components/package.json
  packages/components/package.json
  packages/core/package.json
  packages/cypress/package.json
  packages/databus-client/package.json
  packages/databus-wasm-nodejs/package.json
  packages/databus-wasm-web/package.json
  packages/datasheet/package.json
  packages/i18n-lang/package.json
  packages/icons/package.json
  packages/room-server/package.json
  packages/widget-sdk/package.json
Due: install_cypress, build_vika_design, deploy_vika_design, build_widget_stage, deploy_widget_stage

Hotfix/cola (#10211)
  .bumpversion.cfg
  .version
  backend-server/.version
  init-db/.version
  package.json
  packages/ai-components/package.json
  packages/components/package.json
  packages/core/package.json
  packages/cypress/package.json
  packages/databus-client/package.json
  packages/databus-wasm-nodejs/package.json
  packages/databus-wasm-web/package.json
  packages/datasheet/package.json
  packages/datasheet/src/modules/shared/player/init.ts
  packages/datasheet/src/modules/shared/player/rules.ts
  packages/i18n-lang/package.json
  packages/icons/package.json
  packages/room-server/package.json
  packages/widget-sdk/package.json
Due: install_cypress, build_vika_design, deploy_vika_design, build_widget_stage, deploy_widget_stage

Fix/ai copilot empty msg (#10214)
  packages/l10n/base/strings.zh-CN.json
Due: none

fix: send subscription remove field permission check (#10221)
  packages/core/src/config/system_config.interface.ts
  packages/core/src/config/system_config.source.json
Due: build_widget_stage, deploy_widget_stage

Hotfix/cola (#10220)
  packages/datasheet/src/modules/shared/player/init.ts
Due: none

fix: revert system config (#10226)
  packages/core/src/config/system_config.interface.ts
Due: build_widget_stage, deploy_widget_stage

fix: fetch favorite expand list (#10225)
  packages/datasheet/src/pc/components/common_side/workbench_side/favorite/favorite.tsx
Due: none

Hotfix/cola (#10231)
  packages/datasheet/pages/_app.tsx
  packages/datasheet/src/modules/shared/player/rules.ts
Due: none

fix: consumer env conflict (#10234)
  packages/room-server/src/app.environment.ts
Due: none

Fix/fix guide automation tips (#10240)
  packages/components/src/components/select/dropdown/index.tsx
  packages/components/src/components/time/utils.ts
  packages/datasheet/src/modules/shared/player/init.ts
  packages/datasheet/src/pc/common/wizard.ts
Due: build_widget_stage, deploy_widget_stage

Fix/fix select dropdown (#10242)
  packages/components/src/components/select/dropdown/index.tsx
  packages/components/src/components/select/dropdown/list_dropdown.tsx
Due: build_widget_stage, deploy_widget_stage

fix: fix issue for dropdown select (#10243)
  packages/components/src/components/select/dropdown/multiple.tsx
Due: build_widget_stage, deploy_widget_stage

revert: ai form code (#10235)
  backend-server/application/src/main/java/com/apitable/shared/exception/LimitException.java
  backend-server/application/src/main/java/com/apitable/space/service/ISpaceService.java
  backend-server/application/src/main/java/com/apitable/space/service/impl/SpaceServiceImpl.java
  backend-server/application/src/main/java/com/apitable/workspace/service/impl/NodeServiceImpl.java
  backend-server/application/src/test/java/com/apitable/mock/bean/MockSubscriptionFeature.java
  backend-server/application/src/test/java/com/apitable/mock/bean/MockSubscriptionInfo.java
  backend-server/application/src/test/java/com/apitable/workspace/service/impl/NodeServiceImplTest.java
Due: none

fix: fix issue for build (#10245)
  packages/datasheet/src/pc/common/wizard.ts
Due: none

fix: cannot find ai router (#10254)
  packages/room-server/src/ai/ai.dynamic.module.ts
  packages/room-server/src/app.module.ts
Due: none

feat: workdoc upload video (#9560)
  packages/datasheet/public/file/langs/strings.en-US.json
  packages/datasheet/public/file/langs/strings.zh-CN.json
  packages/i18n-lang/src/config/strings.en-US.json
  packages/i18n-lang/src/config/strings.zh-CN.json
  packages/l10n/base/strings.en-US.json
  packages/l10n/base/strings.zh-CN.json
Due: build_widget_stage, deploy_widget_stage

feat: workdoc download (#9674)
  packages/datasheet/package.json
  pnpm-lock.yaml
Due: none
