Repository apitable/apitable: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install_cypress, build_vika_design, deploy_vika_design, build_widget_stage, deploy_widget_stage

Path conditions:
  install_cypress: any of: packages/cypress/package.json
  build_vika_design: any of: packages/components/docs/*, packages/components/src/*, packages/components/package.json
  deploy_vika_design: any of: packages/components/docs/*, packages/components/src/*, packages/components/package.json
  build_widget_stage: any of: packages/components/**/*, packages/core/**/*, packages/icon/**/*, packages/widget-stage/**/*, packages/widget-sdk/**/*, packages/i18n-lang/**/*
  deploy_widget_stage: any of: packages/components/**/*, packages/core/**/*, packages/icon/**/*, packages/widget-stage/**/*, packages/widget-sdk/**/*, packages/i18n-lang/**/*

fix: compatible old plan feature (#9821)
  backend-server/application/build.gradle
  backend-server/application/src/main/resources/application.yml
  backend-server/gradle/libs.versions.toml
Due: none

chore: upgrade action/checkout and action/setup-java version (#9826)
  .github/workflows/build.yaml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/lint.yml
  backend-server/application/src/main/java/com/apitable/space/service/impl/SpaceServiceImpl.java
  backend-server/application/src/main/java/com/apitable/space/vo/SeatUsage.java
Due: none

fix: fix time travel (#9803)
  packages/components/src/components/time/day.tsx
  packages/components/src/components/time/time.stories.tsx
  packages/components/src/components/time/timing.tsx
Due: build_widget_stage, deploy_widget_stage

chore: tune ops controller & exposed code (#9800)
  backend-server/application/src/main/java/com/apitable/asset/vo/AssetUrlSignatureVo.java
  backend-server/application/src/main/java/com/apitable/automation/mapper/AutomationServiceMapper.java
  backend-server/application/src/main/java/com/apitable/automation/model/AutomationServiceCreateRO.java
  backend-server/application/src/main/java/com/apitable/automation/model/AutomationServiceEditRO.java
  backend-server/application/src/main/java/com/apitable/automation/model/TriggerTypeCreateRO.java
  backend-server/application/src/main/java/com/apitable/automation/model/TriggerTypeEditRO.java
  backend-server/application/src/main/java/com/apitable/automation/service/IAutomationService.java
  backend-server/application/src/main/java/com/apitable/automation/service/IAutomationTriggerTypeService.java
  backend-server/application/src/main/java/com/apitable/automation/service/impl/AutomationServiceImpl.java
  backend-server/application/src/main/java/com/apitable/automation/service/impl/AutomationTriggerTypeServiceImpl.java
  backend-server/application/src/main/java/com/apitable/organization/service/impl/RoleServiceImpl.java
  backend-server/application/src/main/java/com/apitable/widget/vo/WidgetReleaseListVo.java
  backend-server/application/src/main/resources/application.yml
  backend-server/application/src/main/resources/mapper/automation/AutomationServiceMapper.xml
  backend-server/application/src/test/java/com/apitable/widget/service/impl/WidgetUploadServiceImplTest.java
  packages/datasheet/pages/_app.tsx
  packages/datasheet/src/modules/shared/shortcut_key/shortcut_actions/append_row.ts
  packages/room-server/src/fusion/dtos/field.property.dto.ts
  packages/room-server/src/fusion/dtos/space.dto.ts
  packages/widget-sdk/src/interface/field_types.ts
Due: build_widget_stage, deploy_widget_stage

fix: org show space logo (#9832)
  packages/datasheet/src/pc/components/common_side/address_side/address_side.tsx
  packages/datasheet/src/pc/components/common_side/address_side/style.module.less
  packages/datasheet/src/pc/components/common_side/workbench_side/space-info/space-info.tsx
  packages/datasheet/src/pc/components/common_side/workbench_side/space-info/style.module.less
  packages/datasheet/src/pc/components/common_side/workbench_side/style.module.less
  packages/datasheet/src/pc/components/common_side/workbench_side/workbench_side.tsx
Due: none

chore: migrate ci runner to gha-runner-scale-set (#9837)
  packaging/all-in-one/dataenv-liquibase-pm2/Dockerfile
  packaging/all-in-one/dataenv-pm2/Dockerfile
Due: none

fix: kanban field count trigger height update (#9846)
  packages/datasheet/src/pc/components/kanban_view/kanban_group/kanban_group.tsx
Due: none

fix: fix issue for time input (#9844)
  packages/components/src/components/time/time.stories.tsx
  packages/components/src/components/time/time_input/index.tsx
  packages/components/src/components/time/timing.tsx
Due: build_widget_stage, deploy_widget_stage

fix: group select tip z-index (#9861)
  packages/components/src/components/dropdown/float_ui/index.tsx
  packages/components/src/components/dropdown/float_ui/useFloatUiDropdown.tsx
  packages/components/src/components/select/dropdown/list_dropdown.tsx
  packages/components/src/components/tooltip/float_ui/index.tsx
Due: build_widget_stage, deploy_widget_stage

fix: fix multple select (#9866)
  packages/components/src/components/select/dropdown/list_dropdown.tsx
  packages/components/src/components/select/dropdown/multiple.tsx
  packages/components/src/components/select/select.stories.tsx
  packages/components/src/components/time/time_input/index.tsx
Due: build_widget_stage, deploy_widget_stage

fix: product catalog description and seat limit (#9853)
  backend-server/application/src/main/java/com/apitable/interfaces/billing/model/NumberPlanFeature.java
  backend-server/application/src/main/java/com/apitable/interfaces/billing/model/SubscriptionFeatures.java
  backend-server/application/src/main/java/com/apitable/space/service/impl/SpaceApplyServiceImpl.java
  backend-server/application/src/main/java/com/apitable/space/service/impl/SpaceServiceImpl.java
  backend-server/application/src/main/java/com/apitable/workspace/service/impl/NodeServiceImpl.java
Due: none

fix: get nodeOutput by resourceId (#9757)
  packages/core/src/automation_manager/magic_variable/sys_functions/context_base.ts
Due: build_widget_stage, deploy_widget_stage

chore: bumpversion to 1.7.0 (#9880)
  .bumpversion.cfg
  .version
  backend-server/.version
  init-db/.version
  package.json
  packages/ai-components/package.json
  packages/components/package.json
  packages/core/package.json
  packages/cypress/package.json
  packages/databus-client/package.json
  packages/databus-wasm-nodejs/package.json
  packages/databus-wasm-web/package.json
  packages/datasheet/package.json
  packages/i18n-lang/package.json
  packages/icons/package.json
  packages/room-server/package.json
  packages/widget-sdk/package.json
Due: install_cypress, build_vika_design, deploy_vika_design, build_widget_stage, deploy_widget_stage

fix: kanban title ellipsis (#9881)
  packages/datasheet/src/pc/components/multi_grid/cell/cell_text/url_discern.tsx
Due: none

fix: fix button modal click (#9884)
  packages/datasheet/src/pc/components/expand_record/expand_record.tsx
Due: none

fix: kanban multi text (#9893)
  packages/datasheet/src/pc/components/multi_grid/cell/cell_text/url_discern.tsx
  packages/datasheet/src/pc/components/record_card/card_body.tsx
  packages/datasheet/src/pc/components/record_card/card_text/style.module.less
Due: none

fix: parse bundle failed (#9892)
  backend-server/application/src/main/java/com/apitable/workspace/service/impl/DatasheetServiceImpl.java
Due: none

fix: fix prettier filter (#9894)
  .husky/pre-commit
  packages/datasheet/src/pc/components/editors/button_editor/buton_item/index.tsx
Due: none

fix: upgrade social sdk dependencies version (#9900)
  backend-server/application/src/main/java/com/apitable/interfaces/billing/model/NumberPlanFeature.java
  backend-server/gradle/libs.versions.toml
Due: none

fix: upgrade social sdk version (#9904)
  backend-server/gradle/libs.versions.toml
Due: none

hotfix: remove lang log (#9906)
  packages/core/src/exports/i18n/index.ts
Due: build_widget_stage, deploy_widget_stage

fix: mirror update frozen column (#9907)
  packages/core/src/modules/database/store/selectors/resource/datasheet/calc.ts
Due: build_widget_stage, deploy_widget_stage

fix: enter form clear temp recordId (#9913)
  packages/core/src/exports/i18n/index.ts
  packages/datasheet/src/pc/components/form_container/form_container.tsx
Due: build_widget_stage, deploy_widget_stage

feat: add cascader field field property (#9925)
  packages/core/src/model/field/cascader_field.ts
Due: build_widget_stage, deploy_widget_stage

fix: duplicate json key
  packages/l10n/base/strings.de-DE.json
  packages/l10n/base/strings.es-ES.json
  packages/l10n/base/strings.fr-FR.json
  packages/l10n/base/strings.it-IT.json
  packages/l10n/base/strings.ja-JP.json
  packages/l10n/base/strings.ko-KR.json
  packages/l10n/base/strings.ru-RU.json
  packages/l10n/base/strings.zh-HK.json
Due: none

fix: duplicate json key (#1529)
  packages/l10n/base/strings.de-DE.json
  packages/l10n/base/strings.es-ES.json
  packages/l10n/base/strings.fr-FR.json
  packages/l10n/base/strings.it-IT.json
  packages/l10n/base/strings.ja-JP.json
  packages/l10n/base/strings.ko-KR.json
  packages/l10n/base/strings.ru-RU.json
  packages/l10n/base/strings.zh-HK.json
Due: none

fix: jscpd threshold to 30%
  .github/linters/.jscpd.json
Due: none

fix: duplicate json key (#1530)
  .github/linters/.jscpd.json
Due: none

fix: jscp threshold 40%
  .github/linters/.jscpd.json
Due: none

refactor: konva refactor button field (#9916)
  packages/datasheet/src/pc/components/editors/button_editor/buton_item/index.tsx
  packages/datasheet/src/pc/components/editors/container.tsx
  packages/datasheet/src/pc/components/konva_grid/components/cell/cell_button/index.tsx
  packages/datasheet/src/pc/components/konva_grid/components/cell/cell_button/rotating_loading.tsx
  packages/datasheet/src/pc/components/konva_grid/components/cell/cell_button/text_ellipsis_engine.ts
  packages/datasheet/src/pc/components/konva_grid/components/cell/cell_value.tsx
  packages/datasheet/src/pc/components/konva_grid/utils/cell_helper.ts
Due: none

Hotfix/pricing (#9944)
  packages/datasheet/src/pc/components/space_manage/space_info/components/card/index.tsx
  packages/datasheet/src/pc/components/space_manage/space_info/hooks/use_member.ts
  packages/datasheet/src/pc/components/space_manage/space_info/layout/cards.tsx
  packages/datasheet/src/pc/components/space_manage/upgrade_space/upgrade_space.tsx
Due: none

fix: fix issue for prettier (#9942)
  .eslintrc
  .prettierignore
  .prettierrc
  package.json
  packages/core/src/command_manager/command.ts
  packages/datasheet/.eslintrc
  packages/datasheet/src/pc/components/expand_record/expand_record.tsx
  packages/l10n/base/strings.zh-CN.json
  pnpm-lock.yaml
Due: build_widget_stage, deploy_widget_stage

chore: latest changelog init
  CHANGELOG.md
Due: none

Hotfix/pricing (#9948)
  packages/datasheet/src/pc/components/tab_bar/collaboration_status/collaboration_status.tsx
Due: none

feat: add pnpm lock file prettierignore (#9949)
  .prettierignore
Due: none
