Repository apitable/apitable: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install_cypress, build_vika_design, deploy_vika_design, build_widget_stage, deploy_widget_stage

install_cypress:
  before_script:
  - yarn config get npmRegistryServer
  - yarn config set npmRegistryServer https://nexus.vika.ltd/repository/npm-group/
  tags:
  - node
  stage: install
  image: node:$NODE_JS_VERSION-alpine
  when: manual
  cache:
    key: ${CI_PROJECT_NAME}_${CI_COMMIT_REF_NAME}
    paths:
    - node_modules/
  ...

build_vika_design:
  before_script:
  - yarn config get npmRegistryServer
  - yarn config set npmRegistryServer https://nexus.vika.ltd/repository/npm-group/
  stage: build
  image: node:$NODE_JS_VERSION-alpine
  script:
  - echo "build vika design components"
  - yarn workspaces focus @vikadata/components
  - yarn build:icons
  ...

deploy_vika_design:
  script:
  - aws s3 cp packages/components/styleguide s3://bundle.vika.ltd/component  --recursive --include "*"
  stage: deploy
  dependencies:
  - build_vika_design
  image: vikadata/dind-aws-node

build_widget_stage:
  tags:
  - node
  stage: build
  image: node:$NODE_JS_VERSION-alpine
  artifacts:
    name: ${CI_PROJECT_NAME}_${CI_JOB_NAME}_${CI_COMMIT_REF_NAME}_${CI_COMMIT_SHA}_widget_stage
    paths:
    - packages/widget-stage/build/
    expire_in: 1 weeks

deploy_widget_stage:
  tags:
  - node
  stage: deploy
  needs:
  - job: build_widget_stage
  image: vikadata/dind-aws-node
  before_script:
  - WIDGET_STAGE_ENV=$(echo $CI_COMMIT_REF_NAME)
  services:
  - name: vikadata/dind-aws-node
    command:
    - --registry-mirror=https://nt14bg6k.mirror.aliyuncs.com
  variables:
    GIT_STRATEGY: none
  ...

refactor: replace react-sortable-hoc (#1859)
  packages/datasheet/package.json
  packages/datasheet/src/pc/components/gallery_view/card.tsx
  packages/datasheet/src/pc/components/upload_modal/upload_core/upload_core.tsx
  yarn.lock
Due: none

feat: enterprise alarm (#1844)
  packages/datasheet/src/modules/enterprise/alarm/alarm_icon/alarm_icon.tsx
  packages/datasheet/src/modules/enterprise/alarm/alarm_tip_text.tsx
  packages/datasheet/src/modules/enterprise/alarm/date_time_alarm/date_time_alarm.tsx
  packages/datasheet/src/modules/enterprise/alarm/date_time_alarm/field_select/field_list.tsx
  packages/datasheet/src/modules/enterprise/alarm/date_time_alarm/field_select/field_select.tsx
  packages/datasheet/src/modules/enterprise/alarm/date_time_alarm/field_select/index.ts
  packages/datasheet/src/modules/enterprise/alarm/date_time_alarm/field_select/style.module.less
  packages/datasheet/src/modules/enterprise/alarm/date_time_alarm/style.module.less
  packages/datasheet/src/modules/enterprise/alarm/date_time_alarm/utils.ts
  packages/datasheet/src/modules/enterprise/alarm/mobile_alarm/index.ts
  packages/datasheet/src/modules/enterprise/alarm/mobile_alarm/mobile_alarm.tsx
  packages/datasheet/src/modules/enterprise/alarm/mobile_alarm/style.module.less
  packages/datasheet/src/pc/components/editors/container.tsx
  packages/datasheet/src/pc/components/editors/date_time_editor/date_time_alarm/index.ts
  packages/datasheet/src/pc/components/editors/date_time_editor/date_time_editor.tsx
  packages/datasheet/src/pc/components/expand_record/field_editor/field_block.tsx
  packages/datasheet/src/pc/components/expand_record/field_editor/field_title.tsx
  packages/datasheet/src/pc/components/konva_grid/hooks/use_grid_cell_alarm.tsx
  packages/datasheet/src/pc/components/multi_grid/cell/cell_date_time/cell_date_time.tsx
Due: none

fix: terminal error (#1866)
  packages/datasheet/package.json
Due: none

fix: folder descriptions are automatically emptied when clicked (#1873)
  packages/datasheet/src/pc/components/folder_showcase/description_modal/description_modal.tsx
Due: none

fix: batch template url error on org modal (#1872)
  packages/core/src/modules/org/url.org.ts
  packages/datasheet/src/pc/components/invite/invite_outsider/components/before_upload.tsx
Due: build_widget_stage, deploy_widget_stage

feat: Not reward capacity when space capacity is unLimit (#1875)
  backend-server/application/src/main/java/com/vikadata/api/modular/finance/service/impl/BillingOfflineServiceImpl.java
  backend-server/application/src/test/java/com/vikadata/api/modular/finance/service/impl/AliyunChannelTest.java
  backend-server/application/src/test/java/com/vikadata/api/modular/social/service/impl/DingTalkOrderServiceImplTest.java
Due: none

Fix/folder description (#1880)
  packages/datasheet/src/pc/components/folder_showcase/description_modal/description_modal.tsx
  packages/datasheet/src/pc/components/slate_editor/slate_editor.tsx
Due: none

fix: useless import (#1881)
  packages/datasheet/src/pc/components/folder_showcase/description_modal/description_modal.tsx
Due: none

chore: log web server header (#1882)
  packages/datasheet/middleware.ts
  packages/datasheet/next.config.js
  packages/datasheet/utils/constant.ts
  packages/datasheet/utils/get_initial_props.ts
Due: none

Fix/0.14.x hotfix (#1884)
  packages/datasheet/src/pc/components/slate_editor/slate_editor.tsx
Due: none

Feat/economic limit (#1877)
  packages/core/src/config/api_tip_config.auto.json
  packages/core/src/config/stringkeys.interface.ts
  packages/core/src/config/system_config.auto.json
  packages/core/src/modules/shared/api/api.interface.ts
  packages/core/src/modules/shared/api/api.ts
  packages/core/src/modules/space/api/url.notification.ts
  packages/datasheet/src/modules/enterprise/billing/subscribe_usage_check.ts
  packages/i18n-lang/src/config/strings.auto.json
  packages/i18n-lang/src/config/strings.json
  packages/room-server/src/database/services/ot/datasheet.ot.service.ts
  packages/room-server/src/shared/interfaces/axios.interfaces.ts
Due: build_widget_stage, deploy_widget_stage

style: change the parameters of error log (#1889)
  packages/room-server/src/shared/interceptor/api.usage.interceptor.ts
Due: none

feat: transform alarm module into enterprise-level functionality (#1837)
  packages/room-server/src/app.module.ts
  packages/room-server/src/automation/robot.module.ts
  packages/room-server/src/database/database.module.ts
  packages/room-server/src/database/services/alarm/alarm.dynamic.module.ts
  packages/room-server/src/database/services/alarm/datasheet.record.alarm.base.service.ts
  packages/room-server/src/database/services/datasheet/datasheet.record.alarm.service.ts
  packages/room-server/src/database/services/ot/datasheet.ot.service.ts
  packages/room-server/src/enterprise/database/alarm/alarm.enterprise.module.ts
  packages/room-server/src/enterprise/database/alarm/repositories/datasheet.record.alarm.repository.ts
  packages/room-server/src/enterprise/database/alarm/services/datasheet.record.alarm.service.spec.ts
  packages/room-server/src/enterprise/database/alarm/services/datasheet.record.alarm.service.ts
  packages/room-server/src/enterprise/enterprise.module.ts
  packages/room-server/src/enterprise/queue/queue.worker.module.ts
  packages/room-server/src/fusion/fusion.api.module.ts
  packages/room-server/src/shared/global.module.ts
  packages/room-server/src/shared/services/sched_task/sched.task.service.ts
  packages/room-server/src/shared/shared.module.ts
Due: none

feat: multi datasource adapter (#1791)
  backend-server/application/src/main/java/com/vikadata/api/shared/component/adapter/AbstractDatasourceAdapter.java
  backend-server/application/src/main/java/com/vikadata/api/shared/component/adapter/DatasourceAdapter.java
  backend-server/application/src/main/java/com/vikadata/api/shared/component/adapter/MongoAdapter.java
  backend-server/application/src/main/java/com/vikadata/api/shared/component/adapter/MultiDatasourceAdapterTemplate.java
  backend-server/application/src/main/java/com/vikadata/api/shared/component/adapter/MysqlAdapter.java
  backend-server/application/src/main/java/com/vikadata/api/shared/config/properties/ConstProperties.java
  backend-server/application/src/main/java/com/vikadata/api/shared/grpc/BackendServingServiceImpl.java
  backend-server/application/src/main/java/com/vikadata/api/shared/listener/AuditSpaceListener.java
  backend-server/application/src/main/java/com/vikadata/api/space/mapper/SpaceAuditMapper.java
  backend-server/application/src/main/java/com/vikadata/api/space/model/SpaceAuditDTO.java
  backend-server/application/src/main/java/com/vikadata/api/space/model/SpaceAuditPageParam.java
  backend-server/application/src/main/java/com/vikadata/api/space/service/impl/SpaceAuditServiceImpl.java
  backend-server/application/src/main/java/com/vikadata/api/workspace/mapper/NodeVisitRecordMapper.java
  backend-server/application/src/main/java/com/vikadata/api/workspace/service/INodeRecentlyBrowsedService.java
  backend-server/application/src/main/java/com/vikadata/api/workspace/service/impl/NodeRecentlyBrowsedServiceImpl.java
  backend-server/application/src/main/java/com/vikadata/api/workspace/service/impl/NodeServiceImpl.java
  backend-server/application/src/main/resources/application.yml
  backend-server/application/src/main/resources/mapper/space/SpaceAuditMapper.xml
  backend-server/application/src/main/resources/mapper/workspace/NodeVisitRecordMapper.xml
  backend-server/vikadata-service/vikadata-db-model/src/main/java/com/vikadata/entity/NodeVisitRecordEntity.java
  backend-server/vikadata-service/vikadata-db-model/src/main/java/com/vikadata/entity/SpaceAuditEntity.java
  backend-server/vikadata-service/vikadata-mongodb-model/src/main/java/com/vikadata/schema/AuditSpaceSchema.java
  backend-server/vikadata-service/vikadata-mongodb-model/src/main/java/com/vikadata/schema/NodeRecentlyBrowsedSchema.java
  init-db/src/main/resources/db/changelog/0.14/20221108_changeset.xml
  init-db/src/main/resources/db/changelog/0.14/master.xml
  init-db/src/main/resources/db/changelog/db.changelog-master.xml
Due: none

chore(conflict): merge conflict (#1879)
  packages/core/src/utils/error_capture.ts
  packages/datasheet/.env.development
  packages/datasheet/src/pc/components/common/slider_verification/slider_verification.tsx
  packages/datasheet/src/pc/components/form_container/form_container.tsx
  packages/datasheet/src/pc/components/upload_modal/upload_core/upload_core.tsx
  packages/room-server/src/database/services/ot/datasheet.ot.service.ts
Due: build_widget_stage, deploy_widget_stage

fix: revert backend server system config (#1892)
  backend-server/config/src/main/resources/strings.auto.json
  backend-server/config/src/main/resources/system_config.auto.json
Due: none

fix: option select sort error (#1898)
  packages/datasheet/src/pc/components/list/option_list/option_list.tsx
  packages/datasheet/src/pc/components/multi_grid/format/format_select/format_select.tsx
  packages/datasheet/src/pc/components/multi_grid/format/format_select/format_select_item.tsx
  packages/datasheet/src/pc/components/multi_grid/format/styles.module.less
Due: none

chore: update config (#1902)
  backend-server/config/src/main/resources/strings.auto.json
  backend-server/config/src/main/resources/system_config.auto.json
  packages/core/src/config/system_config.auto.json
  packages/core/src/config/system_config.interface.ts
Due: build_widget_stage, deploy_widget_stage

Fix cola (#1903)
  backend-server/config/src/main/resources/strings.auto.json
  backend-server/config/src/main/resources/system_config.auto.json
  packages/core/src/config/system_config.auto.json
Due: build_widget_stage, deploy_widget_stage

fix: react-dnd can't auto scroll (#1908)
  packages/datasheet/package.json
  packages/datasheet/src/pc/components/react-dnd-scrolling/index.js
  packages/datasheet/src/pc/components/react-dnd-scrolling/utils.js
  packages/datasheet/src/pc/components/upload_modal/upload_core/upload_core.tsx
  yarn.lock
Due: none

fix: react-dnd can't auto scroll (#1912)
  packages/datasheet/next.config.js
Due: none

fix: share form prompt for usage error (#1914)
  packages/core/src/config/stringkeys.interface.ts
  packages/core/src/config/system_config.auto.json
  packages/core/src/modules/shared/api/api.interface.ts
  packages/core/src/utils/error_capture.ts
  packages/i18n-lang/src/config/strings.auto.json
  packages/i18n-lang/src/config/strings.json
  packages/room-server/src/shared/exception/datasheet.exception.ts
  yarn.lock
Due: build_widget_stage, deploy_widget_stage

fix: share form prompt for usage error (#1915)
  backend-server/config/src/main/resources/strings.auto.json
  backend-server/config/src/main/resources/system_config.auto.json
  packages/datasheet/src/pc/components/notification/card/utils.tsx
  packages/datasheet/utils/get_initial_props.ts
Due: none

fix: widget render error (#1918)
  packages/datasheet/src/pc/components/widget/widget_loader/widget_loader.tsx
  packages/datasheet/src/widget-stage/index.tsx
Due: none

chore: only enterprise support alarm (#1890)
  .eslintrc
  packages/datasheet/.env
  packages/datasheet/next.config.js
  packages/datasheet/src/noop.ts
  packages/datasheet/src/pc/components/draft_editor/slate_editor.tsx
  packages/datasheet/src/pc/components/editors/date_time_editor/date_time_editor.tsx
  packages/datasheet/src/pc/components/konva_grid/hooks/use_grid_cell_alarm.tsx
  packages/datasheet/src/pc/components/multi_grid/cell/cell_date_time/cell_date_time.tsx
  packages/datasheet/tsconfig.json
  tsconfig.json
Due: none

fix: getDataPack 缺少必需的记录数据 (#1921)
  packages/room-server/src/database/services/datasheet/datasheet.record.service.ts
  packages/room-server/src/fusion/databus/database.ts
  packages/room-server/src/fusion/databus/view.ts
  packages/room-server/src/fusion/transformer/fusion.api.transformer.ts
  packages/room-server/src/shared/interfaces/datasheet.interface.ts
Due: none

fix: return whole data field to fix missing data issue (#1922)
  packages/room-server/src/database/services/datasheet/datasheet.field.handler.ts
Due: none

fix: some error (#1928)
  packages/datasheet/src/pc/components/upload_modal/upload_core/styles.module.less
  packages/datasheet/src/pc/components/upload_modal/upload_core/upload_core.tsx
  packages/room-server/src/database/services/ot/datasheet.ot.service.ts
Due: none

fix(room-server): adjust fusion api view sorting priority (#1932)
  packages/room-server/src/fusion/transformer/fusion.api.transformer.ts
Due: none

fix: stack overflow caused by computeEvent (#1924) (#1938)
  packages/core/src/event_manager/events/datasheet/cell_updated.ts
Due: build_widget_stage, deploy_widget_stage

refactor: rename fe vikadata prefix to apitable (#1936)
  packages/components/package.json
  packages/components/src/components/calendar/month/more_task.tsx
  packages/datasheet/package.json
  packages/datasheet/src/pc/components/catalog/share_node/teamwork/teamwork.tsx
  packages/datasheet/src/pc/components/editors/link_editor/link_editor.tsx
  packages/datasheet/src/pc/components/editors/link_editor/record_list.tsx
  packages/datasheet/src/pc/components/editors/link_editor/row.tsx
  packages/datasheet/src/pc/components/editors/link_editor/search_content.tsx
  packages/datasheet/src/pc/components/gallery_view/card.tsx
  packages/datasheet/src/pc/components/gallery_view/gallery_view.tsx
  packages/datasheet/src/pc/components/kanban_view/kanban_group/kanban_group.tsx
  packages/datasheet/src/pc/components/mobile_grid/cell.tsx
  packages/datasheet/src/pc/components/mobile_grid/mobile_grid.tsx
  packages/datasheet/src/pc/components/multi_grid/cell/cell.tsx
  packages/datasheet/src/pc/components/multi_grid/cell/stat_option/stat_option_for_grid/stat_option_for_grid.tsx
  packages/datasheet/src/pc/components/multi_grid/grid_views/grid_views.tsx
  packages/datasheet/src/pc/components/multi_grid/header/header.tsx
  packages/datasheet/src/pc/components/org_chart_view/components/add_first_node/add_first_node.tsx
  packages/datasheet/src/pc/components/org_chart_view/components/context_menu/edge_context_menu.tsx
  packages/datasheet/src/pc/components/org_chart_view/components/controls/controls.tsx
  packages/datasheet/src/pc/components/org_chart_view/components/custom/bezier_edge.tsx
  packages/datasheet/src/pc/components/org_chart_view/components/custom/custom_cycle_edge.tsx
  packages/datasheet/src/pc/components/org_chart_view/components/custom/custom_edge.tsx
  packages/datasheet/src/pc/components/org_chart_view/components/custom/custom_node/custom_node.tsx
  packages/datasheet/src/pc/components/org_chart_view/components/custom/custom_node/ghost_node.tsx
  packages/datasheet/src/pc/components/org_chart_view/components/custom/cycle_node.tsx
  packages/datasheet/src/pc/components/org_chart_view/components/custom/drag_layer.tsx
  packages/datasheet/src/pc/components/org_chart_view/components/custom/ghost_edge.tsx
  packages/datasheet/src/pc/components/org_chart_view/components/cycle/cycle.tsx
  packages/datasheet/src/pc/components/org_chart_view/components/modal/modal.tsx
  packages/datasheet/src/pc/components/org_chart_view/components/scroll_bar/use_scroll_events.ts
  packages/datasheet/src/pc/components/org_chart_view/interfaces.ts
  packages/datasheet/src/pc/components/org_chart_view/org_chart.tsx
  packages/datasheet/src/pc/components/org_chart_view/org_chart_view.tsx
  packages/datasheet/src/pc/components/org_chart_view/utils/get_cycle_elements.ts
  packages/datasheet/src/pc/components/org_chart_view/utils/index.ts
  yarn.lock
Due: build_vika_design, deploy_vika_design, build_widget_stage, deploy_widget_stage

chore: remove mongodb form docker-compose (#1940)
  .env
  docker-compose.yaml
Due: none

chore: README
  README.md
Due: none

chore: README contributing
  README.md
Due: none

Path conditions:
  install_cypress: any of: packages/cypress/package.json
  build_vika_design: any of: packages/components/docs/*, packages/components/src/*, packages/components/package.json
  deploy_vika_design: any of: packages/components/docs/*, packages/components/src/*, packages/components/package.json
  build_widget_stage: any of: packages/components/**/*, packages/core/**/*, packages/icon/**/*, packages/widget-stage/**/*, packages/widget-sdk/**/*, packages/i18n-lang/**/*
  deploy_widget_stage: any of: packages/components/**/*, packages/core/**/*, packages/icon/**/*, packages/widget-stage/**/*, packages/widget-sdk/**/*, packages/i18n-lang/**/*
