Repository apitable/apitable: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install_cypress, build_vika_design, deploy_vika_design, build_widget_stage, deploy_widget_stage

install_cypress:
  before_script:
  - yarn config get npmRegistryServer
  - yarn config set npmRegistryServer https://nexus.vika.ltd/repository/npm-group/
  tags:
  - node
  stage: install
  image: node:$NODE_JS_VERSION-alpine
  when: manual
  cache:
    key: ${CI_PROJECT_NAME}_${CI_COMMIT_REF_NAME}
    paths:
    - node_modules/
  ...

build_vika_design:
  before_script:
  - yarn config get npmRegistryServer
  - yarn config set npmRegistryServer https://nexus.vika.ltd/repository/npm-group/
  stage: build
  image: node:$NODE_JS_VERSION-alpine
  script:
  - echo "build vika design components"
  - yarn workspaces focus @vikadata/components
  - yarn build:icons
  ...

deploy_vika_design:
  script:
  - aws s3 cp packages/components/styleguide s3://bundle.vika.ltd/component  --recursive --include "*"
  stage: deploy
  dependencies:
  - build_vika_design
  image: vikadata/dind-aws-node

build_widget_stage:
  tags:
  - node
  stage: build
  image: node:$NODE_JS_VERSION-alpine
  artifacts:
    name: ${CI_PROJECT_NAME}_${CI_JOB_NAME}_${CI_COMMIT_REF_NAME}_${CI_COMMIT_SHA}_widget_stage
    paths:
    - packages/widget-stage/build/
    expire_in: 1 weeks

deploy_widget_stage:
  tags:
  - node
  stage: deploy
  needs:
  - job: build_widget_stage
  image: vikadata/dind-aws-node
  before_script:
  - WIDGET_STAGE_ENV=$(echo $CI_COMMIT_REF_NAME)
  services:
  - name: vikadata/dind-aws-node
    command:
    - --registry-mirror=https://nt14bg6k.mirror.aliyuncs.com
  variables:
    GIT_STRATEGY: none
  ...

Merge branch 'develop' into fix-memory-leak-issue
  packages/core/src/cache_manager/index.ts
  packages/room-server/src/interceptor/api.usage.interceptor.ts
  packages/room-server/src/modules/ot/ot.service.ts
Due: build_widget_stage, deploy_widget_stage

fix: makefile docker network
  backend-server/Makefile
Due: none

chore: README
  README.md
Due: none

chore: apitable README
  CODE_OF_CONDUCT.md
  LICENSE
  LICENSE-EMBEDDING
  README.md
Due: none

chore: docs images
  .gitignore
  docs/static/cover.png
  docs/static/logo.svg
Due: none

chore: remove gitlab ci
  .gitlab/.gitlab-ci-bak.yml
  .gitlab/.gitlab-ci.yml
  .gitlab/script/deploy_node_script.yml
  .gitlab/script/widget_stage_script.yml
Due: none

chore: remove circle ci
  .circleci/config.yml
Due: none

fix: husky directory
  .husky/commit-msg
  .husky/pre-commit
  package.json
Due: none

fix: simply run commitlint
  .husky/commit-msg
Due: none

fix: add STYLE-GUIDE.md
  STYLE-GUIDE.md
Due: none

fix: remove duplicated config files for socket-server
  packages/socket-server/.vscode/launch.json
  packages/socket-server/.vscode/settings.json
  packages/socket-server/.yarn/releases/yarn-3.2.1.cjs
  packages/socket-server/.yarnrc.yml
  packages/socket-server/yarn.lock
Due: none

Merge branch 'develop' of github.com:vikadata/datasheet into feat-upload-front-end
  packages/core/src/api/api.interface.ts
  packages/core/src/api/api.ts
  packages/core/src/config/url.ts
  packages/core/src/store/actions/user.ts
  packages/datasheet/package.json
  packages/datasheet/src/pc/common/initializer.ts
  packages/datasheet/src/pc/components/common/button_base/button.less
  packages/datasheet/src/pc/components/display_file/display_file.tsx
  packages/datasheet/src/pc/components/display_file/style.module.less
  packages/datasheet/src/pc/components/folder_showcase/folder_showcase.tsx
  packages/datasheet/src/pc/components/form_container/form_prop_container/img_uploader/img_base_uploader.tsx
  packages/datasheet/src/pc/components/konva_grid/utils/image_cache.ts
  packages/datasheet/src/pc/components/multi_grid/field_setting/field_setting.tsx
  packages/datasheet/src/pc/components/space_manage/space_info/components/change_logo/change_logo.tsx
  packages/datasheet/src/pc/components/upload_modal/preview_item/preview_item.tsx
  packages/datasheet/src/pc/components/upload_modal/preview_item/styles.module.less
  packages/datasheet/src/pc/hooks/use_image_upload.ts
  packages/datasheet/src/pc/hooks/use_quill_option.ts
  packages/datasheet/src/pc/hooks/use_user_request.ts
  packages/datasheet/src/pc/utils/upload_manager.ts
  packages/widget-sdk/src/utils/index.ts
  packages/widget-sdk/src/utils/upload.ts
Due: build_widget_stage, deploy_widget_stage

add gitignore on root directory
  backend-server/.gitignore
Due: none

rename backend project
  backend-server/settings.gradle
Due: none

chore: remove unused file on backend
  backend-server/.circleci/config.yml
  backend-server/.gitlab-ci.yml
  backend-server/checkstyle/README.adoc
  backend-server/ci/README.adoc
  backend-server/ci/script/build_docker.sh
  backend-server/ci/script/deploy-eks.py
  backend-server/ci/script/deploy-eks.sh
  backend-server/ci/script/deploy-server.py
  backend-server/ci/script/deploy.sh
  backend-server/dictionaries/private.dic
  backend-server/docker/Dockerfile
  backend-server/gitlab/integration/Api-Server.gitlab-ci.yml
  backend-server/gitlab/integration/Bill-Job-Scheduler.gitlab-ci.yml
  backend-server/gitlab/integration/Social-Dingtalk-Server.gitlab-ci.yml
  backend-server/gitlab/integration/Space-Job-Scheduler.gitlab-ci.yml
  backend-server/gitlab/integration/vikacloud-test.pem
  backend-server/gitlab/private/Aider-Server.gitlab-ci.yml
  backend-server/gitlab/private/Api-Server.gitlab-ci.yml
  backend-server/gitlab/release/Api-Server.gitlab-ci.yml
  backend-server/gitlab/release/Bill-Job-Scheduler.gitlab-ci.yml
  backend-server/gitlab/release/Social-Dingtalk-Server.gitlab-ci.yml
  backend-server/gitlab/release/Space-Job-Scheduler.gitlab-ci.yml
  backend-server/gitlab/staging/Api-Server.gitlab-ci.yml
  backend-server/gitlab/staging/Bill-Job-Scheduler.gitlab-ci.yml
  backend-server/gitlab/staging/Social-Dingtalk-Server.gitlab-ci.yml
  backend-server/gitlab/staging/Space-Job-Scheduler.gitlab-ci.yml
  backend-server/gitlab/staging/vikacloud-test.pem
  backend-server/gitlab/test/Api-Server.gitlab-ci.yml
  backend-server/gitlab/test/Social-Dingtalk-Server.gitlab-ci.yml
Due: none

feat: apitable 新增环境变量
  packages/datasheet/.env.development
  packages/datasheet/src/get_env.ts
  packages/datasheet/src/pc/components/address_list/member_info/member_info.tsx
  packages/datasheet/src/pc/components/navigation/account_center_modal/account_center_modal.tsx
  packages/datasheet/src/pc/components/navigation/account_center_modal/basic_setting/basic_setting.tsx
  packages/datasheet/src/pc/components/navigation/user_menu/user_menu.tsx
  packages/datasheet/src/pc/components/space_manage/space_member_manage/member_table/member_table.tsx
  packages/datasheet/utils/getInitialProps.ts
Due: none

feat: add oss image audit creatable env & modify comment
  backend-server/vikadata-integration/vikadata-integration-oss/src/main/java/com/vikadata/integration/oss/OssUploadAuth.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/config/properties/ConstProperties.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/base/controller/AttachUploadTokenController.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/base/service/IAssetCallbackService.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/base/service/IAssetUploadTokenService.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/base/service/impl/AssetCallbackServiceImpl.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/base/service/impl/AssetUploadTokenServiceImpl.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/internal/controller/InternalAssetController.java
  backend-server/vikadata-service/vikadata-service-api/src/main/resources/application.yml
Due: none

merge conflict
  Dockerfile.storybook
  Makefile
  package.json
  packages/components/.storybook/README.md
  packages/components/package.json
Due: build_vika_design, deploy_vika_design, build_widget_stage, deploy_widget_stage

fix: text field ut set 1000ms
  packages/core/src/model/field/__tests__/field.test.ts
  yarn.lock
Due: build_widget_stage, deploy_widget_stage

Merge remote-tracking branch 'origin/develop' into feat-invite-and-reward-attachment-space
  packages/components/src/components/alert/alert.tsx
  packages/core/src/api/api.interface.ts
  packages/core/src/api/api.ts
  packages/core/src/config/constant.ts
  packages/core/src/config/url.ts
  packages/core/src/store/constants.ts
  packages/core/src/store/interface/billing.ts
  packages/core/src/store/interface/space.ts
  packages/datasheet/src/pc/components/catalog/permission_settings/permission/select_unit_modal/unit_tag/unit_tag.tsx
  packages/datasheet/src/pc/components/invite/invite_outsider/link_invite/link_invite.tsx
  packages/datasheet/src/pc/components/invite/invite_outsider/link_invite/style.module.less
  packages/datasheet/src/pc/components/invite/invite_outsider/style.module.less
  packages/datasheet/src/pc/components/space_manage/space_info/components/capacity-reward-modal/capacity-reward-modal.tsx
  packages/datasheet/src/pc/components/space_manage/space_info/components/capacity-reward-modal/style.module.less
  packages/datasheet/src/pc/components/space_manage/space_info/components/capacity-with-reward-card/index.tsx
  packages/datasheet/src/pc/components/space_manage/space_info/components/capacity-with-reward-card/style.module.less
  packages/datasheet/src/pc/components/space_manage/space_info/components/index.ts
  packages/datasheet/src/pc/components/space_manage/space_info/hooks/use_capacity.ts
  packages/datasheet/src/pc/components/space_manage/space_info/interface.ts
  packages/datasheet/src/pc/components/space_manage/space_info/layout/cards.tsx
  packages/datasheet/src/pc/components/space_manage/space_info/ui/ui.tsx
  packages/datasheet/src/pc/components/upload_modal/memory/memory.tsx
  packages/datasheet/src/pc/hooks/use_capacity-reword-request.ts
  packages/datasheet/src/pc/hooks/use_user_request.ts
  packages/datasheet/src/pc/utils/upload_manager.ts
  packages/i18n-lang/src/config/strings.auto.json
  packages/room-server/src/modules/rest/rest.service.ts
Due: build_widget_stage, deploy_widget_stage

fix: env theme effect
  packages/datasheet/.env.development
  packages/datasheet/pages/_app.tsx
  packages/datasheet/src/theme_wrapper.tsx
Due: none

feat: vikadata bumpversion
  Makefile
Due: none

refactor: remove unused config files for socket-server
  packages/socket-server/.eslintignore
  packages/socket-server/.eslintrc.js
  packages/socket-server/.gitlab-ci.yml
  packages/socket-server/.gitpod.yml
  packages/socket-server/commitlint.config.js
  packages/socket-server/deploy-eks.py
  packages/socket-server/deploy-server.py
  packages/socket-server/package.json
  yarn.lock
Due: none

chore: comment out fail core-test code
  packages/core/src/model/field/__tests__/field.test.ts
Due: build_widget_stage, deploy_widget_stage

fix: 拖动文件&样式问题
  packages/datasheet/src/pc/components/catalog/permission_settings_plus/permission/permission_info_setting.tsx
  packages/datasheet/src/pc/components/catalog/permission_settings_plus/permission/style.module.less
  packages/datasheet/src/pc/components/catalog/tree/tree.tsx
Due: none

chore: remove git gradle plugin
  backend-server/gradle.properties
  backend-server/settings.gradle
  backend-server/vikadata-project/finance-service/build.gradle
  backend-server/vikadata-project/finance-service/src/main/java/cn/vika/finance/FinanceApplication.java
  backend-server/vikadata-project/finance-service/src/main/resources/application.yml
  backend-server/vikadata-project/private-aider-service/build.gradle
  backend-server/vikadata-project/social-service-dingtalk/build.gradle
  backend-server/vikadata-service/vikadata-service-api/build.gradle
Due: none

chore: remove git info in manifest
  backend-server/vikadata-service/vikadata-service-api/build.gradle
Due: none

fix: readme typo
  README.md
Due: none

fix: revert en font family
  packages/datasheet/pages/_document.tsx
  packages/datasheet/src/pc/styles/global.less
Due: none

ci: update action concurrency rule；increase core unit test time
  packages/core/src/model/field/__tests__/field.test.ts
  scripts/build_web.sh
Due: build_widget_stage, deploy_widget_stage

ci: trigger build
  backend-server/Makefile
Due: none

fix: _document 中存在未使用的变量
  packages/datasheet/pages/_document.tsx
Due: none

chore: skip test
  packages/core/src/model/field/__tests__/field.test.ts
Due: build_widget_stage, deploy_widget_stage

chore: clean up the environment before running a test
  Makefile
Due: none

fix: update socket-server Dockerfile
  Makefile
  packages/socket-server/Dockerfile
  packages/socket-server/ecosystem.config.js
Due: none

feat: gantt view task line
  packages/core/src/config/konva_id/datasheet_id.ts
  packages/core/src/i18n/strings.interface.ts
  packages/core/src/model/views/gantt_view.ts
  packages/core/src/store/constants.ts
  packages/core/src/store/interface/resource/datasheet/datasheet.ts
  packages/core/src/types/field_types.ts
  packages/datasheet/src/pc/components/gantt_view/components/setting_panel/setting_panel.tsx
  packages/datasheet/src/pc/components/gantt_view/components/setting_panel/style.module.less
  packages/datasheet/src/pc/components/gantt_view/components/task/task.tsx
  packages/datasheet/src/pc/components/gantt_view/components/task/task_Line.tsx
  packages/datasheet/src/pc/components/gantt_view/context/gantt_view_context.ts
  packages/datasheet/src/pc/components/gantt_view/gantt/gantt.tsx
  packages/datasheet/src/pc/components/gantt_view/gantt_stage/gantt_stage.tsx
  packages/datasheet/src/pc/components/gantt_view/gantt_view.tsx
  packages/datasheet/src/pc/components/gantt_view/hooks/index.ts
  packages/datasheet/src/pc/components/gantt_view/hooks/use_gantt.tsx
  packages/datasheet/src/pc/components/gantt_view/hooks/use_gantt_drawing_line.tsx
  packages/datasheet/src/pc/components/gantt_view/hooks/use_gantt_mouse_event.ts
  packages/datasheet/src/pc/components/gantt_view/hooks/use_gantt_task_Line_setting.tsx
  packages/datasheet/src/pc/components/gantt_view/hooks/use_gantt_task_line.tsx
  packages/datasheet/src/pc/components/gantt_view/hooks/use_gantt_tasks.tsx
  packages/datasheet/src/pc/components/gantt_view/hooks/use_gantt_timeline/arrow.tsx
  packages/datasheet/src/pc/components/gantt_view/hooks/use_gantt_timeline/circle.tsx
  packages/datasheet/src/pc/components/gantt_view/hooks/use_gantt_tooltip.tsx
  packages/datasheet/src/pc/components/gantt_view/interface.ts
  packages/datasheet/src/pc/components/gantt_view/utils/auto_task_Layout.ts
  packages/datasheet/src/pc/components/gantt_view/utils/date.ts
  packages/datasheet/src/pc/components/gantt_view/utils/helper.ts
  packages/datasheet/src/pc/components/gantt_view/utils/index.ts
  packages/datasheet/src/pc/components/gantt_view/utils/task_line.ts
  packages/datasheet/src/pc/components/konva_components/components/tooltip.tsx
Due: build_widget_stage, deploy_widget_stage

fix: gantt line setting title error
  packages/datasheet/src/pc/components/gantt_view/gantt_view.tsx
  packages/datasheet/src/pc/components/gantt_view/hooks/use_gantt_drawing_line.tsx
  packages/datasheet/src/pc/components/gantt_view/hooks/use_gantt_task_Line_setting.tsx
Due: none

Path conditions:
  install_cypress: any of: packages/cypress/package.json
  build_vika_design: any of: packages/components/docs/*, packages/components/src/*, packages/components/package.json
  deploy_vika_design: any of: packages/components/docs/*, packages/components/src/*, packages/components/package.json
  build_widget_stage: any of: packages/components/**/*, packages/core/**/*, packages/icon/**/*, packages/widget-stage/**/*, packages/widget-sdk/**/*, packages/i18n-lang/**/*
  deploy_widget_stage: any of: packages/components/**/*, packages/core/**/*, packages/icon/**/*, packages/widget-stage/**/*, packages/widget-sdk/**/*, packages/i18n-lang/**/*
