Repository apitable/apitable: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install_cypress, build_vika_design, deploy_vika_design, build_widget_stage, deploy_widget_stage

Path conditions:
  install_cypress: any of: packages/cypress/package.json
  build_vika_design: any of: packages/components/docs/*, packages/components/src/*, packages/components/package.json
  deploy_vika_design: any of: packages/components/docs/*, packages/components/src/*, packages/components/package.json
  build_widget_stage: any of: packages/components/**/*, packages/core/**/*, packages/icon/**/*, packages/widget-stage/**/*, packages/widget-sdk/**/*, packages/i18n-lang/**/*
  deploy_widget_stage: any of: packages/components/**/*, packages/core/**/*, packages/icon/**/*, packages/widget-stage/**/*, packages/widget-sdk/**/*, packages/i18n-lang/**/*

fix: wecom order migrate error (#1379)
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/developer/controller/GmController.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/finance/strategy/impl/WeComOrderServiceImpl.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/social/service/ISocialCpIsvService.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/social/service/impl/SocialCpIsvServiceImpl.java
  backend-server/vikadata-social/vikadata-social-wecom/src/main/java/com/vikadata/social/wecom/WxCpIsvServiceImpl.java
Due: none

fix: album style (#1377)
  packages/datasheet/public/static/icon/template/album_template.png
  packages/datasheet/public/static/icon/template/album_template_en.png
  packages/datasheet/public/static/icon/template/album_template_zh.png
  packages/datasheet/src/pc/components/template_centre/album/album.tsx
  packages/datasheet/src/pc/components/template_centre/album/style.module.less
  packages/datasheet/src/static/icon/template/album_template.png
  packages/datasheet/src/static/icon/template/album_template_en.png
  packages/datasheet/src/static/icon/template/album_template_zh.png
Due: none

fix: product recommendation error (#1383)
  packages/datasheet/src/pc/components/subscribe_system/subscribe_header/subscribe_header.tsx
  packages/datasheet/src/pc/components/subscribe_system/subscribe_seat/subscribe_seat.tsx
  packages/datasheet/src/static/lang/en-US.js
  packages/datasheet/src/static/lang/zh-CN.js
  packages/i18n-lang/src/config/strings.auto.json
  packages/i18n-lang/src/config/strings.json
Due: build_widget_stage, deploy_widget_stage

feat(billing): add sync order event for im channel order (#1385)
  backend-server/vikadata-integration/vikadata-integration-vika/src/main/java/com/vikadata/integration/vika/model/BillingOrder.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/event/SyncOrderEvent.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/listener/SyncOrderListener.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/finance/strategy/ISocialOrderService.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/finance/strategy/impl/DingTalkOrderServiceImpl.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/finance/strategy/impl/LarkOrderServiceImpl.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/finance/strategy/impl/WeComOrderServiceImpl.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/social/service/impl/DingTalkIsvEventServiceImpl.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/social/service/impl/FeishuEventServiceImpl.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/social/service/impl/SocialCpIsvChangeEditionEntityHandler.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/social/service/impl/SocialCpIsvServiceImpl.java
Due: none

chore: bumpversion 0.13.9 (#1387)
  .bumpversion.cfg
  .version
  backend-server/.version
  backend-server/build.gradle
  backend-server/gradle.properties
  init-db/.version
  init-db/build.gradle
  package.json
  packages/components/package.json
  packages/core/package.json
  packages/cypress/package.json
  packages/datasheet/package.json
  packages/i18n-lang/package.json
  packages/icons/package.json
  packages/room-server/package.json
  packages/socket-server/package.json
  packages/widget-sdk/package.json
Due: install_cypress, build_vika_design, deploy_vika_design, build_widget_stage, deploy_widget_stage

Fix/template item hover btn (#1395)
  packages/components/src/components/pagination/pagination.tsx
  packages/components/src/components/pagination/styled.tsx
  packages/datasheet/next-env.d.ts
  packages/datasheet/src/pc/components/common/button_base/button.less
  packages/datasheet/src/pc/components/feedback/style.module.less
  packages/datasheet/src/pc/components/template_centre/album/style.module.less
Due: build_widget_stage, deploy_widget_stage

feat: support change minio address (#1394)
  packages/widget-sdk/src/utils/upload_attach_to_S3/upload_attach_to_S3.ts
Due: build_widget_stage, deploy_widget_stage

refactor: adjusting the height of the card (#1398)
  packages/datasheet/next-env.d.ts
  packages/datasheet/src/pc/components/space_manage/space_info/components/multi_line_card/index.tsx
  packages/datasheet/src/pc/components/space_manage/space_info/layout/cards.tsx
  packages/datasheet/src/pc/components/space_manage/space_info/layout/lg.tsx
  packages/datasheet/src/pc/components/space_manage/space_info/ui/ui.tsx
Due: none

fix: kanban options tips (#1400)
  packages/datasheet/src/pc/components/multi_grid/cell/cell_options/cell_options.tsx
Due: none

fix: url path error (#1402)
  packages/widget-sdk/src/utils/upload_attach_to_S3/upload_attach_to_S3.ts
Due: build_widget_stage, deploy_widget_stage

fix: form creation is allowed even after the number of forms is exceeded
  packages/datasheet/src/pc/components/tool_bar/foreign_form/form_list_panel.tsx
Due: none

refactor: adjusting the height of the card
  packages/datasheet/src/pc/components/space_manage/space_info/components/multi_line_card/index.tsx
  packages/datasheet/src/pc/components/space_manage/space_info/layout/cards.tsx
  packages/datasheet/src/pc/components/space_manage/space_info/layout/lg.tsx
  packages/datasheet/src/pc/components/space_manage/space_info/ui/ui.tsx
Due: none

form creation is allowed even after the number of forms is exceeded (#1404)
  packages/datasheet/src/pc/components/space_manage/space_info/components/multi_line_card/index.tsx
  packages/datasheet/src/pc/components/space_manage/space_info/layout/cards.tsx
  packages/datasheet/src/pc/components/space_manage/space_info/layout/lg.tsx
  packages/datasheet/src/pc/components/space_manage/space_info/ui/ui.tsx
  packages/datasheet/src/pc/components/tool_bar/foreign_form/form_list_panel.tsx
Due: none

fix: template album NPE issue (#1403)
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/template/service/impl/TemplateServiceImpl.java
Due: none

fix: node invitation duplicate key for control role on owner (#1386)
  backend-server/system-config/src/main/resources/system_config.auto.json
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/space/service/impl/InvitationServiceImpl.java
Due: none

fix: album panel style (#1405)
  packages/datasheet/src/pc/components/template_centre/album/album.tsx
  packages/datasheet/src/pc/components/template_centre/album/style.module.less
  packages/datasheet/src/pc/components/template_centre/template_category_detail/style.module.less
  packages/datasheet/src/pc/components/template_centre/template_category_detail/template_category_detail.tsx
  packages/datasheet/src/pc/components/template_centre/template_item/template_item.tsx
Due: none

fix: build fail (#1408)
  packages/components/src/components/pagination/pagination.tsx
Due: build_widget_stage, deploy_widget_stage

fix: build fail (#1408) (#1409)
  packages/components/src/components/pagination/pagination.tsx
Due: build_widget_stage, deploy_widget_stage

fix: wecom not deleted bundle when the last subscription was deleted (#1422)
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/finance/mapper/SubscriptionMapper.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/finance/service/ISpaceSubscriptionService.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/finance/service/impl/SpaceSubscriptionServiceImpl.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/finance/strategy/impl/WeComOrderServiceImpl.java
  backend-server/vikadata-service/vikadata-service-api/src/main/resources/mapper/finanace/SubscriptionMapper.xml
  backend-server/vikadata-service/vikadata-service-api/src/test/java/com/vikadata/api/modular/finance/service/impl/SpaceSubscriptionServiceImplTest.java
Due: none

chore: docker-compose support init-setting (#1430)
  .env
  config/openresty/conf.d/server/imageproxy.conf
  config/openresty/conf.d/server/minio.conf
  docker-compose.yaml
Due: none

fix: album panel css (#1431)
  packages/datasheet/src/pc/components/template_centre/album/style.module.less
  packages/datasheet/src/pc/components/template_centre/template_choice/template_choice.tsx
Due: none

Fix/edit new hlep link (#1432)
  packages/core/src/config/api_tip_config.interface.ts
  packages/core/src/config/system_config.auto.json
  packages/core/src/config/system_config.interface.ts
  packages/core/src/i18n/stringkeys.interface.ts
  packages/core/src/i18n/strings.interface.ts
  packages/datasheet/src/pc/components/navigation/help/help.tsx
  packages/datasheet/src/pc/components/robot/robot_panel/robot_detail_head.tsx
  packages/datasheet/src/pc/components/robot/robot_panel/robot_list_head.tsx
  packages/datasheet/src/pc/components/route_manager/navigation_to_url.ts
  packages/datasheet/src/pc/components/time_machine/index.tsx
  packages/datasheet/src/pc/components/workspace/welcome/welcome.tsx
  packages/datasheet/src/static/lang/en-US.js
  packages/datasheet/src/static/lang/zh-CN.js
  packages/i18n-lang/src/config/strings.auto.json
  packages/i18n-lang/src/config/strings.json
Due: build_widget_stage, deploy_widget_stage

fix: modify profession capacity (#1434)
  backend-server/system-config/src/main/resources/system_config.auto.json
Due: none

fix: compatible with template album config not exist scene (#1438)
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/template/service/impl/TemplateCenterConfigServiceImpl.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/template/service/impl/TemplateServiceImpl.java
Due: none

fix: recommend template group not exhibit issue (#1439)
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/template/service/impl/TemplateCenterConfigServiceImpl.java
Due: none

fix: album before template list (#1440)
  packages/datasheet/src/pc/components/template_centre/template_category_detail/style.module.less
  packages/datasheet/src/pc/components/template_centre/template_choice/template_choice.tsx
Due: none

fix: album copy message (#1441)
  packages/core/src/i18n/stringkeys.interface.ts
  packages/core/src/i18n/strings.interface.ts
  packages/datasheet/src/pc/components/template_centre/album/album.tsx
  packages/datasheet/src/static/lang/en-US.js
  packages/datasheet/src/static/lang/zh-CN.js
  packages/i18n-lang/src/config/strings.auto.json
  packages/i18n-lang/src/config/strings.json
Due: build_widget_stage, deploy_widget_stage

fix: add wecom miss plan (#1442)
  backend-server/system-config/src/main/resources/system_config.auto.json
Due: none

fix: modify sass plan price (#1444)
  backend-server/system-config/src/main/resources/system_config.auto.json
Due: none

chore: update config (#1449)
  packages/core/src/config/system_config.auto.json
Due: build_widget_stage, deploy_widget_stage

chore: optimize sql about template mark synchronize to space asset (#1450)
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/base/service/IAssetService.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/base/service/impl/AssetServiceImpl.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/ops/service/impl/OpsServiceImpl.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/space/mapper/SpaceAssetMapper.java
  backend-server/vikadata-service/vikadata-service-api/src/main/resources/mapper/space/SpaceAssetMapper.xml
Due: none

fix: carousel style (#1451)
  packages/datasheet/src/pc/components/template_centre/template_choice/style.module.less
  packages/datasheet/src/pc/components/template_centre/template_item/style.module.less
Due: none

fix: wecom order refunded but recover subscription (#1455)
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/finance/mapper/SocialWecomOrderMapper.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/finance/mapper/SubscriptionMapper.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/finance/service/ISocialWecomOrderService.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/finance/service/impl/SocialWecomOrderServiceImpl.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/finance/service/impl/SubscriptionServiceImpl.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/finance/strategy/impl/WeComOrderServiceImpl.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/social/service/impl/SocialCpIsvRefundEntityHandler.java
  backend-server/vikadata-service/vikadata-service-api/src/main/resources/mapper/finanace/SocialWecomOrderMapper.xml
  backend-server/vikadata-service/vikadata-service-api/src/main/resources/mapper/finanace/SubscriptionMapper.xml
  backend-server/vikadata-service/vikadata-service-api/src/test/java/com/vikadata/api/modular/social/service/impl/WeComOrderServiceImplTests.java
Due: none

Revert "chore: update config" (#1459)
  packages/core/src/config/system_config.auto.json
Due: build_widget_stage, deploy_widget_stage

fix: wecom order refunded partly but not recover the latest order sub… (#1460)
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/finance/mapper/SubscriptionMapper.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/finance/service/ISocialWecomOrderService.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/finance/service/ISubscriptionService.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/finance/service/impl/SocialWecomOrderServiceImpl.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/finance/service/impl/SubscriptionServiceImpl.java
  backend-server/vikadata-service/vikadata-service-api/src/main/java/com/vikadata/api/modular/finance/strategy/impl/WeComOrderServiceImpl.java
  backend-server/vikadata-service/vikadata-service-api/src/main/resources/mapper/finanace/SubscriptionMapper.xml
  backend-server/vikadata-service/vikadata-service-api/src/test/java/com/vikadata/api/modular/social/service/impl/WeComOrderServiceImplTests.java
  backend-server/vikadata-service/vikadata-service-api/src/test/resources/logback-test.xml
  docker-compose-unit-test.yml
Due: none

refactor: translation of some store actions (#1471)
  .env
  .npmrc
  backend-server/README.md
  packages/components/package.json
  packages/core/package.json
  packages/core/src/databus/__tests__/databus.test.ts
  packages/core/src/i18n/i18n.ts
  packages/core/src/i18n/plural.ts
  packages/core/src/store/actions/resource/datasheet/datasheet.ts
  packages/core/src/store/actions/resource/datasheet/selection.ts
  packages/core/src/store/interface/address_list.ts
  packages/core/src/store/interface/billing.ts
  packages/core/src/store/interface/catalog_tree.ts
  packages/core/src/store/interface/common.ts
  packages/core/src/store/interface/hooks.ts
  packages/core/src/store/interface/index.ts
  packages/core/src/store/interface/invite.ts
  packages/core/src/store/interface/notification.ts
  packages/core/src/store/interface/params.ts
  packages/core/src/store/interface/preview_file.ts
  packages/core/src/store/interface/resource/dashboard.ts
  packages/core/src/store/interface/resource/mirror.ts
  packages/core/src/store/interface/space.ts
  packages/core/src/store/interface/space_member_manage.ts
  packages/core/src/store/interface/space_permission_manage.ts
  packages/core/src/store/interface/subscriptions.ts
  packages/core/src/store/interface/template_centre.ts
  packages/core/src/store/interface/unit_info.ts
  packages/core/src/store/interface/user.ts
  packages/core/src/store/reducers/address_list.ts
  packages/core/src/store/reducers/subscriptions.ts
  packages/core/src/store/selector/__test__/mirror.test.ts
  packages/core/src/store/selector/resource/datasheet/computed.ts
  packages/cypress/package.json
  packages/datasheet/package.json
  packages/i18n-lang/package.json
  packages/icons/package.json
  packages/room-server/package.json
  packages/socket-server/package.json
  packages/widget-sdk/package.json
Due: install_cypress, build_vika_design, deploy_vika_design, build_widget_stage, deploy_widget_stage
