Repository apitable/apitable: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install_cypress, build_vika_design, deploy_vika_design, build_widget_stage, deploy_widget_stage

install_cypress:
  before_script:
  - yarn config get npmRegistryServer
  - yarn config set npmRegistryServer https://nexus.vika.ltd/repository/npm-group/
  tags:
  - node
  stage: install
  image: node:$NODE_JS_VERSION-alpine
  when: manual
  cache:
    key: ${CI_PROJECT_NAME}_${CI_COMMIT_REF_NAME}
    paths:
    - node_modules/
  ...

build_vika_design:
  before_script:
  - yarn config get npmRegistryServer
  - yarn config set npmRegistryServer https://nexus.vika.ltd/repository/npm-group/
  stage: build
  image: node:$NODE_JS_VERSION-alpine
  script:
  - echo "build vika design components"
  - yarn workspaces focus @vikadata/components
  - yarn build:icons
  ...

deploy_vika_design:
  script:
  - aws s3 cp packages/components/styleguide s3://bundle.vika.ltd/component  --recursive --include "*"
  stage: deploy
  dependencies:
  - build_vika_design
  image: vikadata/dind-aws-node

build_widget_stage:
  tags:
  - node
  stage: build
  image: node:$NODE_JS_VERSION-alpine
  artifacts:
    name: ${CI_PROJECT_NAME}_${CI_JOB_NAME}_${CI_COMMIT_REF_NAME}_${CI_COMMIT_SHA}_widget_stage
    paths:
    - packages/widget-stage/build/
    expire_in: 1 weeks

deploy_widget_stage:
  tags:
  - node
  stage: deploy
  needs:
  - job: build_widget_stage
  image: vikadata/dind-aws-node
  before_script:
  - WIDGET_STAGE_ENV=$(echo $CI_COMMIT_REF_NAME)
  services:
  - name: vikadata/dind-aws-node
    command:
    - --registry-mirror=https://nt14bg6k.mirror.aliyuncs.com
  variables:
    GIT_STRATEGY: none
  ...

feat: 第二十次提交rust替换“addRecord2Action”(Only one)函数(#6623)
  packages/core/src/commands_actions/__test__/add_record.test.ts
  packages/core/src/commands_actions/__test__/mock_data/action_add_record_mock.ts
Due: build_widget_stage, deploy_widget_stage

feat: 第二十一次提交rust替换“addRecord2Action”(Only one)函数(#6623)
  packages/core/src/commands_actions/datasheet.ts
  packages/core/src/modules/database/api/wasm/function_manager.ts
  packages/core/src/modules/database/api/wasm/index.ts
Due: build_widget_stage, deploy_widget_stage

feat: 第二十二次提交rust替换“addRecord2Action”(Only one)函数(#6623)
  packages/core/src/commands_actions/datasheet.ts
Due: build_widget_stage, deploy_widget_stage

feat: use @swc/jest in core tests (#6917)
  package.json
  packages/core/.swcrc
  packages/core/package.json
  packages/core/src/exports/i18n/index.ts
  packages/core/src/formula_parser/__tests__/__snapshots__/parser.test.ts.snap
  packages/core/src/formula_parser/parser/ast.ts
  yarn.lock
Due: build_widget_stage, deploy_widget_stage

feat-677: exposing prometheus format of metrics for backend server
  backend-server/application/build.gradle
  backend-server/application/src/main/resources/application.yml
  backend-server/gradle.properties
  backend-server/lib.gradle
  gateway/conf.d/server/backend-server.conf
Due: none

feat-677: exposing prometheus format of metrics for backend server
  backend-server/application/src/main/resources/application.yml
Due: none

feat-677: exposing prometheus format of metrics for backend server
  gateway/conf.d/server/backend-server.conf
Due: none

chore: version 0.99.1 (#6841)
  .bumpversion.cfg
  .version
  backend-server/.version
  backend-server/gradle.properties
  init-db/.version
  package.json
  packages/components/package.json
  packages/core/package.json
  packages/cypress/package.json
  packages/datasheet/package.json
  packages/i18n-lang/package.json
  packages/icons/package.json
  packages/room-server/package.json
  packages/widget-sdk/package.json
Due: install_cypress, build_vika_design, deploy_vika_design, build_widget_stage, deploy_widget_stage

feat(backend_server): supplemented with carrying signature return (#6871)
  backend-server/application/src/main/java/com/apitable/shared/support/serializer/ImageSerializer.java
  packages/room-server/src/unit/services/unit.service.ts
  packages/room-server/src/user/services/user.service.ts
Due: none

feat: add fail fast check before build (#6919)
  Makefile
  package.json
Due: none

feat: add test in site dir and __test__ dir
  packages/core/src/commands_actions/__test__/add_record.test.ts
  packages/core/src/commands_actions/__test__/mock_data/action_add_record_mock.ts
Due: build_widget_stage, deploy_widget_stage

Feature/fix dastsheet export (#6912) (#6947)
  packages/datasheet/src/pc/utils/catalog.ts
  packages/datasheet/src/pc/utils/utils.ts
Due: none

feat: remove call rust action_add_record in ts
  packages/core/src/commands_actions/datasheet.ts
  packages/core/src/modules/database/api/wasm/function_manager.ts
  packages/core/src/modules/database/api/wasm/index.ts
Due: build_widget_stage, deploy_widget_stage

fix: get robot list server error (#6953)
  packages/room-server/src/automation/services/robot.robot.service.ts
Due: none

fix: remove duplicate 'MAIL_FROM' field in env
  .env
Due: none

fix: eslint error
  .eslintignore
Due: none

chore: release version 0.99.1
  CHANGELOG.md
Due: none

chore: correct changelog
  CHANGELOG.md
Due: none

chore: changelog for v0.99.1-release (#1242)
  CHANGELOG.md
Due: none

fix: remove duplicate 'MAIL_FROM' field in env (#6956)
  .env
Due: none

fix: automation robot error (#6964)
  packages/room-server/src/automation/services/robot.robot.service.ts
Due: none

chore: tune automation api url (#6810)
  packages/datasheet/src/pc/components/robot/api.ts
  packages/datasheet/src/pc/components/robot/hooks.ts
  packages/datasheet/src/pc/components/robot/robot_create_guide/robot_create_steps/step2.tsx
  packages/datasheet/src/pc/components/robot/robot_create_guide/robot_create_steps/step3.tsx
  packages/datasheet/src/pc/components/robot/robot_detail/action/robot_action.tsx
  packages/datasheet/src/pc/components/robot/robot_detail/action/robot_action_create.tsx
  packages/datasheet/src/pc/components/robot/robot_detail/action/robot_actions.tsx
  packages/datasheet/src/pc/components/robot/robot_detail/node_form/node_form.tsx
  packages/datasheet/src/pc/components/robot/robot_detail/robot_run_history/robot_run_history.tsx
  packages/datasheet/src/pc/components/robot/robot_detail/robot_run_history/robot_run_history_item_detail.tsx
  packages/datasheet/src/pc/components/robot/robot_detail/trigger/robot_trigger.tsx
  packages/datasheet/src/pc/components/robot/robot_detail/trigger/robot_trigger_create.tsx
  packages/datasheet/src/pc/components/robot/robot_list/robot_list.tsx
Due: none

fix: save revision on ai change datasource (#6963)
  packages/room-server/src/database/datasheet/services/datasheet.service.ts
  packages/room-server/src/database/resource/services/meta.service.ts
Due: none

chore: changelog for v0.99.1-beta
  CHANGELOG.md
Due: none

fix(databus): ai model field: model
  packages/datasheet/server.js
Due: none

chore: changelog for v0.99.1-beta (#1243)
  CHANGELOG.md
Due: none

Revert "fix(databus): ai model field: model"
  packages/datasheet/server.js
Due: none

feat: automation db changeset (#6967)
  init-db/src/main/resources/db/changelog/0.99/20230822_changeset.xml
  init-db/src/main/resources/db/changelog/0.99/master.xml
Due: none

fix: fix useless semicolons (#6976)
  packages/datasheet/src/pc/components/robot/robot_detail/robot_run_history/robot_run_history_item_detail_trigger.tsx
Due: none

fix: form image height conver (#6978)
  packages/datasheet/src/pc/components/common/logo/logo.tsx
Due: none

feat: return used credit in space info api (#6984)
  backend-server/application/src/main/java/com/apitable/interfaces/ai/facade/AiServiceFacade.java
  backend-server/application/src/main/java/com/apitable/interfaces/ai/facade/DefaultAiServiceFacadeImpl.java
  backend-server/application/src/main/java/com/apitable/shared/support/serializer/CreditUnitSerializer.java
  backend-server/application/src/main/java/com/apitable/shared/support/serializer/OrderAmountSerializer.java
  backend-server/application/src/main/java/com/apitable/space/service/impl/SpaceServiceImpl.java
  backend-server/application/src/main/java/com/apitable/space/vo/SpaceInfoVO.java
  packages/core/src/modules/enterprise/index.ts
Due: build_widget_stage, deploy_widget_stage

refactor: automation module (#6986)
  backend-server/application/src/main/java/com/apitable/automation/entity/AutomationActionEntity.java
  backend-server/application/src/main/java/com/apitable/automation/entity/AutomationRobotEntity.java
  backend-server/application/src/main/java/com/apitable/automation/entity/AutomationTriggerEntity.java
  backend-server/application/src/main/java/com/apitable/automation/enums/AutomationException.java
  backend-server/application/src/main/java/com/apitable/automation/mapper/AutomationActionMapper.java
  backend-server/application/src/main/java/com/apitable/automation/mapper/AutomationRobotMapper.java
  backend-server/application/src/main/java/com/apitable/automation/mapper/AutomationTriggerMapper.java
  backend-server/application/src/main/java/com/apitable/automation/model/AutomationRobotDto.java
  backend-server/application/src/main/java/com/apitable/automation/model/AutomationTriggerDto.java
  backend-server/application/src/main/java/com/apitable/automation/service/IAutomationActionService.java
  backend-server/application/src/main/java/com/apitable/automation/service/IAutomationRobotService.java
  backend-server/application/src/main/java/com/apitable/automation/service/IAutomationTriggerService.java
  backend-server/application/src/main/java/com/apitable/automation/service/impl/AutomationActionServiceImpl.java
  backend-server/application/src/main/java/com/apitable/automation/service/impl/AutomationRobotServiceImpl.java
  backend-server/application/src/main/java/com/apitable/automation/service/impl/AutomationTriggerServiceImpl.java
  backend-server/application/src/main/resources/mapper/automation/AutomationActionMapper.xml
  backend-server/application/src/main/resources/mapper/automation/AutomationRobotMapper.xml
  backend-server/application/src/main/resources/mapper/automation/AutomationTriggerMapper.xml
Due: none

fix: get response header error (#6987)
  packages/room-server/src/socket/filter/http-exception.filter.ts
Due: none

Path conditions:
  install_cypress: any of: packages/cypress/package.json
  build_vika_design: any of: packages/components/docs/*, packages/components/src/*, packages/components/package.json
  deploy_vika_design: any of: packages/components/docs/*, packages/components/src/*, packages/components/package.json
  build_widget_stage: any of: packages/components/**/*, packages/core/**/*, packages/icon/**/*, packages/widget-stage/**/*, packages/widget-sdk/**/*, packages/i18n-lang/**/*
  deploy_widget_stage: any of: packages/components/**/*, packages/core/**/*, packages/icon/**/*, packages/widget-stage/**/*, packages/widget-sdk/**/*, packages/i18n-lang/**/*
