Repository apitable/apitable: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install_cypress, build_vika_design, deploy_vika_design, build_widget_stage, deploy_widget_stage

Path conditions:
  install_cypress: any of: packages/cypress/package.json
  build_vika_design: any of: packages/components/docs/*, packages/components/src/*, packages/components/package.json
  deploy_vika_design: any of: packages/components/docs/*, packages/components/src/*, packages/components/package.json
  build_widget_stage: any of: packages/components/**/*, packages/core/**/*, packages/icon/**/*, packages/widget-stage/**/*, packages/widget-sdk/**/*, packages/i18n-lang/**/*
  deploy_widget_stage: any of: packages/components/**/*, packages/core/**/*, packages/icon/**/*, packages/widget-stage/**/*, packages/widget-sdk/**/*, packages/i18n-lang/**/*

refactor: add env for max reversion (#11236)
  packages/room-server/src/database/ot/interfaces/ot.interface.ts
Due: none

fix all in one script
  packaging/all-in-one/all-in-one/script/init-appdata.sh
Due: none

fix: limit mirror record subscription (#11505)
  packages/datasheet/src/pc/components/view/view.tsx
Due: none

chore: upgrade stripe version
  backend-server/gradle/libs.versions.toml
Due: none

chore: upgrade stripe sdk version (#11508)
  backend-server/gradle/libs.versions.toml
Due: none

Remove duplicate JCenter Maven repository entries
  backend-server/build.gradle
Due: none

fix: workdoc document add indexdb cache (#11511)
  packages/datasheet/package.json
  pnpm-lock.yaml
Due: none

fix: service "init-db" didn't completed successfully
  docker-compose.yaml
Due: none

feat: affonso connect (#11520)
  packages/datasheet/pages/_app.tsx
Due: none

fix: utc match daylight (#11522)
  packages/core/src/config/timezones.ts
Due: build_widget_stage, deploy_widget_stage

fix: follow user time zone format (#11523)
  packages/core/src/config/timezones.ts
Due: build_widget_stage, deploy_widget_stage

feat: upgrade ali captcha (#11525)
  backend-server/application/build.gradle
  backend-server/gradle/libs.versions.toml
  packages/core/src/config/constant.ts
  packages/datasheet/pages/_document.tsx
  packages/datasheet/src/pc/components/catalog/share_node/teamwork/teamwork.tsx
  packages/datasheet/src/pc/components/common/input/identifying_code_input/identifying_code_input.tsx
  packages/datasheet/src/pc/components/home/components/forget_password/forget_password.tsx
  packages/datasheet/src/pc/components/home/components/login/login.tsx
  packages/datasheet/src/pc/components/invite/invite_outsider/components/file_selected.tsx
  packages/datasheet/src/pc/components/invite/invite_outsider/import_file/import_file.tsx
  packages/datasheet/src/pc/components/invite/invite_outsider/input_email/input_email.tsx
  packages/datasheet/src/pc/components/invite/invite_outsider/invite_outsider_modal.tsx
  packages/datasheet/src/pc/components/invite/link_invite/link_confirm.tsx
  packages/datasheet/src/pc/components/invite/use_invite.tsx
  packages/datasheet/src/pc/components/reset_password/reset_password.tsx
  packages/datasheet/src/pc/components/upload_modal/upload_core/upload_core.interface.ts
  packages/datasheet/src/pc/components/upload_modal/upload_core/upload_core.tsx
  packages/datasheet/src/pc/components/upload_modal/upload_item/upload_item.tsx
  packages/datasheet/src/pc/components/upload_modal/upload_tab/upload_tab.tsx
  packages/datasheet/src/pc/hooks/index.ts
  packages/datasheet/src/pc/hooks/use_invite_request.ts
  packages/datasheet/src/pc/hooks/use_no_trace_verification.tsx
  packages/datasheet/src/pc/hooks/use_user_request.ts
  packages/datasheet/src/pc/utils/no_trace_verification.ts
  packages/datasheet/src/pc/utils/upload_manager.ts
Due: build_widget_stage, deploy_widget_stage

fix: fetch sms code invalidate in reset password page (#11528)
  packages/datasheet/src/pc/components/common/input/identifying_code_input/identifying_code_input.tsx
  packages/datasheet/src/pc/components/reset_password/reset_password.tsx
Due: none

feat: implement shared captcha verification for anonymous forms with attachments (#11531)
  packages/datasheet/src/pc/components/form_container/form_container.tsx
  packages/datasheet/src/pc/components/form_container/form_context.ts
  packages/datasheet/src/pc/components/upload_modal/upload_tab/upload_tab.tsx
Due: none

fix: dingtalk-jsapi upgrade to v3 (#11532)
  packages/datasheet/package.json
  pnpm-lock.yaml
Due: none

fix: dingtalk jssdk only client env (#11537)
  packages/datasheet/src/pc/components/navigation/user_menu/user_menu.tsx
  packages/datasheet/src/pc/components/template_centre/template_detail/template_detail.tsx
Due: none

fix: time machine datasheet export excel crash (#11542)
  packages/datasheet/src/pc/utils/catalog.ts
Due: none

fix: improve team duplicate error message
  backend-server/application/src/main/resources/sysconfig/strings.json
  packages/datasheet/public/file/langs/strings.de-DE.json
  packages/datasheet/public/file/langs/strings.en-US.json
  packages/datasheet/public/file/langs/strings.it-IT.json
  packages/i18n-lang/src/config/strings.de-DE.json
  packages/i18n-lang/src/config/strings.en-US.json
  packages/i18n-lang/src/config/strings.es-ES.json
  packages/i18n-lang/src/config/strings.fr-FR.json
  packages/i18n-lang/src/config/strings.it-IT.json
  packages/i18n-lang/src/config/strings.ja-JP.json
  packages/i18n-lang/src/config/strings.ko-KR.json
  packages/i18n-lang/src/config/strings.ru-RU.json
Due: build_widget_stage, deploy_widget_stage

docs(README_ZH): 移除冗余简体中文README，并将内容与 `/docs/readme/zh_CN/README.md` 合并。
  README_ZH.md
  docs/readme/zh-CN/README.md
Due: none

Add RepoCloud deploy button
  README.md
Due: none

Update README.md
  README.md
Due: none

fix: handle CRLF line breaks in grid text
  packages/datasheet/src/pc/components/konva_grid/utils/__tests__/drawer.test.ts
  packages/datasheet/src/pc/components/konva_grid/utils/drawer.ts
Due: none

fix: handle empty member cells when pasting
  packages/datasheet/src/pc/common/clipboard/clipboard.test.ts
  packages/datasheet/src/pc/common/clipboard/clipboard.ts
Due: none

chore: bump version to 1.14.0 (#11584)
  .bumpversion.cfg
  .version
  backend-server/.version
  init-db/.version
  package.json
  packages/ai-components/package.json
  packages/components/package.json
  packages/core/package.json
  packages/cypress/package.json
  packages/databus-client/package.json
  packages/databus-wasm-nodejs/package.json
  packages/databus-wasm-web/package.json
  packages/datasheet/package.json
  packages/i18n-lang/package.json
  packages/icons/package.json
  packages/room-server/package.json
  packages/widget-sdk/package.json
Due: install_cypress, build_vika_design, deploy_vika_design, build_widget_stage, deploy_widget_stage
