Repository apitable/apitable: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install_cypress, build_vika_design, deploy_vika_design, build_widget_stage, deploy_widget_stage

install_cypress:
  before_script:
  - yarn config get npmRegistryServer
  - yarn config set npmRegistryServer https://nexus.vika.ltd/repository/npm-group/
  tags:
  - node
  stage: install
  image: node:$NODE_JS_VERSION-alpine
  when: manual
  cache:
    key: ${CI_PROJECT_NAME}_${CI_COMMIT_REF_NAME}
    paths:
    - node_modules/
  ...

build_vika_design:
  before_script:
  - yarn config get npmRegistryServer
  - yarn config set npmRegistryServer https://nexus.vika.ltd/repository/npm-group/
  stage: build
  image: node:$NODE_JS_VERSION-alpine
  script:
  - echo "build vika design components"
  - yarn workspaces focus @vikadata/components
  - yarn build:icons
  ...

deploy_vika_design:
  script:
  - aws s3 cp packages/components/styleguide s3://bundle.vika.ltd/component  --recursive --include "*"
  stage: deploy
  dependencies:
  - build_vika_design
  image: vikadata/dind-aws-node

build_widget_stage:
  tags:
  - node
  stage: build
  image: node:$NODE_JS_VERSION-alpine
  artifacts:
    name: ${CI_PROJECT_NAME}_${CI_JOB_NAME}_${CI_COMMIT_REF_NAME}_${CI_COMMIT_SHA}_widget_stage
    paths:
    - packages/widget-stage/build/
    expire_in: 1 weeks

deploy_widget_stage:
  tags:
  - node
  stage: deploy
  needs:
  - job: build_widget_stage
  image: vikadata/dind-aws-node
  before_script:
  - WIDGET_STAGE_ENV=$(echo $CI_COMMIT_REF_NAME)
  services:
  - name: vikadata/dind-aws-node
    command:
    - --registry-mirror=https://nt14bg6k.mirror.aliyuncs.com
  variables:
    GIT_STRATEGY: none
  ...

fix: Silver tag color (#1685)
  packages/datasheet/src/pc/components/subscribe_system/subscribe_label/subscribe_label.tsx
Due: none

fix: drawer close btn style (#1689)
  packages/datasheet/src/pc/styles/global_components/other.less
Due: none

fix: Move the file, the icon / of the file path is not in the correct position #1678 (#1690)
  packages/datasheet/src/pc/components/catalog/move_to/style.module.less
Due: none

refactor: add sentry capture (#1692)
  packages/datasheet/pages/_app.tsx
  packages/datasheet/src/error_page.tsx
Due: none

Staging To Integration (#1673)
  .bumpversion.cfg
  .version
  Makefile
  backend-server/.version
  backend-server/gradle.properties
  init-db/.version
  package.json
  packages/components/package.json
  packages/components/src/components/checkbox/checkbox.tsx
  packages/core/package.json
  packages/cypress/package.json
  packages/datasheet/package.json
  packages/datasheet/pages/_app.tsx
  packages/datasheet/src/error_page.tsx
  packages/datasheet/src/pc/components/catalog/move_to/style.module.less
  packages/datasheet/src/pc/components/navigation/account_center_modal/account_center_modal.tsx
  packages/datasheet/src/pc/styles/global_components/other.less
  packages/i18n-lang/package.json
  packages/icons/package.json
  packages/room-server/package.json
  packages/socket-server/package.json
  packages/widget-sdk/package.json
Due: install_cypress, build_vika_design, deploy_vika_design, build_widget_stage, deploy_widget_stage

chore: README add keep changelog
  README.md
Due: none

fix: breadcrumb separator (#1696)
  packages/datasheet/src/pc/styles/global_components/other.less
Due: none

refactor: modify share node permission (#1697)
  backend-server/application/src/main/java/com/vikadata/api/model/vo/node/DatasheetPermissionView.java
  backend-server/application/src/main/java/com/vikadata/api/modular/internal/service/impl/PermissionServiceImpl.java
  backend-server/application/src/main/java/com/vikadata/api/modular/workspace/service/impl/NodeShareServiceImpl.java
  packages/room-server/src/database/services/node/node.permission.service.ts
  packages/room-server/src/shared/interfaces/axios.interfaces.ts
Due: none

fix: breadcrumb last item color (#1700)
  packages/datasheet/src/pc/styles/global_components/other.less
Due: none

chore: README
  README.md
Due: none

chore: update settings (#1710)
  packages/core/src/config/system_config.auto.json
  packages/core/src/config/system_config.interface.ts
  packages/core/src/model/utils.ts
  yarn.lock
Due: build_widget_stage, deploy_widget_stage

fix: mobile member select (#1713)
  packages/datasheet/src/pc/components/form_container/form_field_container/style.module.less
  packages/datasheet/src/pc/components/list/common_list/styles.module.less
Due: none

fix: rangePicker disappear (#1714)
  packages/datasheet/src/pc/components/tool_bar/view_filter/filter_value/filter_date/filter_date.tsx
Due: none

Revert "chore: update settings" (#1718)
  packages/core/src/config/system_config.auto.json
  packages/core/src/config/system_config.interface.ts
  packages/core/src/model/utils.ts
  yarn.lock
Due: build_widget_stage, deploy_widget_stage

fix: widget loading (#1721)
  packages/widget-sdk/src/hooks/private/use_widget_loader.ts
Due: build_widget_stage, deploy_widget_stage

chore: bumped version number to v0.15.0
  .bumpversion.cfg
  .version
  backend-server/.version
  backend-server/gradle.properties
  init-db/.version
  package.json
  packages/components/package.json
  packages/core/package.json
  packages/cypress/package.json
  packages/datasheet/package.json
  packages/i18n-lang/package.json
  packages/icons/package.json
  packages/room-server/package.json
  packages/socket-server/package.json
  packages/widget-sdk/package.json
Due: install_cypress, build_vika_design, deploy_vika_design, build_widget_stage, deploy_widget_stage

fix: Relaxation of restrictions on the number of views (#1724)
  packages/core/src/config/system_config.auto.json
  packages/core/src/config/system_config.interface.ts
  packages/core/src/model/utils.ts
Due: build_widget_stage, deploy_widget_stage

chore: README contributing
  README.md
Due: none

fix: static cnd host (#1728)
  packages/core/src/utils/file.ts
Due: build_widget_stage, deploy_widget_stage

fix: teg ignore-urls not load (#1725)
  backend-server/application/src/main/resources/application.yml
  backend-server/vikadata-boot-autoconfigure/src/main/resources/META-INF/spring.factories
Due: none

fix: static cdn host (#1731)
  packages/core/src/utils/file.ts
Due: build_widget_stage, deploy_widget_stage

fix: notification page cannot be scrolled (#1732)
  packages/datasheet/package.json
  packages/datasheet/src/pc/components/notification/style.module.less
  yarn.lock
Due: none

docs: update developer guide for windows
  docs/contribute/developer-guide.md
  docs/contribute/windows-guide.md
Due: none

Fix/form single select crash (#1737)
  packages/datasheet/src/pc/components/form_container/form_container.tsx
Due: none

fix: use corepack enable
  docs/contribute/developer-guide.md
Due: none

fix: add new line
  docs/contribute/developer-guide.md
Due: none

docs: update developer guide for windows (#4)
  docs/contribute/developer-guide.md
  docs/contribute/windows-guide.md
Due: none

docs: remove the windows setup as it is in APITable Developer Guide (#1736)
  docs/contribute/developer-guide.md
  docs/contribute/windows-guide.md
Due: none

feat: automation robot configuation api (#1726)
  backend-server/application/src/main/java/com/vikadata/api/enums/developer/GmAction.java
  backend-server/application/src/main/java/com/vikadata/api/modular/automation/controller/ActionTypeController.java
  backend-server/application/src/main/java/com/vikadata/api/modular/automation/controller/AutomationController.java
  backend-server/application/src/main/java/com/vikadata/api/modular/automation/controller/TriggerTypeController.java
  backend-server/application/src/main/java/com/vikadata/api/modular/automation/mapper/AutomationActionTypeMapper.java
  backend-server/application/src/main/java/com/vikadata/api/modular/automation/mapper/AutomationServiceMapper.java
  backend-server/application/src/main/java/com/vikadata/api/modular/automation/mapper/AutomationTriggerTypeMapper.java
  backend-server/application/src/main/java/com/vikadata/api/modular/automation/model/ActionTypeCreateRO.java
  backend-server/application/src/main/java/com/vikadata/api/modular/automation/model/ActionTypeEditRO.java
  backend-server/application/src/main/java/com/vikadata/api/modular/automation/model/AutomationServiceCreateRO.java
  backend-server/application/src/main/java/com/vikadata/api/modular/automation/model/AutomationServiceEditRO.java
  backend-server/application/src/main/java/com/vikadata/api/modular/automation/model/TriggerTypeCreateRO.java
  backend-server/application/src/main/java/com/vikadata/api/modular/automation/model/TriggerTypeEditRO.java
  backend-server/application/src/main/java/com/vikadata/api/modular/automation/service/IAutomationActionTypeService.java
  backend-server/application/src/main/java/com/vikadata/api/modular/automation/service/IAutomationService.java
  backend-server/application/src/main/java/com/vikadata/api/modular/automation/service/IAutomationTriggerTypeService.java
  backend-server/application/src/main/java/com/vikadata/api/modular/automation/service/impl/AutomationActionTypeServiceImpl.java
  backend-server/application/src/main/java/com/vikadata/api/modular/automation/service/impl/AutomationServiceImpl.java
  backend-server/application/src/main/java/com/vikadata/api/modular/automation/service/impl/AutomationTriggerTypeServiceImpl.java
  backend-server/application/src/main/java/com/vikadata/api/util/IdUtil.java
  backend-server/application/src/main/resources/mapper/automation/AutomationActionTypeMapper.xml
  backend-server/application/src/main/resources/mapper/automation/AutomationServiceMapper.xml
  backend-server/application/src/main/resources/mapper/automation/AutomationTriggerTypeMapper.xml
Due: none

feat/databus (#1739)
  packages/core/src/databus/__tests__/databus.test.ts
  packages/core/src/databus/__tests__/mock.command.handler.ts
  packages/core/src/databus/__tests__/mock.data.loader.ts
  packages/core/src/databus/__tests__/mock.datasheets.ts
  packages/core/src/databus/changeset.processor.ts
  packages/core/src/databus/data_loader.interface.ts
  packages/core/src/databus/database.processor.ts
  packages/core/src/databus/databus.manager.ts
  packages/core/src/databus/datasheet.processor.ts
  packages/core/src/databus/errors.ts
  packages/core/src/databus/event_handler.interface.ts
  packages/core/src/databus/event_type.enum.ts
  packages/core/src/databus/index.ts
  packages/core/src/databus/record.processor.ts
  packages/room-server/src/database/services/command/command.options.service.ts
  packages/room-server/src/database/services/command/command.service.ts
  packages/room-server/src/database/services/command/i.command.interface.ts
  packages/room-server/src/database/services/command/i.command.options.interface.ts
  packages/room-server/src/database/services/databus/databus.service.ts
  packages/room-server/src/database/services/databus/server.data.loader.ts
  packages/room-server/src/database/services/datasheet/datasheet.changeset.service.ts
  packages/room-server/src/database/services/datasheet/datasheet.record.subscription.service.ts
  packages/room-server/src/database/services/datasheet/datasheet.service.ts
  packages/room-server/src/database/services/event/event.service.ts
  packages/room-server/src/database/services/form/form.service.ts
  packages/room-server/src/fusion/services/fusion.api.service.ts
  packages/room-server/src/shared/global.module.ts
  packages/room-server/src/shared/services/sched_task/sched.task.service.ts
  packages/room-server/src/shared/shared.module.ts
Due: build_widget_stage, deploy_widget_stage

fix: debounce change (#1742)
  packages/datasheet/src/pc/components/form_container/form_container.tsx
  packages/datasheet/src/pc/components/form_container/form_field_container/style.module.less
Due: none

fix: form crash (#1743)
  packages/datasheet/src/pc/components/multi_grid/format/format_select/mobile/format_select_mobile.tsx
Due: none

refactor: revert code (#1745)
  packages/core/src/utils/file.ts
Due: build_widget_stage, deploy_widget_stage

fix: mobile browser btn outline (#1747)
  packages/datasheet/src/pc/styles/global_components/other.less
Due: none

fix: expand record select style (#1750)
  packages/datasheet/src/pc/styles/global_components/other.less
Due: none

chore: `make gen` commands init, generate designs, icons, colors, settings, protobufs... (#1754)
  Makefile
Due: none

fix: template rediect (#1761)
  packages/datasheet/src/pc/components/template_centre/template_detail/template_detail.tsx
  packages/datasheet/src/pc/components/template_centre/template_preview/template_preview.tsx
Due: none

Path conditions:
  install_cypress: any of: packages/cypress/package.json
  build_vika_design: any of: packages/components/docs/*, packages/components/src/*, packages/components/package.json
  deploy_vika_design: any of: packages/components/docs/*, packages/components/src/*, packages/components/package.json
  build_widget_stage: any of: packages/components/**/*, packages/core/**/*, packages/icon/**/*, packages/widget-stage/**/*, packages/widget-sdk/**/*, packages/i18n-lang/**/*
  deploy_widget_stage: any of: packages/components/**/*, packages/core/**/*, packages/icon/**/*, packages/widget-stage/**/*, packages/widget-sdk/**/*, packages/i18n-lang/**/*
