Repository apitable/apitable: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install_cypress, build_vika_design, deploy_vika_design, build_widget_stage, deploy_widget_stage

Path conditions:
  install_cypress: any of: packages/cypress/package.json
  build_vika_design: any of: packages/components/docs/*, packages/components/src/*, packages/components/package.json
  deploy_vika_design: any of: packages/components/docs/*, packages/components/src/*, packages/components/package.json
  build_widget_stage: any of: packages/components/**/*, packages/core/**/*, packages/icon/**/*, packages/widget-stage/**/*, packages/widget-sdk/**/*, packages/i18n-lang/**/*
  deploy_widget_stage: any of: packages/components/**/*, packages/core/**/*, packages/icon/**/*, packages/widget-stage/**/*, packages/widget-sdk/**/*, packages/i18n-lang/**/*

fix: timezone abbr alarm overlap (#3826)
  packages/datasheet/src/pc/components/konva_grid/constant.ts
  packages/datasheet/src/pc/components/konva_grid/utils/cell_helper.ts
  packages/datasheet/src/pc/components/tool_bar/view_sort_and_group/view_field_options/view_field_options.tsx
Due: none

fix(room-native-api): removed syntax cause compile error
  packages/room-native-api/src/datasheet/services/record.rs
  packages/room-native-api/src/lib.rs
Due: none

fix(room-native-api): removed syntax cause compile error (#558)
  packages/room-native-api/src/datasheet/services/record.rs
  packages/room-native-api/src/lib.rs
Due: none

fix: quick search modal (#3827)
  packages/datasheet/src/pc/components/quick_search/style.module.less
  packages/widget-sdk/src/hooks/use_records.ts
Due: build_widget_stage, deploy_widget_stage

release: v0.18.0-rc.2 (#556)
  CHANGELOG.md
  packages/room-native-api/src/datasheet/services/record.rs
  packages/room-native-api/src/lib.rs
Due: none

fix: set router push options (#3829)
  packages/datasheet/src/pc/components/expand_record/utils.ts
  packages/datasheet/src/pc/components/route_manager/helper.ts
  packages/datasheet/src/pc/components/route_manager/interface.ts
  packages/datasheet/src/pc/components/route_manager/router.ts
Due: none

fix: quick search padding (#3837)
  packages/datasheet/src/pc/components/quick_search/default_content.tsx
  packages/datasheet/src/pc/components/quick_search/node/style.module.less
  packages/datasheet/src/pc/components/quick_search/style.module.less
Due: none

fix: components style (#3825)
  packages/datasheet/src/pc/components/common/steps/steps.tsx
  packages/datasheet/src/pc/components/field_permission/field_permission.tsx
  packages/datasheet/src/pc/components/field_permission/field_permission_plus.tsx
  packages/datasheet/src/pc/components/navigation/navigation.tsx
  packages/datasheet/src/pc/components/space_manage/space_info/components/change_name/style.module.less
  packages/datasheet/src/pc/components/space_manage/space_menu_tree/space_menu_tree.tsx
  packages/datasheet/src/pc/components/widget/widget_center/widget_package_item.tsx
  packages/datasheet/src/pc/components/workspace/welcome/welcome.tsx
  packages/icons/src/components/index.ts
  packages/icons/src/components/log_filled.tsx
  packages/icons/src/components/log_outlined.tsx
  packages/icons/src/components/robot_filled.tsx
  packages/icons/src/components/robot_outlined.tsx
  packages/icons/src/components/share_filled.tsx
  packages/icons/src/components/share_outlined.tsx
  packages/icons/src/doc_hide_components/highlight_filled.tsx
  packages/icons/src/doc_hide_components/highlight_outlined.tsx
Due: none

Fix cola (#3839)
  packages/datasheet/src/pc/components/dashboard_panel/dashboard/dashboard.tsx
  packages/datasheet/src/pc/components/space_manage/space_info/utils.tsx
Due: none

fix: components style (#3840)
  packages/datasheet/src/pc/components/common/input/password_input/password_input.tsx
Due: none

fix: toggle timezone force reload (#3838)
  packages/datasheet/pages/_app.tsx
  packages/datasheet/src/pc/components/expand_record/field_editor/field_title.tsx
Due: none

fix: server date time field time zone (#3844)
  packages/core/src/model/field/date_time_base_field.ts
Due: build_widget_stage, deploy_widget_stage

Fix cola (#3849)
  packages/core/src/config/track_events.ts
  packages/core/src/engine/buffer_storage.ts
  packages/core/src/engine/engine.ts
  packages/datasheet/pages/_app.tsx
  packages/datasheet/pages/_document.tsx
  packages/datasheet/public/file/js/sensors.js
  packages/datasheet/src/get_env.ts
  packages/datasheet/src/modules/shared/apphook/hook_bindings.ts
  packages/datasheet/src/pc/components/catalog/node_context_menu/context_menu_data.ts
  packages/datasheet/src/pc/components/common_side/address_side/address_side.tsx
  packages/datasheet/src/pc/components/common_side/template_category_side/template_category_side.tsx
  packages/datasheet/src/pc/components/common_side/workbench_side/workbench_side.tsx
  packages/datasheet/src/pc/components/expand_record/expand_record_vision_option.tsx
  packages/datasheet/src/pc/components/expand_record/record_opeation_area.tsx
  packages/datasheet/src/pc/components/form_container/form_container.tsx
  packages/datasheet/src/pc/components/navigation/account_center_modal/personalized_setting/language_setting/language_setting.tsx
  packages/datasheet/src/pc/components/navigation/account_center_modal/personalized_setting/record_vision_setting/record_vision_setting.tsx
  packages/datasheet/src/pc/components/navigation/account_center_modal/personalized_setting/theme_setting/theme_setting.tsx
  packages/datasheet/src/pc/components/navigation/help/help.tsx
  packages/datasheet/src/pc/components/navigation/navigation.tsx
  packages/datasheet/src/pc/components/navigation/navigation_item/navigation_item.tsx
  packages/datasheet/src/pc/components/navigation/user/user.tsx
  packages/datasheet/src/pc/components/route_manager/router_provider.tsx
  packages/datasheet/src/pc/components/tab_bar/tab/conetxt_menu/context_menu.tsx
  packages/datasheet/src/pc/components/tab_bar/tab_add_view/view_introduce_list.tsx
  packages/datasheet/src/pc/components/template_centre/template_centre.tsx
  packages/datasheet/src/pc/components/template_centre/template_use_button/template_use_button.tsx
  packages/datasheet/src/pc/components/template_centre/using_template_modal/using_template_modal.tsx
  packages/datasheet/src/pc/hooks/use_view_type_track.ts
  packages/datasheet/src/pc/utils/tracker.ts
  packages/datasheet/src/typings/index.d.ts
  packages/widget-sdk/src/resource/service.ts
Due: build_widget_stage, deploy_widget_stage

fix: set gantt default time zone (#3855)
  packages/datasheet/src/pc/components/gantt_view/components/task/task.tsx
  packages/datasheet/src/pc/components/gantt_view/gantt_view.tsx
  packages/datasheet/src/pc/components/gantt_view/utils/date.ts
Due: none

chore: sensors method replace to event bus
  backend-server/application/src/main/java/com/apitable/interfaces/eventbus/model/UserLoginEvent.java
Due: none

fix: delete auth0 user (#3851)
  backend-server/application/src/main/java/com/apitable/interfaces/user/facade/AbstractUserServiceFacadeImpl.java
  backend-server/application/src/main/java/com/apitable/interfaces/user/facade/UserServiceFacade.java
  backend-server/application/src/main/java/com/apitable/user/service/impl/UserServiceImpl.java
Due: none

fix: auth0 user email verification (#3846)
  backend-server/application/src/main/java/com/apitable/auth/controller/AuthController.java
  backend-server/application/src/main/java/com/apitable/interfaces/user/facade/AbstractUserServiceFacadeImpl.java
  backend-server/application/src/main/java/com/apitable/interfaces/user/facade/UserServiceFacade.java
  backend-server/application/src/main/java/com/apitable/user/controller/UserController.java
  backend-server/application/src/main/java/com/apitable/user/ro/EmailVerificationRo.java
Due: none

chore: add format exception about import node (#3857)
  backend-server/application/src/main/java/com/apitable/workspace/controller/NodeController.java
Due: none

fix: file name case conflict in the icons component
  packages/icons/src/components/Pause_filled.tsx
  packages/icons/src/components/pause_filled.tsx
Due: none

fix: internal permission issue (#3876)
  backend-server/application/src/main/java/com/apitable/workspace/service/impl/NodeRoleServiceImpl.java
Due: none

fix: components style (#3875)
  packages/datasheet/src/pc/components/common/record_card/record_card.tsx
  packages/datasheet/src/pc/components/datasheet_search_panel/datasheet_search_panel.tsx
  packages/datasheet/src/pc/components/mobile_grid/field_menu.tsx
  packages/datasheet/src/pc/components/multi_grid/cell/cell_link/cell_link.tsx
  packages/datasheet/src/pc/components/multi_grid/context_menu/context_menu.tsx
  packages/datasheet/src/pc/components/multi_grid/context_menu/field_menu.tsx
  packages/datasheet/src/pc/components/multi_grid/format/format_formula/styles.module.less
  packages/datasheet/src/pc/components/multi_grid/format/format_formula/value_type_icon.tsx
  packages/icons/src/components/description_filled.tsx
  packages/icons/src/components/description_outlined.tsx
  packages/icons/src/components/esc_filled.tsx
  packages/icons/src/components/esc_outlined.tsx
  packages/icons/src/components/index.ts
  packages/icons/src/doc_hide_components/index.ts
  packages/icons/src/doc_hide_components/select_mark_filled.tsx
Due: none

fix: notify timezone (#3878)
  packages/datasheet/src/pc/components/calendar_view/calendar_setting_panel/styles.module.less
  packages/datasheet/src/pc/components/editors/date_time_editor/style.module.less
  packages/datasheet/src/pc/components/gantt_view/components/setting_panel/style.module.less
  packages/datasheet/src/pc/components/multi_grid/format/format_date_time/format_date_time.tsx
  packages/datasheet/src/pc/components/notification/card/utils.tsx
Due: none

fix: dashboard don't check viewID (#3877)
  packages/room-server/src/database/datasheet/services/datasheet.meta.service.ts
Due: none

fix: embed bug (#3879)
  packages/core/src/modules/shared/api/api.ts
  packages/datasheet/src/get_env.ts
  packages/datasheet/src/pc/components/dashboard_panel/tab_bar/tab_bar.tsx
  packages/datasheet/src/pc/components/mobile_grid/add_record.tsx
Due: build_widget_stage, deploy_widget_stage

fix: quick search ui (#3880)
  packages/components/src/colors/dark.ts
  packages/components/src/colors/light.ts
  packages/core/src/config/api_tip_config.auto.json
  packages/core/src/config/stringkeys.interface.ts
  packages/core/src/config/system_config.auto.json
  packages/datasheet/src/pc/components/navigation/navigation.tsx
  packages/datasheet/src/pc/components/navigation/style.module.less
  packages/datasheet/src/pc/components/quick_search/footer_tips.tsx
  packages/datasheet/src/pc/components/quick_search/search_base.tsx
  packages/datasheet/src/pc/components/quick_search/style.module.less
  packages/datasheet/src/pc/styles/lib_colors.css
  packages/i18n-lang/src/config/strings.auto.json
  packages/i18n-lang/src/config/strings.json
Due: build_widget_stage, deploy_widget_stage

fix: open the shared record URL in a new tab, it cannot be displayed (#3882)
  packages/datasheet/src/pc/components/share/share.tsx
Due: none

chore: support define view name when importing node (#3885)
  backend-server/application/src/main/java/com/apitable/workspace/controller/NodeController.java
  backend-server/application/src/main/java/com/apitable/workspace/listener/CsvReadListener.java
  backend-server/application/src/main/java/com/apitable/workspace/listener/MultiSheetReadListener.java
  backend-server/application/src/main/java/com/apitable/workspace/ro/ImportExcelOpRo.java
  backend-server/application/src/main/java/com/apitable/workspace/service/INodeService.java
  backend-server/application/src/main/java/com/apitable/workspace/service/impl/NodeServiceImpl.java
Due: none

fix: remove unused test file
  backend-server/application/src/test/resources/file/工作簿5.xlsx
  backend-server/application/src/test/resources/file/空表.xlsx
Due: none

fix: remove unused test file (#565)
  backend-server/application/src/test/resources/file/工作簿5.xlsx
  backend-server/application/src/test/resources/file/空表.xlsx
Due: none

Fix cola (#3898)
  packages/core/src/config/system_config.auto.json
  packages/datasheet/src/pc/components/mirror/mirror_feature_tip/mirror_feature_tip.tsx
  packages/datasheet/src/pc/utils/file_type.ts
  packages/i18n-lang/src/config/strings.auto.json
  packages/i18n-lang/src/config/strings.json
  packages/widget-sdk/src/ui/cell_value/cell_attachment/utils/file_type.ts
  yarn.lock
Due: build_widget_stage, deploy_widget_stage

fix: view search result (#3897)
  packages/core/src/modules/database/store/selectors/resource/datasheet/calc.ts
  packages/core/src/modules/database/store/selectors/resource/datasheet/computed.ts
  packages/datasheet/src/pc/components/tool_bar/find/find_search_input.tsx
  packages/datasheet/src/pc/worker/store/compute.ts
Due: build_widget_stage, deploy_widget_stage

fix: share single node (#3900)
  packages/datasheet/src/pc/components/share/share.tsx
Due: none

fix: calendar view crash (#3899)
  packages/datasheet/src/pc/components/calendar_view/calendar_setting_panel/calendar_setting_panel.tsx
  packages/datasheet/src/pc/components/gantt_view/components/setting_panel/setting_panel.tsx
  packages/datasheet/src/pc/components/multi_grid/format/styles.module.less
Due: none

chore: bumped version to 0.19.0 (#3903)
  .bumpversion.cfg
  .version
  backend-server/.version
  backend-server/gradle.properties
  init-db/.version
  package.json
  packages/components/package.json
  packages/core/package.json
  packages/cypress/package.json
  packages/datasheet/package.json
  packages/i18n-lang/package.json
  packages/icons/package.json
  packages/room-server/package.json
  packages/widget-sdk/package.json
Due: install_cypress, build_vika_design, deploy_vika_design, build_widget_stage, deploy_widget_stage

feat: fusion api time zone (#3886)
  backend-server/application/src/test/resources/file/工作簿5.xlsx
  backend-server/application/src/test/resources/file/空表.xlsx
  packages/core/src/formula_parser/__tests__/text.test.ts
  packages/core/src/model/field/date_time_base_field.ts
  packages/core/src/model/field/field.ts
  packages/core/src/model/field/formula_field.ts
  packages/core/src/model/field/lookup_field.ts
  packages/core/src/model/record.ts
  packages/core/src/model/utils.ts
  packages/core/src/types/field_api_property_types.ts
  packages/core/src/types/field_types.ts
  packages/room-native-api/src/datasheet/services/record.rs
  packages/room-native-api/src/lib.rs
  packages/room-server/src/fusion/dtos/field.property.dto.ts
  packages/room-server/src/fusion/field/base.field.ts
  packages/room-server/src/fusion/field/date.time.field.spec.ts
  packages/room-server/src/fusion/services/fusion.api.service.ts
  packages/room-server/src/fusion/transformer/fusion.api.transformer.ts
  packages/room-server/src/shared/interfaces/datasheet.interface.ts
Due: build_widget_stage, deploy_widget_stage

fix: quick search style (#3904)
  packages/core/src/config/stringkeys.interface.ts
  packages/core/src/config/system_config.auto.json
  packages/datasheet/src/pc/components/quick_search/footer_tips.tsx
  packages/datasheet/src/pc/components/quick_search/modal_wrapper.tsx
  packages/datasheet/src/pc/components/quick_search/node/node.tsx
  packages/datasheet/src/pc/components/quick_search/node/style.module.less
  packages/datasheet/src/pc/components/quick_search/style.module.less
  packages/i18n-lang/src/config/strings.auto.json
  packages/i18n-lang/src/config/strings.json
Due: build_widget_stage, deploy_widget_stage

fix: error help url open in new tab (#3907)
  packages/datasheet/src/pc/resource_service/error.ts
Due: none

chore: invite new user reward capacity (#3906)
  backend-server/application/src/main/java/com/apitable/auth/service/impl/AuthServiceImpl.java
  backend-server/application/src/main/java/com/apitable/space/service/impl/InvitationServiceImpl.java
Due: none

fix: exchange frontend and backend guide configuration first (#3909)
  packages/datasheet/pages/_app.tsx
Due: none

fix: default capacity size calculate error (#3889)
  backend-server/application/src/main/java/com/apitable/interfaces/billing/model/SubscriptionInfo.java
Due: none
